{% load dsfr_tags partials stimulus widget_tweaks %}

<div
    class="document-upload-container"
    data-controller="document-form"
    {% if not form.instance.pk %}data-document-form-file-id-value="__file_id__"{% endif %}
    data-document-form-loading-class="loading"
    data-document-form-error-class="error"
    data-document-form-document-formset-outlet="[data-controller='document-formset']"
>
    {% partialdef form_content inline %}
        <section class="document-upload-accordion fr-accordion" data-testid="document-upload">
            <div class="fr-accordion__title">
                <div class="document-upload-accordion__label">
                    <h3
                        class="document-upload-accordion__title fr-text"
                        data-document-form-target="accordionTitle"
                        data-testid="document-upload-title"
                    >{% if form.instance.pk %}{{ form.instance.nom }}{% endif %}</h3>
                    <p class="fr-tag fr-tag--sm" data-document-form-target="accordionTypeLabel">
                        {% if form.instance.pk %}{{ form.instance.get_document_type_display }}{% endif %}
                    </p>
                </div>
                <div class="fr-btns-group fr-btns-group--inline fr-btns-group--sm fr-mb-n4v">
                    <button
                        type="button"
                        class="fr-btn fr-btn--sm fr-icon-edit-line fr-btn--icon-left fr-btn--tertiary"
                        aria-expanded="false"
                        data-action="document-form#onModify:stop:prevent"
                        data-testid="open-accordion"
                    >
                        Modifier
                    </button>
                    <button
                        type="button"
                        class="fr-btn fr-btn--sm fr-icon-delete-bin-line fr-btn--tertiary"
                        data-action="document-form#onDelete:stop:prevent"
                    >
                        Supprimer
                    </button>
                </div>
            </div>
            <div class="fr-collapse" data-document-form-target="accordionContent">
                <form
                    action="{% url "document-upload" %}"
                    enctype="multipart/form-data"
                    method="post"
                    data-action="document-form#onSubmit:stop:prevent"
                    data-document-form-target="form"
                >
                    {% dsfr_form_field form.nom|set_data:"document-form-target:documentName"|set_data:"action:document-form#onDocumentNameChanged" %}
                    {% dsfr_form_field form.document_type|set_data:"document-form-target:documentType"|set_data:"action:document-form#onDocumentTypeChanged"|set_data:"testid:document-upload-type" %}
                    {% dsfr_form_field form.description %}
                    {% if form.instance.pk %}
                        {# Don't render the file input if document exists in database to allow editing #}
                        <input name="id" type="hidden" value="{{ form.instance.pk }}" />
                    {% else %}
                        {{ form.file|add_class:"fr-hidden"|set_data:"document-form-target:documentFile"|set_data:"action:document-form#onFileChanged" }}
                    {% endif %}
                    {{ form.content_type }}
                    {{ form.object_id }}
                </form>
            </div>
        </section>

        <template data-document-form-target="networkErrorTpl">
            <div id="id_nom-desc-error">
                <ul class="errorlist">
                    <li class="fr-error-text">
                        Il y a eu un problème réseau lors de la soumission du document ; veuillez réessayer.
                    </li>
                </ul>
            </div>
        </template>
    {% endpartialdef %}
</div>
