.document-card {
    display: flex;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem 0 0;
    word-break: break-all;
    background-color: var(--background-default-grey);
    border-radius: 0.225rem;
}

.document-card:first-child {
    margin-top: 1rem;
}

.document-card .document-title {
    flex-grow: 1;
    align-content: center;
}

.document-upload-drag-drop {
    position: relative;
    padding: 0;
    margin: 0;
    border: 1px solid var(--border-default-grey);
    border-radius: 0.25rem;
}

.document-upload-drag-drop .document-upload-drag-drop--zone {
    padding: 3rem;
    margin: 0;
    text-align: center;
}

/* This prevent the dragging style from flickering when overing children elements by covering everything */
.document-upload-drag-drop.document-upload-drag-drop--dragging .document-upload-drag-drop--zone:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    content: " ";
}

.document-upload-drag-drop.document-upload-drag-drop--dragging {
    color: var(--text-disabled-grey);
    background-color: var(--artwork-background-blue-france);
    border: 1px solid var(--border-disabled-grey);
}

.document-upload-drag-drop.document-upload-drag-drop--dragging [for="filechooser-btn"] {
    opacity: 30%;
}

.document-upload-drag-drop.document-upload-drag-drop--disabled .document-upload-drag-drop--zone,
.document-upload-drag-drop.document-upload-drag-drop--disabled .document-upload-drag-drop--zone * {
    pointer-events: none;
    cursor: not-allowed;
}

.document-upload-drag-drop.document-upload-drag-drop--disabled {
    border: 1px solid var(--border-disabled-grey);
}

.document-upload-drag-drop.document-upload-drag-drop--disabled .document-upload-drag-drop--zone {
    color: var(--text-disabled-grey);
}

.document-upload-drag-drop.document-upload-drag-drop--disabled
    .document-upload-drag-drop--zone
    [for="filechooser-btn"] {
    opacity: 30%;
}

/* Link design for file input label */
.document-upload-drag-drop [for="filechooser-btn"] {
    --hover-tint: var(--idle);
    --active-tint: var(--active);
    display: inline;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--text-action-high-blue-france);
    text-decoration: var(--text-decoration);
    cursor: pointer;
    background-image: var(--underline-img), var(--underline-img);
    background-repeat: no-repeat, no-repeat;
    background-position:
        var(--underline-x) 100%,
        var(--underline-x) calc(100% - var(--underline-thickness));
    background-size:
        var(--underline-hover-width) calc(var(--underline-thickness) * 2),
        var(--underline-idle-width) var(--underline-thickness);
    transition: background-size 0s;
}

.document-upload-drag-drop [for="filechooser-btn"]:active,
.document-upload-drag-drop [for="filechooser-btn"]:hover {
    --underline-hover-width: var(--underline-max-width);
}

.document-upload-drag-drop [for="filechooser-btn"]:hover {
    background-color: var(--hover-tint);
}

.document-upload-drag-drop [for="filechooser-btn"]:active {
    background-color: var(--active-tint);
}

.document-upload-drag-drop [for="filechooser-btn"]:focus-visible {
    outline-style: solid;
}

.document-upload-drag-drop [for="filechooser-btn"]:focus {
    outline: #0a76f6 solid 2px;
    outline-offset: 2px;
}

.document-upload-drag-drop--accordion-container:has(*) {
    margin: 0 0 2rem;
}

.document-upload-drag-drop--accordion-container .document-upload-container:not(:first-child) {
    margin: 0.5rem 0 0;
}

.document-modal--loading button[type="submit"] {
    max-width: 100%;
    max-height: none;
    overflow: initial;
    pointer-events: none;
}

.document-modal--loading button[type="submit"]::before,
.document-cards-container .document-card.loading button[type="submit"]::before,
.document-upload-container.deleting button.delete-btn[type="button"]::before {
    --icon-size: 1rem;
    box-sizing: border-box;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    margin-right: 0.5rem;
    margin-left: calc(-0.125rem + 3px);
    content: " ";
    background-color: transparent;
    border: 0.225rem solid var(--text-inverted-blue-france);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    mask-image: none;
    mask-size: 100% 100%;

    animation: rotation 1s linear infinite;
}

.document-modal--loading button[type="submit"].fr-btn--tertiary::before,
.document-cards-container .document-card.loading button[type="submit"].fr-btn--tertiary::before,
.document-upload-container.deleting button.delete-btn[type="button"].fr-btn--tertiary::before {
    border-color: var(--text-action-high-blue-france);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.document-modal--loading button[type="submit"]:disabled::before {
    border-color: var(--text-disabled-grey);
}
