.document-upload-accordion.fr-accordion:before {
    box-shadow: none;
}

.document-upload-accordion.fr-accordion .fr-accordion__title {
    border-radius: .25rem;
    display: flex;
    padding: .75rem 1.25rem;
    background-color: var(--background-alt-grey);
    word-break: break-all;
}

.document-upload-accordion .document-upload-accordion__label {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 10;
    flex-wrap: wrap;
    margin-left: -.5rem;
}

.document-upload-accordion .document-upload-accordion__label > * {
    margin-left: .5rem;
    margin-right: .5rem;
    margin-bottom: 0;
}

.document-upload-accordion .document-upload-accordion__title {
    align-content: center;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.document-upload-accordion .fr-accordion__title .fr-btns-group {
    justify-content: end;
}

.document-upload-accordion .fr-accordion__title .fr-btns-group .fr-btn--icon-left {
    width: initial !important;
    max-width: initial !important;
}

.document-modal--loading button[type="submit"] {
    max-height: none;
    max-width: 100%;
    overflow: initial;
    pointer-events: none;
}

.document-modal--loading button[type="submit"]::before {
    --icon-size: 1rem;

    animation: rotation 1s linear infinite;
    border: .225rem solid var(--text-inverted-blue-france);
    border-bottom-color: transparent !important;
    border-radius: 50%;
    background-color: transparent;
    box-sizing: border-box;
    content: " ";
    display: inline-block;
    height: var(--icon-size);
    margin-left: -.125rem;
    margin-right: .5rem;
    mask-size: 100% 100%;
    width: var(--icon-size);
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.document-modal--loading button[type="submit"]:disabled::before {
    border-color: var(--text-disabled-grey);
}
