.document-upload-accordion.fr-accordion:before {
    box-shadow: none;
}

.document-upload-accordion.fr-accordion .fr-accordion__title {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    word-break: break-all;
    background-color: var(--background-alt-grey);
    border-radius: 0.25rem;
}

.document-upload-accordion.fr-accordion .document-upload-accordion__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0.75rem 1.25rem;
}

.document-upload-accordion .document-upload-accordion__title-group {
    display: flex;
    flex-grow: 10;
    flex-flow: row nowrap;
    flex-wrap: wrap;
    margin-left: -0.5rem;
}

.document-upload-accordion .document-upload-accordion__title-group > * {
    margin-right: 0.5rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.document-upload-accordion .document-upload-accordion__title {
    align-content: center;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5rem;
}

.document-upload-accordion .fr-accordion__title .fr-btns-group {
    justify-content: end;
}

.document-upload-accordion .fr-accordion__title .fr-btns-group .fr-btn--icon-left {
    width: initial !important;
    max-width: initial !important;
}

/* States styles (loading, success, error…) */
.document-upload-container.error .document-upload-accordion.fr-accordion .fr-accordion__title {
    border: 1px solid var(--border-plain-error);
}

.document-upload-container.success .document-upload-accordion.fr-accordion .fr-accordion__title {
    border: 1px solid var(--border-plain-success);
}

.document-upload-container:not(.loading) .fr-progress {
    display: none;
}
