{% extends 'core/base.html' %}

{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'account/base.css' %}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'account/permissions.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="fr-container fr-pt-4w">

        <h1 class="fr-h1">Gestion des droits d'accès</h1>
        <div class="white-container">
            <form method="post" action="">
                <h3 class="fr-h5">Structure : {{ user.agent.structure }}</h3>
                <div class="user-permissions--container">
                    {% for field in form  %}
                        {{ field }}
                    {% endfor %}
                </div>
                {% csrf_token %}
                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-mt-2w">
                    <input type="hidden" name="next" value="{{ request.META.HTTP_REFERER }}">
                    <button id="cancel-link" class="fr-btn fr-btn--secondary">Annuler</button>
                    <button class="fr-btn" type="submit">Enregistrer les modifications</button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
