.bloc-commun-gestion .fr-tabs__tab:not([aria-selected="true"]){
    background-color: var(--background-contrast-grey);
    box-shadow: 0 2px 0 0 var(--background-open-blue-france);
    color: var(--text-action-high-grey);
}

.bloc-commun-gestion .fr-tabs__tab[aria-selected="true"]{
    background-color: var(--background-open-blue-france);
    box-shadow: 0 2px 0 0 var(--background-open-blue-france);
    color: var(--background-active-blue-france);
}
.bloc-commun-gestion .fr-tabs__panel{
    background-color: var(--background-open-blue-france);
}

.document__details .fr-card__desc{
    order: initial;
}
.document__actions a[target="_blank"]::after {
    content: none;
}
.document__actions a {
    background-image: none;
}