exclude: ^static/
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: '^fake_contacts.csv'
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.3
  hooks:
    # Run the linter.
    - id: ruff
    # Run the formatter.
    - id: ruff-format
- repo: https://github.com/rtts/djhtml
  rev: '3.0.7'
  hooks:
    - id: djhtml
- repo: https://github.com/thoughtworks/talisman
  rev: 'v1.33.2'
  hooks:
    - id: talisman-commit
- repo: local
  hooks:
    - id: biome-format
      name: biome-format
      entry: biome format --write
      language: system
      files: "\\.(js|css)$"
