Django
django-environ
psycopg2-binary
gunicorn
sentry-sdk[django]
django-storages[s3]
mozilla-django-oidc
django-filter
django-post_office
factory-boy
django-reversion
python-magic
celery
async_timeout
redis
django-csp
django-countries
whitenoise
django-dsfr
dj-importmap
django-template-partials
django-waffle
django-querysetsequence
django-reversion-compare
# Dev
djhtml
django-debug-toolbar
faker
pre-commit
pytest-django
pytest-env
pytest-xdist
pytest-playwright
pytest-split
pytest-rerunfailures
playwright
ruff
requests-mock
