Django
django-environ
psycopg2-binary
gunicorn
playwright
ruff
pre-commit
pytest-django
pytest-env
pytest-xdist
pytest-playwright
djhtml
sentry-sdk[django]
django-storages[s3]
mozilla-django-oidc
django-filter
faker
django-debug-toolbar
django-post_office
factory-boy
django-reversion
python-magic
celery
async_timeout
redis
django-csp
django-countries
whitenoise
pytest-split
pytest-rerunfailures
django-dsfr
dj-importmap
django-template-partials
