Django
django-environ
psycopg2-binary
gunicorn
dj-static
playwright
ruff
pre-commit
pytest-django
pytest-env
pytest-xdist
pytest-playwright
djhtml
model-bakery
sentry-sdk[django]
django-storages[s3]
mozilla-django-oidc
django-filter
faker
