.users-container {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
}
.group-name, .user {
    background-color: white;
    font-weight: bold;
}
.user {
    padding: 0.8rem;
}
.fr-container--fluid {
    overflow: unset;
}
td {
    white-space: unset !important;
}
