{% load or_empty_value_tag %}

{% if not head %}
    {% empty_value_tag empty_type=empty_type %}
{% else %}
    {{ head }}
    {% if rest %}
        <p class="fr-tag" aria-describedby="{{ tooltip_id }}">et {{ rest|length }} autre{{ rest|length|pluralize }}</p>
        <span class="fr-tooltip fr-placement" id="{{ tooltip_id }}" role="tooltip" aria-hidden="true">
            {{ tooltip_prefix }}
            {% for it in rest %}{{ it }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </span>
    {% endif %}
{% endif%}
