{% load partials %}

{% partialdef input %}
    <div class="fr-{{ widget.type }}-group">
        {% include "django/forms/widgets/input.html" %}
        <label
            class="fr-label"
            for="{{ widget.attrs.id }}"
            {% if widget.group_index %}aria-controls="fr-treeselect-subgroup-{{ widget.group_index }}"{% endif %}
        >
            {{ widget.label }}
        </label>
    </div>
{% endpartialdef %}

{% partialdef option %}
    <div
        class="fr-treeselect__element"
        data-controller="treeselect-element"
        {% if parent_index %}data-parent-index="{{ parent_index }}"{% endif %}
    >
        {% partial input %}
    </div>
{% endpartialdef %}

{% partialdef group %}
    <div
        class="fr-treeselect__group{% if widget.can_expand %} fr-accordion{% endif %}"
        data-controller="treeselect-group"
        data-action="treeselect:visibility->treeselect-group#elementFiltered"
        data-treeselect-group-treeselect-element-outlet="[data-parent-index='{{ widget.group_index }}']"
    >
        <div class="fr-treeselect__group-header">
            {% if not widget.can_expand %}
                <h3>{{ widget.group }}</h3>
            {% elif widget.group_option %}
                {% with widget=widget.group_option %}
                    {% partial input %}
                {% endwith %}
            {% else %}
                <button
                    class="fr-treeselect__group-button fr-accordion__btn"
                    aria-expanded="false"
                    aria-controls="fr-treeselect-subgroup-{{ widget.group_index }}"
                    type="button"
                >
                    {{ widget.group }}
                </button>
            {% endif %}
        </div>
        <div
            id="fr-treeselect-subgroup-{{ widget.group_index }}"
            {% if widget.can_expand %}
                class="fr-collapse"
                data-treeselect-group-target="collapse"
            {% endif %}
        >
            {% for optgroup in widget.optgroups %}
                {% include optgroup.template_name with widget=optgroup parent_index=widget.group_index %}
            {% endfor %}
        </div>
    </div>
{% endpartialdef %}

<div
    class="fr-treeselect"
    data-controller="treeselect"
    data-action="dsfr.search->treeselect#onSearch"
    data-treeselect-treeselect-element-outlet="[data-controller='treeselect-element']"
    data-treeselect-treeselect-group-outlet="[data-controller='treeselect-group']"
>
    <div class="fr-treeselect__wrapper">
        <button class="fr-treeselect__button" type="button" data-treeselect-target="button">Choisir dans la liste</button>
        <div class="fr-treeselect__collapse">
            {% if widget.has_search_bar %}
                <div class="fr-treeselect__head">
                    <div class="fr-search-bar" role="search">
                        <label class="fr-label" for="search-input">Rechercher</label>
                        <input
                            id="search-input"
                            class="fr-input"
                            aria-describedby="search-input-messages"
                            placeholder="Rechercher"
                            type="search"
                        >
                        <div class="fr-messages-group" id="search-input-messages" aria-live="polite"></div>
                    </div>
                </div>
            {% endif %}
            <div class="fr-treeselect__body" data-treeselect-target="body">
                {% for optgroup in widget.optgroups %}
                    {% include optgroup.template_name with widget=optgroup %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
