{% load dsfr_tags widget_tweaks %}


{% dsfr_form_field form.denomination %}
<div class="fr-input-group" data-aliment-form-target="typeAlimentInputContainer">
    {{ form.type_aliment.label_tag }}
    {{ form.type_aliment|set_data:"action:change->aliment-form#onTypeAlimentChange"|set_data:"aliment-form-target:typeAlimentInput" }}
</div>
<fieldset class="fr-fieldset" data-aliment-form-target="cookedMealFields">
    <div class="fr-fieldset__element">
        {% dsfr_form_field form.description_composition %}
    </div>
</fieldset>
<fieldset id="categorie-produit" class="fr-fieldset" data-aliment-form-target="rawMaterialFields">
    <div class="fr-fieldset__element">
        {% dsfr_form_field form.categorie_produit|set_data:"aliment-form-target:categorieProduitInput" %}
    </div>
    <div class="fr-fieldset__element">
        {% dsfr_form_field form.description_produit|set_data:"aliment-form-target:descriptionProduitInput" %}
    </div>
</fieldset>
{% dsfr_form_field form.motif_suspicion %}

{% dsfr_notice title="Ajoutez vos documents dans l'onglet documents après publication de la fiche." %}
{{ form.DELETE|set_data:"aliment-form-target:deleteInput" }}
{{ form.id }}
