{% load dsfr_tags widget_tweaks %}
<dialog id="modal-conclusion" class="fr-modal" aria-labelledby="modal-conclusion-title" aria-modal="true">
    <form method="post" action="{% url 'tiac:investigation-tiac-edition-conclusion' object.pk %}">
        {% csrf_token %}
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="modal-conclusion" title="Fermer" type="button"
                                    class="fr-btn--close fr-btn">Fermer
                            </button>
                        </div>
                        <div class="fr-modal__content">
                            <h2 id="modal-conclusion-title" class="fr-modal__title">
                                <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                Enregistrer la conclusion
                            </h2>

                            <fieldset
                                class="fr-fieldset fr-flex fr-flex--align-normal form-fieldset fr-mt-2w"
                                data-controller="conclusion-form"
                                data-conclusion-form-suspicion-conclusion-choices-value="{{ form.SuspicionConclusion.as_json }}"
                                data-conclusion-form-treeselect-outlet="#treeselect-confirmed .fr-treeselect, #treeselect-suspected .fr-treeselect"
                            >
                                <p>Certains champs ont été préremplis à partir des éléments de la fiche. Vous pouvez les modifier.</p>

                                {% dsfr_form_field form.suspicion_conclusion|set_data:"action:conclusion-form#onSuspicionConclusionChanged:prevent:default"|set_data:"conclusion-form-target:suspicionConclusion" %}

                                <div class="fr-hidden fr-mb-4v" data-conclusion-form-target="notice">
                                    {% dsfr_notice title="Êtes vous sûr qu'il ne s'agit pas d'une tiac à agent confirmé ? Un danger détecté sur les malades ou les aliments est enregistré dans la fiche. Pour rappel, un agent peut être confirmé soit par des analyses effectuées sur les malades, soit par des analyses effectuées sur les aliments ou leur environnement de production." %}
                                </div>

                                <div class="fr-input-group" id="treeselect-confirmed" data-conclusion-form-target="selectedHazardConfirmedContainer">
                                    {% dsfr_form_field form.selected_hazard_confirmed %}
                                </div>
                                <div class="fr-input-group" id="treeselect-suspected" data-conclusion-form-target="selectedHazardSuspectedContainer">
                                    {% dsfr_form_field form.selected_hazard_suspected %}
                                </div>
                                <input data-conclusion-form-target="requiredProxy" id="required-proxy" required>

                                {% dsfr_form_field form.conclusion_comment|remove_attr:"cols"|remove_attr:"rows" %}

                                {% dsfr_form_field form.conclusion_repas|set_data:"conclusion-form-target:conclusionRepas"|set_data:"action:conclusion-form#onRepasChanged" %}

                                <div class="fr-mb-4v" data-conclusion-form-target="noticeRepas">
                                    {% dsfr_notice title="Si le repas à l'origine de la TIAC est identifié, il doit être enregistré dans la fiche et sélectionné dans la conclusion" type="warning" %}
                                </div>

                                {% dsfr_form_field form.conclusion_aliment|set_data:"conclusion-form-target:conclusionAliment"|set_data:"action:conclusion-form#onAlimentChanged" %}

                                <div class="fr-mb-4v" data-conclusion-form-target="noticeAliment">
                                    {% dsfr_notice title="Si l’aliment à l'origine de la TIAC est identifié, il doit être enregistré dans la fiche et sélectionné dans la conclusion" %}
                                </div>

                                <div class="fr-flex fr-flex--space-between fr-flex--row">
                                    <div class="fr-btns-group">
                                        {% if form.instance.suspicion_conclusion %}
                                            <button
                                                type="submit"
                                                name="delete"
                                                class="fr-btn fr-btn--delete" formnovalidate
                                            >
                                                <span class="fr-icon-delete-bin-line fr-mr-2v fr-icon--sm" aria-hidden="true"></span>
                                                Supprimer la conclusion
                                            </button>
                                        {% endif %}
                                    </div>
                                    <div
                                        class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                        <button class="fr-btn fr-btn--secondary" aria-controls="modal-conclusion" type="button">
                                            Annuler
                                        </button>
                                        <button type="submit" class="fr-btn">Enregistrer</button>
                                    </div>
                                </div>
                            </fieldset>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</dialog>
