{% load dsfr_tags widget_tweaks %}
<dialog id="modal-conclusion" class="fr-modal" aria-labelledby="modal-conclusion-title" aria-modal="true">
    <form method="post" action="{% url 'tiac:investigation-tiac-edition-conclusion' object.pk %}">
        {% csrf_token %}
        <div class="fr-container fr-container--fluid fr-container-md">
            <div class="fr-grid-row fr-grid-row--center">
                <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                    <div class="fr-modal__body">
                        <div class="fr-modal__header">
                            <button aria-controls="modal-conclusion" title="Fermer" type="button"
                                    class="fr-btn--close fr-btn">Fermer
                            </button>
                        </div>
                        <div class="fr-modal__content">
                            <h2 id="modal-conclusion-title" class="fr-modal__title">
                                <span class="fr-icon-arrow-right-line fr-icon--lg" aria-hidden="true"></span>
                                Enregistrer la conclusion
                            </h2>

                            <fieldset
                                class="fr-fieldset fr-flex fr-flex--align-normal form-fieldset fr-mt-2w"
                                data-controller="conclusion-form"
                                data-conclusion-form-suspicion-conclusion-choices-value="{{ form.SuspicionConclusion.as_json }}"
                                data-conclusion-form-selected-hazard-confirmed-choices-value="{{ form.selected_hazard_confirmed_choices }}"
                                data-conclusion-form-selected-hazard-suspected-choices-value="{{ form.selected_hazard_suspected_choices }}"
                            >
                                <p>Certains champs ont été préremplis à partir des éléments de la fiche. Vous pouvez les modifier.</p>

                                {% dsfr_form_field form.suspicion_conclusion|set_data:"action:conclusion-form#onSuspicionConclusionChanged:prevent:default"|set_data:"conclusion-form-target:suspicionConclusion" %}

                                <div class="fr-hidden fr-mb-4v" data-conclusion-form-target="notice">
                                    {% dsfr_notice title="Êtes vous sûr qu'il ne s'agit pas d'une tiac à agent confirmé ? Un danger détecté sur les malades ou les aliments est enregistré dans la fiche. Pour rappel, un agent peut être confirmé soit par des analyses effectuées sur les malades, soit par des analyses effectuées sur les aliments ou leur environnement de production." %}
                                </div>

                                <div id="selected_hazard-treeselect" class="fr-input-group">
                                    {{ form.selected_hazard.label_tag }}
                                    <div
                                        data-conclusion-form-target="selectedHazardTreeselect"
                                        data-action="input->conclusion-form#onTreeselectInput update-dom->conclusion-form#onUpdateDom"
                                    ></div>
                                    {{ form.selected_hazard|set_data:"conclusion-form-target:selectedHazardTreeselectInput" }}
                                    <template data-conclusion-form-target="selectedHazardTreeselectHeader">
                                        <div class="categorie-danger-header">
                                            <div class="fr-ml-1v">Dangers les plus courants</div>
                                            {% for danger in form.common_danger %}
                                                <div
                                                    class="treeselect-list__item"
                                                    level="0"
                                                    group="false"
                                                    data-action="mousedown->conclusion-form#onShortcut:prevent:stop"
                                                >
                                                    <input
                                                        type="checkbox"
                                                        id="shortcut_{{ forloop.counter0 }}"
                                                        class="treeselect-list__item-checkbox-container"
                                                    >
                                                    <label
                                                        class="treeselect-list__item-label shortcut"
                                                        for="shortcut_{{ forloop.counter0 }}"
                                                    >{{ danger }}</label>
                                                </div>
                                            {% endfor %}
                                            <div class="fr-ml-1v">Liste complète des dangers</div>
                                        </div>
                                    </template>
                                </div>
                                {% dsfr_form_field form.conclusion_comment|remove_attr:"cols"|remove_attr:"rows" %}

                                {% dsfr_form_field form.conclusion_repas|set_data:"conclusion-form-target:conclusionRepas" %}
                                {% dsfr_form_field form.conclusion_aliment|set_data:"conclusion-form-target:conclusionAliment" %}
                            </fieldset>

                        </div>

                        <div class="fr-modal__footer">
                            <div
                                class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-btns-group--icon-left">
                                <button class="fr-btn fr-btn--secondary" aria-controls="modal-conclusion">
                                    Annuler
                                </button>

                                <button type="submit" class="fr-btn">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</dialog>
