{% load partials dsfr_tags widget_tweaks get_field_label %}

<div class="white-container fr-mt-4w" data-controller="etablissement-formset">
    <div class="fr-grid-row">
        <div class="fr-col-10">
            <p class="fr-h6">Établissements</p>
        </div>
        <div class="fr-col-2">
            <button
                type="button"
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mb-2w"
                data-action="etablissement-formset#onAddForm:prevent:stop"
            >
                Ajouter
            </button>
        </div>
    </div>
    {{ formset.non_form_errors }}
    <div id="etablissement" class="fr-grid-row fr-grid-row--gutters" data-etablissement-formset-target="formsetContainer">
        {% for field in formset.management_form %}
            {% with data_target=field.name|strfmt:"etablissement-formset-target:{0}" %}
                {{ field|set_data:data_target }}
            {% endwith %}
        {% endfor %}

        {% for form in formset %}
            {{ form }}
        {% endfor %}
    </div>

    <template   data-etablissement-formset-target="emptyFormTpl">
        <button class="fr-btn fr-hidden"  data-fr-opened="false" aria-controls="fr-modal-etablissement__prefix__" ></button>
        <dialog aria-labelledby="fr-modal-title-modal-etablissement__prefix__" role="dialog" id="fr-modal-etablissement__prefix__" class="fr-modal modal-etablissement">
            <div class="fr-container fr-container--fluid fr-container-md">
                <div class="fr-grid-row fr-grid-row--center">
                    <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                        <div class="fr-modal__body">
                            <div class="fr-modal__header">
                                <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-etablissement__prefix__" type="button">Fermer</button>
                            </div>
                            <div class="fr-modal__content">
                                <h1 id="fr-modal-title-modal--etablissement__prefix__" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ajouter un établissement</h1>
                                {{ formset.empty_form }}
                            </div>
                            <div class="fr-modal__footer">
                                <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg">
                                    <button class="fr-btn fr-btn--secondary" aria-controls="fr-modal-etablissement__prefix__" type="button">Annuler</button>
                                    <button type="submit" class="fr-btn save-btn" id="etablissement-save-btn-__prefix__" data-action="etablissement-formset#validateForm:prevent:stop">Enregistrer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </dialog>
    </template>

    <template data-etablissement-formset-target="cardTemplate">
        <div class="etablissement-card fr-card">
            <div class="fr-card__body">
                <div class="fr-card__content">
                    <div>
                        <p class="fr-card__title raison-sociale"  data-etablissement-formset-target="raisonSociale"></p>
                    </div>
                    <p class="fr-card__detail fr-icon-map-pin-2-line fr-my-2v adresse fr-hidden"></p>

                    <span class="siret fr-hidden"></span>
                    {% dsfr_badge label=etablissement.type_etablissement extra_classes="fr-mb-2v fr-badge--info fr-badge--no-icon fr-badge--sm fr-mt-2v fr-hidden type" %}
                </div>
            </div>
        </div>
    </template>

    <div class="fr-mt-2w" data-etablissement-formset-target="cardContainer" id="etablissement-card-container">
    </div>
</div>
