{% load partials dsfr_tags widget_tweaks get_field_label %}

<div class="white-container fr-mt-4w" data-controller="etablissement-formset">
    <div class="fr-grid-row">
        <div class="fr-col">
            <p class="fr-h6">Établissements</p>
        </div>
        <div class="fr-col">
            <button
                type="button"
                class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mb-2w"
                data-action="etablissement-formset#onAddForm:prevent:stop"
            >
                Ajouter
            </button>
        </div>
    </div>
    {{ formset.non_form_errors }}
    <div id="etablissement" class="fr-grid-row fr-grid-row--gutters" data-etablissement-formset-target="formsetContainer">
        {% for field in formset.management_form %}
            {% with data_target=field.name|strfmt:"etablissement-formset-target:{0}" %}
                {{ field|set_data:data_target }}
            {% endwith %}
        {% endfor %}

        {% for form in formset %}

        {% endfor %}
    </div>

    <template id="zone-form-template" data-etablissement-formset-target="emptyFormTpl">
        {{ formset.empty_form }}
    </template>
</div>
