{% load dsfr_tags widget_tweaks %}

<div class="fr-input-group">
    {{ form.denomination.label_tag }}
    {{ form.denomination|set_data:"repas-form-target:denominationInput" }}
</div>
<div class="fr-input-group">
    {{ form.menu.label_tag }}
    {{ form.menu }}
</div>
<div class="fr-input-group">
    {{ form.motif_suspicion.label_tag }}
    {{ form.motif_suspicion }}
</div>
<div class="fr-input-group">
    {{ form.datetime_repas.label_tag }}
    {{ form.datetime_repas }}
</div>
<div class="fr-input-group">
    {{ form.nombre_participant.label_tag }}
    {{ form.nombre_participant }}
</div>
<div class="fr-input-group">
    {{ form.departement.label_tag }}
    {{ form.departement }}
</div>
<div class="fr-input-group">
    {{ form.type_repas.label_tag }}
    {{ form.type_repas|set_data:"action:change->repas-form#onTypeRepasChoice" }}
</div>
<div class="fr-input-group fr-hidden" data-repas-form-target="typeCollectiviteInputContainer">
    {{ form.type_collectivite.label_tag }}
    {{ form.type_collectivite|set_data:"repas-form-target:typeCollectiviteInput" }}
</div>
{% dsfr_notice title="Ajoutez vos documents dans l'onglet documents après publication de la fiche." %}
{{ form.DELETE|set_data:"repas-form-target:deleteInput" }}
{{ form.id }}
