body {
    background-color: var(--background-default-grey);
}

.evenements__list-table {
    border-collapse: collapse;
}
.evenements__table-header {
    background-color: var(--background-default-grey);
    border-bottom: 1px solid var(--background-alt-grey);
}
.evenements__list-row {
    background-image: none;
}
.evenements__list-row:nth-child(odd) {
    background-color: var(--background-alt-grey);
}
.evenements__list-row:nth-child(even) {
    background-color: var(--background-default-grey) !important;
}
.evenements__list-row:hover {
    background-color: var(--background-contrast-grey) !important;
}
.evenements__list-row td {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.evenement__list-organisme {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem !important;
}
.ac-not-notified {
    background-color: var(--background-contrast-grey);
    min-height: 1.5rem;
    padding: 0 0.5rem;
    border-radius: 0.25rem;
}
.evenements__list-row .fr-checkbox-group input[type="checkbox"] + label::before {
    top: -10px !important;
}
