.evenement-top-row {
    display: flex;
    justify-content: space-between;
}
.evenement-top-row--actions {
    display: flex;
    justify-content: space-between;
    max-height: 2.5rem;
}

.no-tab-look .fr-tabs__panel{
    padding: 0px !important;
    border: none !important;
}
.no-tab-look .fr-tabs__list {
    width: 60% !important;
    order: 0 !important;
}
[id^="detection-actions-"] {
    display: flex;
    justify-content: flex-end;
    width: 40%;
}
.fr-btn--delete{
    color: var(--text-default-error);
    background-color: transparent;
    box-shadow: inset 0 0 0 1px var(--text-default-error);
}
.fr-btn--delete:hover{
    color: white;
    background-color: var(--text-default-error) !important;
}
.zone-button {
    background-image: none;
}
.zone-button .fr-btn {
    height: 100%;
}
.evenement-top-row--actions .fr-translate__btn::before {
    -webkit-mask-image: url(../../../static/icons/system/add-line.svg);
    mask-image: url(../../../static/icons/system/add-line.svg);
}
.evenement-top-row--actions .fr-translate__btn{
    height: 100%;
}
.evenement-top-row--actions .fr-nav__item{
    height: 100%;
}
.fr-tag.selected {
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
}
