.no-tab-look .fr-tabs__panel {
    padding: 0px !important;
    border: none !important;
}
.no-tab-look .fr-tabs__list {
    width: calc(100% - min(40%, 440px));
    min-width: 600px;
    order: 0 !important;
    flex-wrap: wrap;
}
.no-tab-look .fr-tabs__list li {
    margin-bottom: 5px;
}
.no-tab-look::before {
    box-shadow: none !important;
}
[id^="detection-actions-"] {
    display: flex;
    justify-content: flex-end;
    width: min(40%, 440px);
    min-width: 440px;
    margin-left: auto;
}
.fr-btn--delete {
    color: var(--text-default-error);
    background-color: transparent;
}
.fr-btn--delete:hover {
    color: white;
    background-color: var(--text-default-error) !important;
}
.zone-button {
    background-image: none;
}
.zone-button .fr-btn {
    height: 100%;
}
.main-container .fr-translate__btn {
    max-width: 200px !important;
    align-self: flex-end;
}

.fr-menu__list {
    background-color: var(--background-overlap-grey) !important;
}

.fr-tag.selected {
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
}
.last-modification {
    color: var(--text-mention-grey);
    margin-bottom: 0.5rem;
}
.fr-tag--tertiary {
    background-color: transparent !important;
    border: 1px solid var(--background-action-high-blue-france);
    color: var(--background-action-high-blue-france);
}
.fr-tag--tertiary:hover {
    background-color: var(--hover-tint) !important;
    border: 1px solid transparent;
}
#notice-carto {
    color: var(--text-default-info);
}
