main{
    margin: 2rem 1.5rem;
}

.evenement-top-row {
    display: flex;
    justify-content: space-between;
}
.evenement-top-row--actions {
    display: flex;
    justify-content: space-between;
}

.no-tab-look .fr-tabs__panel{
    padding: 0px !important;
    border: none !important;
}
