/* -- Style de la page -- */
main {
    margin: 2rem 1.5rem;
}

/* -- Grid pour les blocs informations, objet de l'évènement, lieux, prélèvements et mesures de gestion -- */
#fiche-detection-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
#informations {
    grid-column: span 3;
}
#mesures-gestion {
    grid-column: span 3;
}
#lieux,
#prelevements {
    overflow-y: auto;
    max-height: 690px;
}

/* -- Styles des blocs (intérieur) -- */
#informations,
#objet-evenement,
#lieux,
#prelevements,
#mesures-gestion {
    background-color: white;
    padding: 1.5rem;
}

/* Entête (titre et boutons) */
#fiche-detection-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fiche-detection-form-header h1 {
    margin-bottom: 0.5rem;
}

/* Informations */
#informations-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
}
#date-creation,
#statut-evenement {
    display: flex;
    align-items: center;
}
#date-creation label {
    flex: 0.65;
}
#date-creation-input {
    flex: 1.35;
}
#statut-evenement label {
    flex: 0.75;
}
#id_statut_evenement {
    flex: 1.25;
}

/* Objet de l'évènement */
#id_commentaire {
    min-height: 10rem;
}

/* Lieux */
#lieux-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#lieux .lieu-nom {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;
}
#lieux .lieu-header {
    display: flex;
    justify-content: space-between;
}
#lieux .lieu-edit-btn,
#lieux .lieu-delete-btn,
#lieux .lieu-commune {
    margin-bottom: 0;
}

#modal-add-edit-lieu-title,
#modal-add-edit-prelevement-title {
    margin-bottom: 2rem;
}

[id^="lieu-form"] p,
[id^="lieu-form"] .commune {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
[id^="lieu-form"] p label,
[id^="lieu-form"] .commune label {
    flex: 0.75;
}
[id^="lieu-form"] p input,
[id^="lieu-form"] p textarea,
#lieu-form .adresse-lieu .choices,
#lieu-form .commune .choices,
#lieu-form .adresse-etablissement .choices {
    flex: 1.25;
    margin-top: 0.5rem;
}
[id^="lieu-form"] p select {
    flex: 1.15;
}
[id^="lieu-form"] .character-counter {
    text-align: right;
}
[id^="lieu-form"] .wgs-latitude-field {
    flex: 0.55;
    margin-top: 0.5rem;
}
[id^="lieu-form"] .wgs-longitude-field {
    flex: 0.55;
    margin-right: 0.5rem;
}

.lieu-initial,
.prelevement {
    background-color: #e3e3fd;
    margin-bottom: 1rem;
    padding: 1rem;
}
.etablissement-fields {
    display: none;
}
.etablissement-fields--lookup {
    text-align: center;
}
.etablissement-fields--lookup .fr-search-bar {
    text-align: start;
}
.fr-modal__content:has(input[type="checkbox"][id$="-is_etablissement"]:checked) .etablissement-fields,
.fr-modal__content.is-etablissement .etablissement-fields {
    display: block;
}
.fr-search-bar .choices {
    flex: 1.25;
}

/* Prélèvements */
#prelevements-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.prelevement-header {
    display: flex;
    justify-content: space-between;
}
.prelevement-nom {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;
}
.prelevement-type {
    font-weight: bold;
    color: #000091;
    margin-bottom: 0.5rem;
}
#prelevements .prelevement-edit-btn,
#prelevements .prelevement-delete-btn {
    margin-bottom: 0;
}
.site-inspection,
.prelevement-lieu {
    margin-bottom: 0.5rem;
}

[id^="modal-add-edit-prelevement"] .fr-input:not(textarea) {
    max-height: 2rem !important;
}

[id^="modal-add-edit-prelevement"] .fr-select {
    line-height: 1rem !important;
}

/* Mesures de gestion */
#mesures-gestion-content {
    display: flex;
    gap: 2rem;
}
#mesures-conservatoires-immediates,
#mesures-consignation,
#mesures-phytosanitaires,
#mesures-surveillance-specifique {
    flex: 1;
}
#mesures-conservatoires-immediates textarea,
#mesures-consignation textarea,
#mesures-phytosanitaires textarea,
#mesures-surveillance-specifique textarea {
    min-height: 10rem;
}

/* -- Champs recommandés -- */
label[for="id_contexte"],
label[for="id_date_premier_signalement"],
label[for="id_commentaire"],
label[for^="commune"],
label[for^="id_lieux-"][for$="-wgs84_longitude"] {
    font-weight: bold;
}
