body{
    background-color: var(--background-default-grey);
}

.fiches__header {
    background-color: var(--background-open-blue-france);
    padding: 2rem 0rem 2rem 2rem;
}
.fiches__title {
    margin-bottom: 1.5rem;
}

.fiches__search-form {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-right: 2rem;
}
.fiches__search-form .fr-fieldset__element{
    flex: 1 !important;
}
.fiches__search-form input, .fiches__search-form select {
    margin-top: .5rem;
}
.choices__list--single{
    overflow: hidden;
    max-height: 1.5rem;
}


.fiches__list-container {
    margin: 2rem;
}
.fiches__list-header {
    display: flex;
    justify-content: space-between;
}
.fiches__count {
    font-weight: bold;
}

.fiches__list-table{
    border-collapse: collapse;
}
.fiches__table-header {
    background-color: var(--background-default-grey);
    border-bottom: 1px solid var(--background-alt-grey);
}
.fiches__list-row {
    background-image: none;
}
.fiches__list-row:nth-child(odd) {
    background-color: var(--background-alt-grey);
}
.fiches__list-row:nth-child(even) {
    background-color: var(--background-default-grey) !important;
}
.fiches__list-row:hover {
    background-color: var(--background-contrast-grey) !important;
}
.fiches__list-row td {
    padding: 0 !important;
}
.fiches__list-link {
    display: block !important;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
    background-image: none !important;
}
