body{
    background-color: var(--background-default-grey);
}

.fiches__header {
    background-color: var(--background-open-blue-france);
}
.fiche__header--title h2{
    display: inline-block;
}
.fiche__header--type {
    background-color: var(--background-contrast-grey) !important;
    display: inline-block;
}
.fiche__header--type .fr-fieldset__element{
    margin-bottom: 0px !important;
}
.fiche__header--actions {
    display: flex;
    justify-content: flex-end;
}

.fiches__search-form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 0.5rem;
}
.fiches__search-form .fr-fieldset__element{
    flex: 1 1 200px;
    max-width: 300px;
}
.fiches__search-form input, .fiches__search-form select, .fiches__search-form .fr-radio-group {
    margin-top: .5rem;
}

.choices__list--single{
    overflow: hidden;
    max-height: 1.5rem;
}
.fr-fieldset__element:has(.fr-fieldset__element--inline){
    display: flex;
    flex-wrap: wrap;
}
.fr-fieldset__element:has(.fr-fieldset__element--inline) label{
    flex-basis: 100%;
}
.fr-fieldset__element--inline .fr-radio-group label{
    font-size: 0.9rem;
}


.fiches__list-container {
    margin: 2rem;
}
.fiches__list-header {
    display: flex;
    justify-content: space-between;
}
.fiches__count {
    font-weight: bold;
}

.fiches__list-table{
    border-collapse: collapse;
}
.fiches__table-header {
    background-color: var(--background-default-grey);
    border-bottom: 1px solid var(--background-alt-grey);
}
.fiches__list-row {
    background-image: none;
}
.fiches__list-row:nth-child(odd) {
    background-color: var(--background-alt-grey);
}
.fiches__list-row:nth-child(even) {
    background-color: var(--background-default-grey) !important;
}
.fiches__list-row:hover {
    background-color: var(--background-contrast-grey) !important;
}
.fiches__list-row td {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 0.50rem !important;
    padding-bottom: 0.50rem !important;
}
.fiche__list-organisme {
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem !important;
}
.ac-not-notified {
    background-color: var(--background-contrast-grey);
    min-height: 1.5rem;
    padding: 0 .5rem;
    border-radius: .25rem;
}
.fiches__list-row .fr-checkbox-group input[type="checkbox"] + label::before{
    top: -10px !important;
}
.ri-node-tree {
    font-size: 1.5rem;
}
