.fichezoneform__details,
.fichezoneform__zone-tampon {
    height: 535px;
}

.fichezone_form__save-btn,
.zones-infestees__add-form-btn {
    text-align: right;
}

.zone-infestees__zone-infestee-form {
    background-color: var(--background-alt-grey);
}
.zone-infestee-form__numero-input {
    width: 50%;
}
