:root {
    --field-label-font-weight: bold;
}
.hidden {
    display: none;
}
.descripteur-label {
    font-weight: var(--field-label-font-weight);
}
.lieu-initial {
    margin-bottom: 1rem;
}
.prelevement__type {
    font-weight: var(--field-label-font-weight);
    color: var(--text-title-blue-france);
}
.stretch-column {
    align-self: stretch;
}

.stretch-column .white-container{
    height: 100%;
    max-height: 450px;
    overflow-y: auto;
}
