/* -- Style de la page -- */
main {
    margin: 2rem 1.5rem;
}


/* -- Grid pour les blocs informations, objet de l'évènement, lieux, prélèvements et mesures de gestion -- */
#fiche-detection-form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
}
#informations{
    grid-column: span 3;
}
#mesures-gestion{
    grid-column: span 3;
}
#liens-libre{
    grid-column: span 3;
}
#lieux, #prelevements {
    overflow-y: auto;
    max-height: 805px;
}


/* -- Styles des blocs (intérieur) -- */
#informations,
#objet-evenement,
#lieux,
#prelevements,
#mesures-gestion,
#liens-libre {
    background-color: white;
    padding: 1.5rem;
}

/* Entête (titre et boutons) */
#fiche-detection-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#fiche-detection-form-header h1 {
    margin-bottom: 0.5rem;
}

/* Informations */
#informations-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 4rem;
    row-gap: 1rem;
}
#date-creation,
#statut-evenement,
#numero-europhyt,
#numero-rasff {
    display: flex;
    align-items: center;
}
#date-creation label {
    flex: 0.65;
}
#date-creation-input {
    flex: 1.35;
}
#numero-rasff label {
    flex: 0.65;
}
#id_numero_rasff {
    flex: 1.35;
}
#statut-evenement label {
    flex: 0.75;
}
#id_statut_evenement {
    flex: 1.25;
}
#numero-europhyt label {
    flex: 0.75;
}
#id_numero_europhyt {
    flex: 1.25;
}

/* Objet de l'évènement */
#organisme-nuisible,
#statut-reglementaire,
#contexte,
#date-1er-signalement {
    display: flex;
    align-items: center;
}
#organisme-nuisible label,
#statut-reglementaire label,
#contexte label {
    flex: 0.85;
}
#organisme-nuisible-input,
#statut-reglementaire-input,
#contexte-input {
    flex: 1.15;
}
#date-1er-signalement label {
    flex: 0.80;
}
#date-1er-signalement-input {
    flex: 1.20;
}
#commentaire-input {
    min-height: 10rem;
}

#organisme-nuisible .choices {
    flex: 1.42;
}


/* Lieux */
#lieux-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#lieux .lieu-nom {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;
}
#lieux .lieu-header {
    display: flex;
    justify-content: space-between;
}
#lieux .lieu-edit-btn,
#lieux .lieu-delete-btn,
#lieux .lieu-commune {
    margin-bottom: 0;
}



#modal-add-edit-lieu-title,
#modal-add-edit-prelevement-title {
    margin-bottom: 2rem;
}

[id^=lieu-form] p {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
[id^=lieu-form] p label {
    flex: 0.75;
}
[id^=lieu-form] p input, #lieu-form p .choices{
    flex: 1.25;
}
[id^=lieu-form] p select {
    flex: 1.15;
}
.lieu-initial,
.prelevement {
    background-color: #E3E3FD;
    margin-bottom: 1rem;
    padding: 1rem;
}



/* Prélèvements */
#prelevements-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.prelevement-header {
    display: flex;
    justify-content: space-between;
}
.prelevement-nom {
    font-weight: bold;
    color: black;
    margin-bottom: 0.5rem;
}
.prelevement-type {
    font-weight: bold;
    color: #000091;
    margin-bottom: 0.5rem;
}
#prelevements .prelevement-edit-btn,
#prelevements .prelevement-delete-btn {
    margin-bottom: 0;
}
.site-inspection,
.date-prelevement,
.prelevement-lieu {
    margin-bottom: 0.5rem;
}

.prelevement-form--fieldset
{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
#prelevement-form label {
    flex: 0.75;
}
#prelevement-form select {
    flex: 1.15;
}
#prelevement-form input, #prelevement-form .choices {
    flex: 1.25;
}




/* Mesures de gestion */
#mesures-gestion-content{
    display: flex;
    gap: 2rem;
}
#mesures-conservatoires-immediates,
#mesures-consignation,
#mesures-phytosanitaires,
#mesures-surveillance-specifique {
    flex: 1;
}
#mesures-conservatoires-immediates textarea,
#mesures-consignation textarea,
#mesures-phytosanitaires textarea,
#mesures-surveillance-specifique textarea {
    min-height: 10rem;
}
