.fichezonedelimitee__details,
.fichezonedelimitee__zone-tampon {
    height: 432px;
}
.fichezonedelimitee__field {
    font-weight: bold;
}
.fichezonedelimitee__zone-infestee {
    background-color: var(--background-default-grey-hover);
    border-radius: 3px;
    min-height: 230px;
}
