body{
    background-color: var(--background-default-grey);
}

.fiches__header {
    background-color: var(--background-open-blue-france);
    padding: 2rem 0rem 2rem 2rem;
}
.fiches__title {
    margin-bottom: 0;
}

.fiches__list-container {
    margin: 2rem;
}
.fiches__count {
    font-weight: bold;
}

.fiches__list-table{
    border-collapse: collapse;
}
.fiches__table-header {
    background-color: var(--background-default-grey);
    border-bottom: 1px solid var(--background-alt-grey);
}
.fiches__list-row {
    background-image: none;
}
.fiches__list-row:nth-child(odd) {
    background-color: var(--background-alt-grey);
}
.fiches__list-row:nth-child(even) {
    background-color: var(--background-default-grey) !important;
}
.fiches__list-row:hover {
    background-color: var(--background-contrast-grey) !important;
}
