.fichezonedelimitee__field {
    font-weight: bold;
}
.fichezonedelimitee__zone-infestee {
    background-color: var(--background-alt-grey-hover);
    border-radius: 3px;
    min-height: 230px;
}

@media (min-width: 992px) {
    #commentaire-detections-hors-zone {
        display: flex;
    }
    #commentaire-detections-hors-zone .white-container {
        height: 100%;
    }
}

.gallery {
    display: flex;
}
.gallery-item {
    text-align: center;
}
.gallery img {
    height: 200px;
    width: auto;
}
.cursor-pointer{
    cursor: pointer;
}
.img-cartographie {
    width: 95%;
}
.img-cartographie img{
    max-width: 95%;
}

.img-cartographie--container {
    display: flex;
}


.cartographies .fr-modal--opened, .cartographies .fr-modal {
    transition: none !important;
}
