.fichezone_form__save-btn,
.zones-infestees__add-form-btn {
    text-align: right;
}
.fichezone_form__informations {
    align-items: center;
}
.zone-infestees__zone-infestee-form {
    background-color: var(--background-alt-grey);
}
.zone-infestees__zone-infestee-form ul li {
    text-align: right;
}
.zone-infestee-form__numero-input {
    width: 50%;
}
.info-text {
    color: var(--text-mention-grey);
}
#organisme-nuisible-label, #statut-reglementaire-label {
    font-weight: bold;
}

@media (min-width: 992px) {
    #risques-infos-commentaire-row {
        display: flex;
    }
    #risques-infos-commentaire-row .white-container {
        height: 100%;
    }
}
