<div class="libelle fr-col-5">
    {{ contact.structure.libelle }}
    {% if is_in_fin_suivi %}
        <span class="fr-badge fr-badge--sm fr-badge--new fr-badge--no-icon">Fin de suivi</span>
    {% endif %}
</div>
<div class="fr-col-5">
    {% if message_v2 %}
        <a href="{% url 'message-add' content_type.pk object.pk %}?type=message&contact={{ contact.pk }}" class="fr-link email">
    {% else %}
        <a href="#" class="fr-link email open-sidebar" data-message-type="message" data-recipient="{{ contact.pk }}">
    {% endif %}
    {{ contact.email }}
</a>
</div>
<div class="fr-col-offset-1"></div>

{% if can_delete_contact %}
    <div class="fr-col">
        <a href="#" class="fr-icon-delete-line fr-btn fr-btn--sm fr-btn--tertiary" data-fr-opened="false" aria-controls="fr-modal-contact-{{ contact.pk }}"></a>
    </div>
{% endif %}

{% if can_delete_contact %}
    {% include "core/_modale_suppression_contact.html" %}
{% endif %}
