{% extends 'sv/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'core/contact_add_form.css' %}">
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const element = document.getElementById('id_structure');
            const choices = new Choices(element, {
                itemSelectText: '',
                classNames: {
                    containerInner: 'fr-select fr-mt-1w',
                },
                searchResultLimit: 500,
            });
        });
    </script>
{% endblock %}


{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-9">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <p class="fr-my-2w"><a href="{{form.next.value}}" class="fr-link fr-icon-arrow-left-line fr-link--icon-left">Retour à la fiche</a></p>
                    </div>
                </div>
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h1>Ajouter un agent</h1>
                    </div>
                </div>
                <div class="contact-add-form__container fr-p-5w fr-mb-6w">
                    <div class="fr-grid-row fr-pl-1w">
                        <div class="fr-col-7">
                            <form id="form-search" method="post" action="{% url 'contact-add-form' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" form="form-search" class="fr-btn">Rechercher</button>
                            </form>
                        </div>
                        <div class="fr-col-5"></div>
                    </div>
                    {% if selection_form%}
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                <form id="form-selection" method="post" action="{% url 'contact-add-form-select-agents' %}" class="fr-mt-4w">
                                    {% csrf_token %}

                                    <div class="fr-grid-row fr-pl-1w">
                                        <div class="fr-col">
                                            <p><span class="contacts-count">{{ selection_form.contacts.field.queryset.count }} agents</span> dans cette structure</p>
                                        </div>
                                    </div>

                                    {% if selection_form.contacts.errors %}
                                        <div class="grid-row">
                                            <div class="fr-col-8">
                                                <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-4w">
                                                    {% for error in selection_form.contacts.errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                                                        Masquer le message
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% with half_value=selection_form.contacts_count_half.value|stringformat:"s" %}
                                        {% with first_half=":"|add:half_value last_half=half_value|add:":" %}
                                            <div class="fr-grid-row">
                                                <div class="fr-col-6">
                                                    {% for contact in selection_form.contacts.field.queryset|slice:first_half %}
                                                        {% include "core/_contact_checkbox.html" with checkbox_id=forloop.counter %}
                                                    {% endfor %}
                                                </div>
                                                <div class="fr-col-6">
                                                    {% for contact in selection_form.contacts.field.queryset|slice:last_half %}
                                                        {% include "core/_contact_checkbox.html" with checkbox_id=forloop.counter|add:half_value %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endwith %}

                                    {{ selection_form.structure }}
                                    {{ selection_form.content_type_id }}
                                    {{ selection_form.fiche_id }}
                                    {{ selection_form.next }}

                                    <button type="submit" form="form-selection" class="fr-btn fr-mt-2w">Ajouter les contacts sélectionnés</button>
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>


    </div>
{% endblock %}
