<div data-fiche-id="{{ pk }}">
    <fieldset class="fr-segmented">
        <div class="fr-segmented__elements">
            <div class="fr-segmented__element">
                <input value="detail" checked type="radio" id="detail-btn" name="segmented-2215">
                <label class="fr-label" for="detail-btn"><i class="ri-expand-vertical-fill fr-mr-1w"></i>Affichage détaillé</label>
            </div>
            <div class="fr-segmented__element">
                <input value="synthese" type="radio" id="synthese-btn" name="segmented-2215">
                <label class="fr-label" for="synthese-btn"><i class="ri-collapse-vertical-fill fr-mr-1w"></i>Synthèse</label>
            </div>
        </div>
    </fieldset>
</div>
