<div class="message-actions fr-mb-2w">
    <nav role="navigation" class="fr-translate fr-nav">
        <div class="fr-nav__item">
            <button class="fr-translate__btn fr-btn fr-btn--secondary" aria-controls="translate-1177"
                    aria-expanded="false" title="Sélectionner un type d'élément de suivi" data-testid="element-actions">Élément de suivi</button>
            <div class="fr-collapse fr-translate__menu fr-menu" id="translate-1177">
                <ul class="fr-menu__list">
                    {% if message_v2 %}
                        <li><a class="fr-translate__language fr-nav__link" href="{% url 'message-add' content_type.pk object.pk %}?type=message">Message</a></li>
                        <li><a class="fr-translate__language fr-nav__link" href="{% url 'message-add' content_type.pk object.pk %}?type=note">Note</a></li>
                        <li><a class="fr-translate__language fr-nav__link" href="{% url 'message-add' content_type.pk object.pk %}?type=point_situation">Point de situation</a></li>
                        {% if can_add_di %}
                            <li><a class="fr-translate__language fr-nav__link" href="{% url 'message-add' content_type.pk object.pk %}?type=demande_intervention">Demande d'intervention</a></li>
                        {% endif %}
                        {% if can_add_cr_di %}
                            <li><a class="fr-translate__language fr-nav__link" href="{% url 'message-add' content_type.pk object.pk %}?type=cr_demande_intervention">Compte rendu sur demande d'intervention</a></li>
                        {% endif %}
                    {% else %}
                        <li><a class="fr-translate__language fr-nav__link open-sidebar" data-message-type="message" href="#">Message</a></li>
                        <li><a class="fr-translate__language fr-nav__link open-sidebar" data-message-type="note" href="#">Note</a></li>
                        <li><a class="fr-translate__language fr-nav__link open-sidebar" data-message-type="point de situation" href="#">Point de situation</a></li>
                        <li><a class="fr-translate__language fr-nav__link open-sidebar" data-message-type="demande d'intervention" href="#">Demande d'intervention</a></li>
                        <li><a class="fr-translate__language fr-nav__link open-sidebar" data-message-type="compte rendu sur demande d'intervention" href="#" data-testid="fildesuivi-actions-compte-rendu">Compte rendu sur demande d'intervention</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="fr-container--fluid">
    {% if message_list %}
        <div class="fr-table--lg fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        {% include "core/_tableau_fil_de_suivi.html" %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Pas de message pour le moment</p>
    {% endif %}
</div>
