<div class="message-actions fr-mb-2w">
    <a href="{{ fiche.add_message_url }}" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-mail-line fr-mr-2w"
       data-testid="fildesuivi-add">
        Nouveau message
    </a>

    <nav role="navigation" class="fr-translate fr-nav">
        <div class="fr-nav__item">
            <button class="fr-translate__btn fr-btn fr-btn--secondary" aria-controls="translate-1177"
                    aria-expanded="false" title="Sélectionner un type d'élément de suivi" data-testid="element-actions">Élément de suivi<span
                class="fr-hidden-lg"> - Français</span></button>
            <div class="fr-collapse fr-translate__menu fr-menu" id="translate-1177">
                <ul class="fr-menu__list">
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_message_url }}">Message</a></li>
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_note_url }}">Note</a></li>
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_point_de_suivi_url }}">Point de situation</a></li>
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_demande_intervention_url }}">Demande d'intervention</a></li>
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_compte_rendu_url }}" data-testid="fildesuivi-actions-compte-rendu">Compte rendu sur demande d'intervention</a></li>
                    <li><a class="fr-translate__language fr-nav__link" href="{{ fiche.add_fin_suivi_url }}">Signaler la fin de suivi</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="fr-container--fluid">
    {% if message_list %}
        <div class="fr-table--lg fr-table">
            <div class="fr-table__wrapper">
                <div class="fr-table__container">
                    <div class="fr-table__content">
                        {% include "core/_tableau_fil_de_suivi.html" %}
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <p>Pas de message pour le moment</p>
    {% endif %}
</div>
