{% if free_links_list %}
    <div class="fiche-detail__liens white-container {{ classes }}">
        <h2 class="fr-h6">{{ title }}</h2>
        {% for link in free_links_list %}
            {% if link.related_object_1 == object and not link.related_object_2.is_deleted %}
                <a class="fr-link fr-mr-2v" href="{{ link.related_object_2.get_absolute_url }}" target="_blank">{{ link.related_object_2 }}</a>
            {% endif %}
            {% if link.related_object_2 == object and not link.related_object_1.is_deleted %}
                <a class="fr-link fr-mr-2v" href="{{ link.related_object_1.get_absolute_url }}" target="_blank">{{ link.related_object_1 }}</a>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
