{% if messages %}
    <div class="fr-my-1w">
        {% for message in messages %}
            {% if value in message.extra_tags %}
                <div class="fr-alert fr-alert--{{ message.level_tag }}">
                    <h3 class="fr-alert__title">{{message}}</h3>
                    <button class="fr-btn--close fr-btn btn--close-js" title="Masquer le message">
                        Masquer le message
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
