<button class="fr-btn fr-hidden" data-fr-opened="false" aria-controls="fr-modal-blocking-error"></button>
<dialog aria-labelledby="fr-modal-blocking-error-title" id="fr-modal-blocking-error" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="fr-modal-blocking-error">Fermer</button>
                    </div>
                    <div class="fr-modal__content"><h1 id="fr-modal-blocking-error-title" class="fr-modal__title"><span
                        class="fr-icon-arrow-right-line fr-icon--lg"></span>  Conflit de versions </h1>
                        <div class="fr-alert fr-alert--error">
                            <p>Vos modifications n'ont pas été enregistrées. Un autre utilisateur a modifié cet objet. Fermer cette modale pour charger la dernière version.</p>
                        </div>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--right fr-btns-group--inline-reverse fr-btns-group--inline-lg fr-btns-group--icon-left">
                            <button class="fr-btn fr-icon-checkbox-circle-line fr-btn--icon-left fr-btn--secondary" aria-controls="fr-modal-blocking-error">
                                Fermer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
