{% extends 'sv/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'core/contact_add_form.css' %}">
{% endblock %}

{% block content %}
    <div class="fr-container">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-9">
                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <p class="fr-my-2w"><a href="{{form.next.value}}" class="fr-link fr-icon-arrow-left-line fr-link--icon-left">Retour à la fiche</a></p>
                    </div>
                </div>

                <div class="fr-grid-row">
                    <div class="fr-col-12">
                        <h1>Ajouter une structure</h1>
                    </div>
                </div>

                <div class="contact-add-form__container fr-p-5w fr-mb-6w">
                    <form id="form-search" method="post" action="{% url 'structure-selection-add-form' %}">
                        {% csrf_token %}

                        {% if form.errors %}
                            <div class="grid-row">
                                <div class="fr-col-8">
                                    <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-4w">
                                        {% for error in form.errors %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                        <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                                            Masquer le message
                                        </button>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <fieldset class="fr-fieldset" id="radio-hint" aria-labelledby="radio-hint-legend">
                            <legend class="fr-fieldset__legend--regular fr-fieldset__legend" id="radio-hint-legend">
                                {{ form.structure_niveau1.label_tag }}
                            </legend>
                            {% for structure in form.structure_niveau1 %}
                                <div class="fr-fieldset__element fr-fieldset__element--inline">
                                    <div class="fr-radio-group">
                                        {{ structure.tag }}
                                        <label class="fr-label" for="{{ structure.id_for_label }}">{{ structure.choice_label }}</label>
                                    </div>
                                </div>
                            {% endfor %}
                        </fieldset>
                        {{ form.fiche_id }}
                        {{ form.next }}
                        {{ form.content_type_id }}
                        <button type="submit" form="form-search" class="fr-btn">Rechercher</button>
                    </form>

                    {% if selection_form%}
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                <form id="form-selection" method="post" action="{% url 'structure-add' %}" class="fr-mt-4w">
                                    {% csrf_token %}

                                    <div class="fr-grid-row fr-pl-1w fr-mb-1w fr-mt-5w">
                                        <div class="fr-col">
                                            <p><span class="contacts-count">{{ selection_form.contacts.field.queryset.count }} services</span> trouvés</p>
                                        </div>
                                    </div>

                                    {% if selection_form.contacts.errors %}
                                        <div class="grid-row">
                                            <div class="fr-col-8">
                                                <div class="fr-alert fr-alert--error fr-alert--sm fr-mb-4w">
                                                    {% for error in selection_form.contacts.errors %}
                                                        <p>{{ error }}</p>
                                                    {% endfor %}
                                                    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                                                        Masquer le message
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% with half_value=selection_form.contacts_count_half.value|stringformat:"s" %}
                                        {% with first_half=":"|add:half_value last_half=half_value|add:":" %}
                                            <div class="fr-grid-row">
                                                <div class="fr-col-6">
                                                    {% for contact in selection_form.contacts.field.queryset|slice:first_half %}
                                                        {% include "core/_contact_checkbox.html" with checkbox_id=forloop.counter %}
                                                    {% endfor %}
                                                </div>
                                                <div class="fr-col-6">
                                                    {% for contact in selection_form.contacts.field.queryset|slice:last_half %}
                                                        {% include "core/_contact_checkbox.html" with checkbox_id=forloop.counter|add:half_value %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endwith %}
                                    {% endwith %}

                                    {{ selection_form.structure_selected }}
                                    {{ selection_form.content_type_id }}
                                    {{ selection_form.fiche_id }}
                                    {{ selection_form.next }}

                                    {% if selection_form.contacts.field.queryset.count %}
                                        <button type="submit" form="form-selection" class="fr-btn fr-mt-2w">Ajouter les structures sélectionnées</button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
