<table class="fil-de-suivi">
    <thead>
        <tr>
            <th scope="col">
                Date
            </th>
            <th scope="col">
                Contenu
            </th>
            <th scope="col">
                Pièce jointe
            </th>
            <th scope="col">
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        {% for message in message_list %}
            <tr id="table-sm-row-key-1" data-row-key="1">
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.date_creation }}</a>
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.title|truncatechars:100 }}</a>
                </td>
                <td>
                    {% if message.documents.count %}
                        <a href="{% url 'message-view' message.pk  %}"><span class="fr-icon-file-fill" aria-hidden="true"></span></a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.message_type|title }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>