<table class="fil-de-suivi">
    <thead>
        <tr>
            <th scope="col">
                Date
            </th>
            <th scope="col">
                De
            </th>
            <th scope="col">
                Destinataires
            </th>
            <th scope="col">
                Contenu
            </th>
            <th scope="col">
                Documents joints
            </th>
            <th scope="col">
                Type
            </th>
        </tr>
    </thead>
    <tbody>
        {% for message in message_list %}
            <tr id="table-sm-row-key-1" data-row-key="1">
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.date_creation }}</a>
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.sender.agent.structure }}</a>
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">
                        {% if message.recipients.all|length == 1 %}
                            <p class="fr-tag">{{ message.recipients.all.0 }}</p>
                        {%  elif message.recipients.all|length > 1 %}
                            <p class="fr-tag">{{ message.recipients.all.0 }} et {{ message.recipients.all|length|add:"-1" }} autres</p>
                        {%  endif %}
                    </a>
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.title|truncatechars:100 }}</a>
                </td>
                <td>
                    {% if message.documents.count %}
                        <a href="{% url 'message-view' message.pk  %}"><i class="ri-attachment-line ri-xl" aria-hidden="true"></i></a>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'message-view' message.pk  %}">{{ message.message_type|title }}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>