{% load static %}
{% load groups %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'dsfr.min.css' %}">
        <link rel="stylesheet" href="{% static 'utility/utility.min.css' %}">
        <link href="{% static 'utility/icons/icons.min.css' %}" rel="stylesheet">
        <meta name="theme-color" content="#000091">
        <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'favicon/favicon.svg' %}" type="image/svg+xml">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="manifest" href="{% static 'favicon/manifest.webmanifest' %}" crossorigin="use-credentials">
        <title>Sèves</title>
        <link rel="stylesheet" href="{% static 'core/base.css' %}">
        <link rel="stylesheet" href="{% static 'core/liens_libres.css' %}">
        <link rel="stylesheet" href="{% static 'core/bloc_commun.css' %}">
        <link rel="stylesheet" href="{% static 'core/message.css' %}">
        <link rel="stylesheet" href="{% static 'core/fil_de_suivi.css' %}">
        <link rel="stylesheet" href="{% static 'core/contact_list.css' %}">
        <link rel="stylesheet" href="{% static 'core/contact_add_form.css' %}">
        <link rel="stylesheet" href="{% static 'core/document_form.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js@11.0.4/public/assets/styles/choices.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"/>
        {% block extrahead %}{% endblock %}
    </head>

    <body class="{{ environment_class }}">
        {% block aside %}
        {% endblock aside %}
        <header role="banner" class="fr-header">
            <div class="fr-header__body">
                <div class="fr-px-1w">
                    <div class="fr-header__body-row">
                        <div class="fr-header__brand">
                            <div class="fr-header__brand-top">
                                <img src="{% static 'images/marianne.png' %}" alt="">
                                <div class="fr-header__navbar">
                                    <button class="fr-btn--menu fr-btn" data-fr-opened="false" aria-controls="modal-499"
                                            id="button-500" title="Menu"> Menu
                                    </button>
                                </div>
                            </div>
                            <div class="fr-header__service">
                                <p class="fr-header__service-title"> Sèves </p>
                            </div>
                            <div class="product-switch">
                                {% block product %}
                                    {% if current_domain %}
                                        {% if other_domains|length == 0 %}
                                            <a href="{{ current_domain.url }}" class="fr-tag {{ current_domain.icon }} fr-tag--icon-left">
                                                {{ current_domain.nom }}
                                            </a>
                                        {% else %}
                                            <nav role="navigation" class="fr-translate fr-nav">
                                                <div class="fr-nav__item">
                                                    <button class="fr-translate__btn fr-btn fr-btn--tertiary fr-tag fr-tag--icon-left"
                                                            aria-controls="domain-picker" aria-expanded="false"
                                                            title="Sélectionner un produit">
                                                        <span class="{{ current_domain.icon }} fr-icon--sm fr-pr-1w" ></span>
                                                        {{ current_domain.nom }}</button>
                                                    <div class="fr-collapse fr-translate__menu fr-menu" id="domain-picker">
                                                        <ul class="fr-menu__list">
                                                            {% for domain in other_domains %}
                                                                <li class="fr-mt-1w">
                                                                    <a class="fr-translate__language fr-nav__link fr-tag" href="{{ domain.url }}" >
                                                                        <span class="{{ domain.icon }} fr-icon--sm fr-pr-1w" ></span>
                                                                        {{ domain.nom }}</a></li>
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                </div>
                                            </nav>
                                        {% endif %}
                                    {% endif %}


                                {% endblock product %}
                            </div>
                        </div>
                        <div class="fr-header__tools">
                            <div class="fr-header__tools-links">
                                {% if user.is_authenticated %}
                                    <ul class="fr-btns-group">
                                        {% block product_nav %}
                                        {% endblock product_nav %}
                                        {% if current_domain.help_url %}
                                            <li>
                                                <a class="fr-btn" href="{{ current_domain.help_url }}" target="_blank">Aide</a>
                                            </li>
                                        {% endif %}
                                        <li class="fr-nav__item">
                                            {% if user.is_authenticated %}
                                                <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-777"><span class="fr-icon-account-circle-line"></span>{{ user.email }}</button>
                                                <div class="fr-collapse fr-menu" id="menu-777">
                                                    <ul class="fr-menu__list">
                                                        <li>
                                                            <form action="{% url 'oidc_logout' %}" method="post">
                                                                {% csrf_token %}
                                                                <input type="submit" value="Se déconnecter" class="fr-nav__link">
                                                            </form>
                                                        </li>
                                                        {% if request.user|has_group:"access_admin" %}
                                                            <li class="fr-nav__link"><a href="{% url 'handle-permissions' %}">Gestion des droits d'accès</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fr-header__menu fr-modal" id="modal-499" aria-labelledby="button-500">
                <div class="fr-container">
                    <button class="fr-btn--close fr-btn" aria-controls="modal-499" title="Fermer"> Fermer</button>
                    <div class="fr-header__menu-links"></div>
                </div>
            </div>
        </header>
        {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    {% if "core" not in message.extra_tags and "blocking" not in message.extra_tags %}
                        <div class="fr-alert fr-alert--{{ message.level_tag }}">
                            <h3 class="fr-alert__title">{{message}}</h3>
                            <button class="fr-btn--close fr-btn btn--close-js" title="Masquer le message">
                                Masquer le message
                            </button>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        {% for message in messages %}
            {% if "blocking" in message.extra_tags %}
                {% include "core/_modale_erreur_bloquante.html" %}
            {% endif %}
        {% endfor %}

        {% block content %}{% endblock %}

        <script type="module" src="{% static 'dsfr.module.min.js' %}"></script>
        <script type="text/javascript" nomodule src="{% static 'dsfr.nomodule.min.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/choices.js@11.0.4/public/assets/scripts/choices.min.js"></script>
        <script type="text/javascript" src="{% static 'core/base.js' %}"></script>
        {% block scripts %}{% endblock %}
    </body>

</html>
