{% load static dsfr_tags %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% dsfr_css %}
        {% dsfr_favicon %}
        <link rel="stylesheet" href="{% static 'core/login.css' %}">
        <title>Sèves</title>
    </head>

    <body class="login">
        <div class="fr-grid-row">
            <div class="fr-col-12 fr-col-lg-6 login-image">
            </div>
            <div class="fr-col-12 fr-col-lg-6">
                <header role="banner" class="fr-header">
                    <div class="fr-header__body">
                        <div class="fr-container">
                            <div class="fr-header__body-row">
                                <div class="fr-header__brand fr-enlarge-link">
                                    <div class="fr-header__brand-top">
                                        <div class="fr-header__logo">
                                            <p class="fr-logo">
                                                Ministère<br/>de l'agriculture<br/>et de la souveraineté<br/>alimentaire
                                            </p>
                                            <p class="project-name">Sèves</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <main>
                    <div>
                        <h1 class="fr-h1">Connexion</h1>
                        <a href="{% url 'oidc_authentication_init' %}{% if request.GET.next %}?next={{ request.GET.next|urlencode }}{% endif %}" class="fr-btn">Me connecter via le portail EAP</a>
                    </div>
                </main>


            </div>
        </div>
    </body>

</html>
