

/* -- Champs obligatoires -- */
label:has(+ input:required),
label:has(+ input[data-required="true"]),
label:has(+ select:required),
label:has(+ select[data-required="true"]),
label:has(+ textarea:required),
label:has(+ textarea[data-required="true"]),
label:has(+ .choices select:required),
label:has(+ .choices select[data-required="true"]),
fieldset:has(input[type="radio"][required]) > legend,
.required-field {
    font-weight: bold;
}
label:has(+ input:required)::after,
label:has(+ input[data-required="true"])::after,
label:has(+ select:required)::after,
label:has(+ select[data-required="true"])::after,
label:has(+ textarea:required)::after,
label:has(+ textarea[data-required="true"])::after,
label:has(+ .choices select:required)::after,
label:has(+ .choices select[data-required="true"])::after,
fieldset:has(input[type="radio"][required]) > legend::after,
.required-field::after {
    content: "*";
}

.fr-required-marker {
    display: none !important;
}

textarea {
    resize: vertical;
}

fieldset.form-fieldset {
    margin: 0;
    padding: 1.25rem;
    --idle: transparent;
    --hover: var(--background-default-grey-hover);
    --active: var(--background-default-grey-active);
    background-color: var(--background-default-grey);
    border: none;
}

fieldset.form-fieldset .fr-fieldset__legend {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
