body{
    background-color: #F6F6F6;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #000091;
}
.alert-container{
    margin: 2rem 1.5rem;
}
.main-container {
    margin: 2rem 1.5rem;
}
#en-tete{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}
#seves-title {
    font-size: 2rem;
    font-weight: bold;
}
.fr-header .fr-nav__list {
    margin: 0;
}
.menu__item--active {
    border-bottom: 4px solid var(--background-active-blue-france);
}
.choices .fr-select {
	/* Make sure we never have 2 down arrows (1 via choices js, 1 via DSFR) for select inputs that uses choices js*/
    background-image: none;
}
.choices__list--multiple .choices__item {
    /* Customize ChoicesJS multiple choices picker */
    min-width: 0px;
    min-height: 0px;
    padding: .25rem .75rem !important;
    background-color: var(--background-active-blue-france) !important;
    border: 1px solid var(--background-active-blue-france) !important;
    color: var(--text-inverted-blue-france) !important;
    margin: 0.25rem;
}
.choices__input {
    background-color: var(--background-contrast-grey) !important;
    margin-left: 1rem;
}
.choices__list--dropdown{
    z-index: 10 !important;
}
.white-container {
    background-color: white;
    padding: 1.5rem !important;
}
@media (min-width: 992px) {
    .white-container {
        padding: 2rem !important;
    }
}
.white-container--lite {
    background-color: white;
    padding: 1rem !important;
}
.fr-tabs__panel{
    transition: none !important;
}
@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 0 !important;
    }
}
.bold {
    font-weight: bold;
}
