@media (min-width: 62em) {
    .fr-header__body-row {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
        min-height: 4rem;
    }
}

.fr-header__tools-links .fr-btn--header-blue {
    --hover: var(--background-action-high-blue-france-hover);
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    margin-right: 1rem !important;
    padding: .5rem 1rem !important;
}

.fr-header__body-row .fr-btns-group .fr-btn {
    margin-top: auto;
    margin-bottom: auto;
}

.fr-header__body-row .fr-btns-group {
    margin-top: -1rem;
}

/* Enbables using Remix icons with DSFR styles */
.fr-icon-ri[class*=" ri-"]:after,
.fr-icon-ri[class*=" ri-"]:before,
.fr-icon-ri[class^=ri-]:after,
.fr-icon-ri[class^=ri-]:before {
    background-color: transparent;
    font-size: var(--icon-size);
    align-self: baseline;
}

.fr-header .fr-nav__list {
    margin: 0;
}

.fr-tabs__panel {
    transition: none !important;
}

.fr-fieldset__legend.fr-h1,
.fr-fieldset__legend.fr-h2,
.fr-fieldset__legend.fr-h3,
.fr-fieldset__legend.fr-h4,
.fr-fieldset__legend.fr-h5,
.fr-fieldset__legend.fr-h6 {
    padding-bottom: 0;
}

.fr-grid-row--border > .fr-col:not(:first-child),
.fr-grid-row--border > [class*=" fr-col-"]:not(:first-child) {
    border-left: 1px solid var(--border-default-grey);
}

.fr-flex {
    display: flex !important;
    flex-direction: column;
    width: 100%;
}

.fr-flex--row {
    flex-direction: row !important;
}

.fr-flex--align-normal {
    align-items: normal !important;
}

.fr-flex--space-between {
    justify-content: space-between;
}
.fr-flex--align-end{
    align-self: flex-end;
}

.fr-container-xxl {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
