body{
    background-color: #F6F6F6;
}
header{
    border-bottom: 2px solid #000091;
}
header .fr-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}
header .fr-header__body-row {
    margin: 0;
}
@media (min-width: 62em) {
    .fr-header__body-row {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
        min-height: 4rem;
    }
}

.fr-header__tools-links .fr-btn--header-blue {
    --hover: var(--background-action-high-blue-france-hover);
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    margin-right: 1rem !important;
    padding: .5rem 1rem !important;
}

.fr-header__body-row .fr-btns-group .fr-btn {
    margin-top: auto;
    margin-bottom: auto;
}
.fr-header__body-row .fr-btns-group {
    margin-top: -1rem;
}

/* Enbables using Remix icons with DSFr styles */
.fr-icon-ri[class*=" ri-"]:after,
.fr-icon-ri[class*=" ri-"]:before,
.fr-icon-ri[class^=ri-]:after,
.fr-icon-ri[class^=ri-]:before {
    background-color: transparent;
    font-size: var(--icon-size);
    align-self: baseline;
}

.product-switch .fr-menu .fr-nav__link{
    padding: 0.25rem 0.5rem;
}
.product-switch .fr-menu__list{
    background: transparent;
}
.product-switch .fr-translate .fr-translate__btn::before {
    width: 0px;
}


.alert-container{
    margin: 2rem 1.5rem;
}
.main-container {
    margin: 2rem 1.5rem;
}
#en-tete{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
}
#seves-title {
    font-size: 2rem;
    font-weight: bold;
}
.fr-header .fr-nav__list {
    margin: 0;
}
.menu__item--active {
    border-bottom: 4px solid var(--background-active-blue-france);
}
.choices .fr-select {
	/* Make sure we never have 2 down arrows (1 via choices js, 1 via DSFR) for select inputs that uses choices js*/
    background-image: none;
}
.choices__list--multiple .choices__item {
    /* Customize ChoicesJS multiple choices picker */
    min-width: 0px;
    min-height: 0px;
    padding: .25rem .75rem !important;
    background-color: var(--background-active-blue-france) !important;
    border: 1px solid var(--background-active-blue-france) !important;
    color: var(--text-inverted-blue-france) !important;
    margin: 0.25rem;
}
.choices__input {
    background-color: var(--background-contrast-grey) !important;
    margin-left: 1rem;
}
.choices__list--dropdown{
    z-index: 10 !important;
}
.white-container {
    background-color: white;
    padding: 1.5rem !important;
}
@media (min-width: 992px) {
    .white-container {
        padding: 2rem !important;
    }
}
.white-container--lite {
    background-color: white;
    padding: 1rem !important;
}
.fr-tabs__panel{
    transition: none !important;
}
@media (min-width: 640px) {
    .choices__list--dropdown .choices__item--selectable {
        padding-right: 0 !important;
    }
}
.bold {
    font-weight: bold;
}

/* -- Champs obligatoires -- */
label:has(+ input:required),
label:has(+ input[data-required="true"]),
label:has(+ select:required),
label:has(+ select[data-required="true"]),
label:has(+ textarea:required),
label:has(+ textarea[data-required="true"]),
label:has(+ .choices select:required),
label:has(+ .choices select[data-required="true"]),
.required-field {
    font-weight: bold;
}
label:has(+ input:required)::after,
label:has(+ input[data-required="true"])::after,
label:has(+ select:required)::after,
label:has(+ select[data-required="true"])::after,
label:has(+ textarea:required)::after,
label:has(+ textarea[data-required="true"])::after,
label:has(+ .choices select:required)::after,
label:has(+ .choices select[data-required="true"])::after,
.required-field::after {
    content: "*";
}

/* -- Champs obligatoires (choices-js) -- */
.choices__input[hidden][required] {
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
}


.ac-notified {
    background-color: #faa18d;
    min-height: 1.5rem;
    padding: 0 .5rem;
    border-radius: .25rem;
    color: white;
}

.environment-banner::before {
    position: fixed;
    top: 20px;
    left: -55px;
    width: 175px;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-weight: bold;
    font-size: 14px;
    z-index: 9999;
    transform: rotate(-45deg);
    transform-origin: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
.environment-recette::before {
    content: "RECETTE";
    background-color: red;
}
.environment-dev::before {
    content: "DEV";
    background-color: green;
}

.details-top-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.details-top-row--actions {
    max-height: 2.5rem;
}
.details-top-row--actions .fr-translate__btn::before {
    -webkit-mask-image: url(../../../static/icons/system/add-line.svg);
    mask-image: url(../../../static/icons/system/add-line.svg);
}
.details-top-row--actions .fr-translate__btn{
    height: 100%;
}
.details-top-row--actions {
    margin-left: auto;
}
@media (min-width: 992px) {
    .details-top-row--actions{
        margin-left: unset;
    }
}
@media (min-width: 992px) {
    .details-top-row--actions .fr-nav__item {
        height: 100%;
    }
}
.details-top-row--actions .fr-nav__link{
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
@media (min-width: 992px) {
    .details-top-row--actions .fr-nav__link{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
