@media (min-width: 62em) {
    .fr-header__body-row {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
        padding-top: 0.75rem !important;
        padding-bottom: 0.75rem !important;
        min-height: 4rem;
    }
}

.fr-header__tools-links .fr-btn--header-blue {
    --hover: var(--background-action-high-blue-france-hover);
    background-color: var(--background-action-high-blue-france);
    color: var(--text-inverted-blue-france);
    margin-right: 1rem !important;
    padding: 0.5rem 1rem !important;
}

.fr-header__body-row .fr-btns-group .fr-btn {
    margin-top: auto;
    margin-bottom: auto;
}

.fr-header__body-row .fr-btns-group {
    margin-top: -1rem;
}

/* Enbables using Remix icons with DSFR styles */
.fr-icon-ri[class*=" ri-"]:after,
.fr-icon-ri[class*=" ri-"]:before,
.fr-icon-ri[class^="ri-"]:after,
.fr-icon-ri[class^="ri-"]:before {
    background-color: transparent;
    font-size: var(--icon-size);
    align-self: baseline;
}

.fr-header .fr-nav__list {
    margin: 0;
}

.fr-tabs__panel {
    transition: none !important;
}

.fr-fieldset__legend.fr-h1,
.fr-fieldset__legend.fr-h2,
.fr-fieldset__legend.fr-h3,
.fr-fieldset__legend.fr-h4,
.fr-fieldset__legend.fr-h5,
.fr-fieldset__legend.fr-h6 {
    padding-bottom: 0;
}

.fr-grid-row--border > .fr-col:not(:first-child),
.fr-grid-row--border > [class*=" fr-col-"]:not(:first-child) {
    border-left: 1px solid var(--border-default-grey);
}

.fr-block {
    display: block !important;
}

.fr-flex-only {
    display: flex !important;
}

.fr-flex {
    display: flex !important;
    flex-direction: column;
    width: 100%;
}

.fr-flex--row {
    flex-direction: row !important;
}

.fr-flex--align-normal {
    align-items: normal !important;
}

.fr-flex--space-between {
    justify-content: space-between;
}

.fr-flex--align-end {
    align-self: flex-end;
}

.fr-container-xxl {
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* Fixes behavior of .fr-links in .fr-btns-group */
.fr-btns-group .fr-link {
    align-self: center !important;
    margin: 0 0.5rem 1rem !important;
}

.btn-add-group .fr-menu {
    margin: 0;
}

.btn-add-group .fr-translate .fr-translate__btn::before {
    -webkit-mask-image: url(/static/dsfr/dist/icons/system/add-line.svg);
    mask-image: url(/static/dsfr/dist/icons/system/add-line.svg);
}

.fr-textarea-grow {
    height: 100%;
}

.fr-textarea-grow .fr-input-group {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.fr-textarea-grow .fr-input-group textarea {
    flex-grow: 1;
}

.fr-progress {
    background-color: transparent;
    border-radius: 2px;
    height: 0.312rem;
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.fr-progress.fr-progress--indeterminate:before,
.fr-progress.fr-progress--indeterminate:after {
    content: "";
    position: absolute;
    background-color: var(--border-plain-info);
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
}

.fr-progress.fr-progress--indeterminate:before {
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.fr-progress.fr-progress--indeterminate:after {
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
