textarea {
    resize: vertical;
}

fieldset.form-fieldset {
    margin: 0;
    padding: 1.25rem;
    --idle: transparent;
    --hover: var(--background-default-grey-hover);
    --active: var(--background-default-grey-active);
    background-color: var(--background-default-grey);
    border: none;
}

fieldset.form-fieldset .fr-fieldset__legend {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
