.contact-agent,
.contact-structure {
    display: flex;
    align-items: center;
    background-color: white;
}
.contact-agent .name,
.contact-structure .libelle {
    font-size: 0.875rem;
    font-weight: bold;
}
.contact-agent .email,
.contact-structure .email {
    font-size: 0.75rem;
}

.contact-agent .phone {
    font-size: 0.875rem;
    text-align: center;
}

@media (min-width: 992px) and (max-width: 1248px) {
    .contact-agent .structure {
        font-size: 0.7rem;
    }
    .contact-agent .phone {
        font-size: 0.75rem;
    }
}
