/*
 * This file is ncessary while not all forms haven't been migrated to DsfrBaseForm. Include this in all
 * pages using it.
 */

/* This is already handled by django-dsfr */
label:has(+ input:required)::after,
label:has(+ input[data-required="true"])::after,
label:has(+ select:required)::after,
label:has(+ select[data-required="true"])::after,
label:has(+ textarea:required)::after,
label:has(+ textarea[data-required="true"])::after,
label:has(+ .choices select:required)::after,
label:has(+ .choices select[data-required="true"])::after,
.required-field::after {
    content: none;
}

/* Except in modals because the field is marked as not required in the form class but the required attribute is
added via JS when opening the modal, also used for conditional fields */
.needs-required label:has(+ input:required)::after,
.needs-required label:has(+ input[data-required="true"])::after,
.needs-required label:has(+ select:required)::after,
.needs-required label:has(+ select[data-required="true"])::after,
.needs-required label:has(+ textarea:required)::after,
.needs-required label:has(+ textarea[data-required="true"])::after,
.needs-required label:has(+ .choices select:required)::after,
.needs-required label:has(+ .choices select[data-required="true"])::after,
.required-field::after {
    content: "*";
}
