.login main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 145px);
}

.login h1 {
    text-align: center;
}

.login .fr-header {
    filter: none;
}

.login-image {
    width: 100%;
    background-image: url("../images/login.jpeg");
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 145, 0.66);
}

.login .fr-header__brand {
    width: 100%;
}
.login .fr-header__brand-top {
    width: 100%;
}
.login .fr-header__logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.login .project-name {
    padding-top: 25px;
    font-size: 4rem;
    font-weight: bold;
    color: #000091;
}
