#message-type-title::first-letter {
    text-transform: capitalize;
}
.message-document-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}
label[for=id_recipients]::after, label[for=id_recipients_structures_only]::after{
    content: none !important;
}
.btn-full{
    width: 100%;
    display: block;
    text-align: center;
}
.document-to-add {
    background-color: var(--background-action-low-blue-france);
    display: flex;
    justify-content: space-between;
}
.document-to-add a{
    background-image: none;
}
.document-to-add span{
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message-documents-actions{
    display: flex;
    justify-content: end;
}
label[for=id_recipients], label[for=id_recipients_copy], label[for=id_recipients_structures_only], label[for=id_recipients_copy_structures_only]
{
    display: flex;
    justify-content: space-between;
}

#message-form .choices [hidden]{
    display: block !important;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
}
