#message-add-document {
    background-color: white;
}

.document-to-add {
    background-color: white !important;
}

@media (max-width: 78em) {
    .documents-col {
        order: -1;
    }
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
    /* Must be over 750 which is the z-index of the header/banner in the DSFR */
    z-index: 800 !important;
}
