#message-type-title::first-letter {
    text-transform: capitalize;
}
.message-document-container {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.btn-full{
    width: 100%;
    display: block;
    text-align: center;
}
.document-to-add {
    background-color: var(--background-action-low-blue-france);
    display: flex;
    justify-content: space-between;
}
.document-to-add a{
    background-image: none;
}
.document-to-add span{
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.message-documents-actions{
    display: flex;
    justify-content: end;
}
label[for=id_recipients], label[for=id_recipients_copy]
{
    display: flex;
    justify-content: space-between;
}
