.structure-add-form__container {
    background-color: var(--background-default-grey);
    min-height: 600px
}
#id_allowed_structures {
    display: flex;
    justify-content: space-between;
    margin-right: 5rem;
    flex-wrap: wrap;

}
#id_allowed_structures div {
    flex: 1 1 50%;
    max-width: 50;
    box-sizing: border-box;
}
