{% load dsfr_tags widget_tweaks %}

<fieldset class="fr-fieldset form-fieldset">
    <legend class="fr-fieldset__legend fr-h3">Informations</legend>

    {% if form.non_field_errors %}
        <section class="fr-my-4v fr-input-group fr-input-group--error">
            {{ form.non_field_errors }}
        </section>
    {% endif %}

    <div class="fr-grid-row fr-col">
        <div class="fr-col-12 fr-col-xl-8 fr-grid-row">
            <div class="fr-col-12 fr-col-md-6">
                <div class="fr-fieldset__element">
                    <div id="date-creation" class="fr-input-group">
                        <label class="fr-label" for="date-creation-input">Date de création</label>
                        {% now 'Y-m-d' as now %}
                        <input
                            type="date"
                            id="date-creation-input"
                            class="fr-input"
                            value="{{ form.instance.date_creation|date:"Y-m-d"|default:now }}"
                            disabled
                        >
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    {% dsfr_form_field form.date_reception %}
                </div>
                {% if form.numero_rasff %}
                    <div class="fr-fieldset__element">
                        {% dsfr_form_field form.numero_rasff %}
                    </div>
                {% endif %}
            </div>
            <div class="fr-col-12 fr-col-md-6">
                <div class="fr-fieldset__element">
                    <div class="fr-input-group">
                        <label class="fr-label" for="type-evenement-input">Type d'évènement</label>
                        <select
                            type="date"
                            id="type-evenement-input"
                            class="fr-input"
                            disabled
                        >
                            <option selected>Investigation de cas humain</option>
                        </select>
                    </div>
                </div>
                <div class="fr-fieldset__element">
                    {% dsfr_form_field form.source %}
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-xl-4 fr-flex">
            <div class="fr-fieldset__element fr-textarea-grow">
                {% dsfr_form_field form.description|remove_attr:"rows" %}
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="fr-fieldset form-fieldset fr-mt-4v">
    <legend class="fr-fieldset__legend fr-h3">Risque</legend>

    <div class="fr-grid-row fr-col">
        <div class="fr-col-12 fr-col-xl-6">
            <div class="fr-fieldset__element">
                {{ form.categorie_danger.label_tag }}
                <div id="categorie-danger"></div>
                {{ form.categorie_danger }}
                <div class="fr-mt-2v fr-hidden" id="notice-container-risque">
                    {% dsfr_notice title="Catégorie de niveau 2 sélectionnée : pensez à préciser dès que possible." %}
                </div>
            </div>
            <div class="fr-fieldset__element">
                {% dsfr_form_field form.precision_danger %}
            </div>
            <div class="fr-fieldset__element">
                {% dsfr_form_field form.reference_souches %}
            </div>
            <div class="fr-fieldset__element">
                {% dsfr_form_field form.reference_clusters %}
            </div>
            <fieldset class="fr-fieldset fr-px-2v fr-mx-0 fr-hidden" id="pam-container">
                {{ form.produit_pret_a_manger.label_tag }}
                {{ form.produit_pret_a_manger|dsfr_inline }}
            </fieldset>
            <div class="fr-notice fr-notice--info fr-text--xs fr-mx-2v">
                <div class="fr-container fr-m-0">
                    <div class="fr-notice__body">
                        <p>
                            <span class="fr-notice__title">Déposez vos rapports d'analyse dans l'onglet document après publication de la fiche</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="fr-col-12 fr-col-xl-6 fr-flex">
            <div class="fr-fieldset__element fr-textarea-grow">
                {% dsfr_form_field form.evaluation|remove_attr:"rows" %}
            </div>
        </div>
    </div>
</fieldset>

<div class="fr-hidden" id="categorie-danger-header">
    <div class="fr-ml-1v">Dangers les plus courants</div>
    {% for danger in form.danger_plus_courants %}
        <div class="treeselect-list__item" level="0" group="false">
            <label class="treeselect-list__item-label shortcut">{{ danger }}</label>
        </div>
    {% endfor %}
    <div class="fr-ml-1v">Liste complète des dangers</div>
</div>

<div id="categorie-danger-data" class="fr-hidden">{{ form.categorie_danger_data }}</div>
