{% load or_empty_value_tag %}
<div class="fr-container--fluid">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-7 bold">Créateur</div>
          <div class="fr-col-5">{{ object.createur }}</div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-7 bold">Date de réception à la DD(ETS)PP</div>
          <div class="fr-col-5">{{ object.date_reception|date:"d/m/Y"|or_empty_value_tag }}</div>
        </div>
      </div>
    </div>
    {% with object.etablissements.first as etablissement %}
      <div class="fr-col-3">
        <div class="fr-container--fluid">
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Établissement</div>
            <div class="fr-col-7">{{ etablissement.raison_sociale }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Commune</div>
            <div class="fr-col-7">{{ etablissement.commune|or_empty_value_tag }}</div>
          </div>
        </div>
      </div>
    {% endwith %}
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Type d'événement</div>
          <div class="fr-col-7">Enregistrement simple</div>
        </div>
      </div>
    </div>
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Suite donnée par la DD</div>
          <div class="fr-col-7">{{ object.get_follow_up_display }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
