{% load or_empty_value_tag dsfr_tags %}
<div class="fr-container--fluid">
  <div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-7 bold">Créateur</div>
          <div class="fr-col-5">{{ object.createur }}</div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-7 bold">Transféré à</div>
          <div class="fr-col-5">{{ object.transfered_to|or_empty_value_tag }}</div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-7 bold">Date de réception</div>
          <div class="fr-col-5">{{ object.date_reception|date:"d/m/Y"|or_empty_value_tag }}</div>
        </div>
      </div>
    </div>
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Etablissement{{ etablissements|length|pluralize }}</div>
          <div class="fr-col-7">
            {% if raisons_sociales|length == 0 %}
              <span class="empty-value">Vide</span>
            {% elif raisons_sociales|length == 1 %}
              {{ raisons_sociales.0 }}
            {% else %}
              {{ raisons_sociales.0 }}
              {% with rest_length=raisons_sociales|length|add:"-1" %}
                <p class="fr-tag" aria-describedby="message-tooltip-raisons">et {{ rest_length }} autre{{ rest_length|pluralize }}</p>
              {% endwith %}
              <span class="fr-tooltip fr-placement" id="message-tooltip-raisons" role="tooltip" aria-hidden="true">Autres établissements : {{ raisons_sociales|slice:"1:"|join:', ' }}</span>
            {% endif%}
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Commune{{ communes|length|pluralize }}</div>
          <div class="fr-col-7">
            {% if communes|length == 0 %}
              <span class="empty-value">Vide</span>
            {% elif communes|length == 1 %}
              {{ communes.0 }}
            {% else %}
              {{ communes.0 }}
              {% with rest_length=communes|length|add:"-1" %}
                <p class="fr-tag" aria-describedby="message-tooltip-communes">et {{ rest_length }} autre{{ rest_length|pluralize }}</p>
              {% endwith %}
              <span class="fr-tooltip fr-placement" id="message-tooltip-communes" role="tooltip" aria-hidden="true">Autre communes : {{ communes|slice:"1:"|join:', ' }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Type d'événement</div>
          <div class="fr-col-7">Enregistrement simple</div>
        </div>
      </div>
    </div>
    <div class="fr-col-3">
      <div class="fr-container--fluid">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-5 bold">Suite donnée</div>
          <div class="fr-col-7">{{ object.get_follow_up_display }}</div>
          {% if object.display_transformed_notice %}
            {% dsfr_notice title='Publiez la fiche, puis passez-la en investigation de TIAC depuis le menu "+ Action"' %}
          {% endif %}
          {% if object.display_evenement_produit_notice %}
            {% dsfr_notice title='Publiez la fiche, puis créez un nouvel évènement dans "Produit & cas" et mettez les deux fiches en lien.' %}
          {% endif %}
          {% if object.display_transfer_notice %}
            {% dsfr_notice title='Publiez la fiche, puis transférez-la depuis le menu "+ Action"' %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
