{% if can_be_deleted %}
    <nav role="navigation" class="fr-translate fr-nav">
        <div class="fr-nav__item">
            <button class="fr-translate__btn fr-btn fr-btn--lg" aria-controls="action-1"
                    aria-expanded="false" title="Sélectionner une action">Actions</button>
            <div class="fr-collapse fr-translate__menu fr-menu" id="action-1">
                <ul class="fr-menu__list">
                    {% if can_be_deleted %}
                        <li><a class="fr-translate__language fr-nav__link" href="#" data-fr-opened="false" aria-controls="fr-modal-delete"><span class="fr-icon-close-circle-fill fr-mr-2v fr-icon--sm" aria-hidden="true"></span>Supprimer l'événement</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endif %}

{% if can_be_deleted %}
    {% url 'tiac:evenement-liste' as next_url %}
    {% include "core/_delete_modal.html" with object=object content_type=content_type next_url=next_url%}
{% endif %}
