{% load or_empty_value_tag dsfr_tags %}

<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="white-container">
            <h2 class="fr-h6">Établissements impliqués</h2>
            <div id="etablissement-card-container">
                {% for etablissement in object.etablissements.all %}
                    {% include "tiac/_evenement_simple_etablissement_modal.html" %}
                    <div class="etablissement-card fr-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                <div>
                                    <p class="fr-card__title">{{ etablissement.raison_sociale }}</p>
                                </div>
                                {% if etablissement.address_summary %}
                                    <p class="fr-card__detail fr-icon-map-pin-2-line fr-my-2v">{{ etablissement.address_summary }}</p>

                                {% endif %}
                                {% if etablissement.siret %}
                                    Siret : {{ etablissement.siret }}
                                {% endif %}
                                {% if etablissement.type_etablissement %}
                                    {% dsfr_badge label=etablissement.type_etablissement extra_classes="fr-badge--info fr-badge--no-icon fr-badge--sm fr-m-0" %}
                                {% endif %}

                                <div class="fr-btns-group--right">
                                    <button data-fr-opened="false" aria-controls="fr-modal-etablissement-{{ etablissement.pk }}" class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-search-line fr-mt-4v">Voir le détail</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Aucun établissement enregistré</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
