{% load or_empty_value_tag %}
<div class="white-container detail-content">
  <h2 class="fr-h6">Le contexte</h2>
  <div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
      <div class="fr-col-3">
        <div class="fr-container--fluid">
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-7 bold">Créateur</div>
            <div class="fr-col-5">{{ object.createur }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-7 bold">Date de création</div>
            <div class="fr-col-5">{{ object.date_creation|date }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-7 bold">Date de réception à la DD(ETS)PP</div>
            <div class="fr-col-5">{{ object.date_reception|date|or_empty_value_tag }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-7 bold">Signalement déclaré par</div>
            <div class="fr-col-5">{{ object.get_evenement_origin_display|or_empty_value_tag }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-7 bold">Modalités de déclaration</div>
            <div class="fr-col-5">{{ object.get_modalites_declaration_display|or_empty_value_tag }}</div>
          </div>
        </div>
      </div>
      <div class="fr-col-6">
        <div class="fr-container--fluid">
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Contenu du signalement</div>
            <div class="fr-col-7">{{ object.contenu|linebreaksbr }}</div>
          </div>
        </div>
      </div>
      <div class="fr-col-3">
        <div class="fr-container--fluid">
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">ARS informée</div>
            <div class="fr-col-7">{{ object.get_notify_ars_display|or_empty_value_tag }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Nombre total de malades</div>
            <div class="fr-col-7">{{ object.nb_sick_persons|or_empty_value_tag }}</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Type d'événement</div>
            <div class="fr-col-7">Enregistrement simple</div>
          </div>
          <div class="fr-grid-row fr-grid-row--gutters">
            <div class="fr-col-5 bold">Suite donnée par la DD</div>
            <div class="fr-col-7">{{ object.get_follow_up_display }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
