{% load or_empty_value_tag and_more_ellipsis_tooltip %}

<div class="fr-container--fluid">
    <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-3">
            <div class="fr-container--fluid">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-7 bold">Créateur</div>
                    <div class="fr-col-5">{{ object.createur }}</div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-7 bold">Date de création</div>
                    <div class="fr-col-5">{{ object.date_creation|date:"d/m/Y" }}</div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-7 bold">Date de réception</div>
                    <div class="fr-col-5">{{ object.date_reception|date:"d/m/Y"|or_empty_value_tag }}</div>
                </div>
            </div>
        </div>
        <div class="fr-col-4">
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-4 bold">Date du/des repas</div>
                <div class="fr-col-8">
                    {% and_more_ellipsis_tooltip dates_repas tooltip_prefix="Date de l'autre repas :" tooltip_prefix_plural="Dates des autres repas :" %}
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-4 bold">Etablissement{{ etablissements|length|pluralize }}</div>
                <div class="fr-col-8">
                    {% and_more_ellipsis_tooltip etablissements tooltip_prefix="Autre{plural} établissement{plural} :" field="raison_sociale"%}
                </div>
            </div>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-4 bold">Commune{{ etablissements|length|pluralize }}</div>
                <div class="fr-col-8">
                    {% and_more_ellipsis_tooltip etablissements tooltip_prefix="Autre{plural} établissement{plural} :" field="commune_and_cp"%}
                </div>
            </div>
        </div>
        <div class="fr-col-5">
            <div class="fr-container--fluid">
                <div class="fr-grid-row fr-grid-row--gutters">
                    <div class="fr-col-5 bold">Contenu du signalement</div>
                    <div class="fr-col-7">{{ object.contenu|linebreaksbr }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
