<dialog aria-labelledby="fr-modal-title-modal" role="dialog" id="fr-modal-transfer" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-transfer">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Transférer à une autre DD</h1>
                        <p>Veuillez choisir la DD dans la liste suivante</p>
                        <form method="post" action="{% url 'tiac:evenement-simple-transfer' evenement.pk %}">
                            <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-lg">
                                {% csrf_token %}
                                {{ transfer_form }}
                                <button type="button" class="fr-btn fr-btn--secondary" aria-controls="fr-modal-transfer">Annuler</button>
                                <button type="submit" class="fr-btn" data-testid="submit-transfer-modal">Transférer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
