{% extends "core/base.html" %}
{% load static %}

{% block base_override %}
    <link rel="stylesheet" href="{% static 'tiac/base.css' %}"/>
{% endblock %}

{% block product_nav %}
    <li class="btn-add-group fr-my-auto">
        <nav role="navigation" class="fr-translate fr-nav">
            <div class="fr-nav__item">
                <button class="fr-translate__btn fr-btn fr-btn--header-blue" aria-controls="translate-1"
                        aria-expanded="false" title="Sélectionner un type de fiche a créer">Créer un événement</button>
                <div class="fr-collapse fr-translate__menu fr-menu" id="translate-1">
                    <ul class="fr-menu__list">
                        <li><a class="fr-translate__language fr-nav__link" href="{% url 'tiac:evenement-simple-creation' %}">Enregistrement simple</a></li>
                        <li><a class="fr-translate__language fr-nav__link" href="{% url 'tiac:investigation-tiac-creation' %}">Investigation de TIAC</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </li>
    <li class="{% block highlight_menu_evenements %}{% endblock %}">
        <a class="fr-btn" href="{% url 'tiac:evenement-liste' %}">Liste des événements</a>
    </li>
{% endblock product_nav %}
