{% extends "tiac/base.html" %}

{% block content %}
    <form class="fr-container--fluid fr-background-alt--grey" method="post">
        {% csrf_token %}
        <main class="main-container">
            <div class="evenement-produit-form-header fr-grid-row">
                <h1 class="fr-col-6">Enregistrement simple</h1>
                <div class="fr-col-6 fr-mb-auto fr-grid-row fr-grid-row--right">
                    {% if form.instance and form.instance.is_draft %}
                        <button type="submit" name="action" value="draft" class="fr-btn fr-btn--secondary fr-mr-2w">
                            Enregistrer le brouillon
                        </button>
                    {% endif %}
                    <button type="submit" name="action" value="publish" class="fr-btn">
                        {% if form.instance.pk %}Enregistrer{% else %}Publier{% endif %}
                    </button>
                </div>

            </div>

            {{ form }}

            {{ etablissement_formset }}
        </main>
    </form>
{% endblock %}
