{% extends "tiac/base.html" %}
{% load dsfr_tags widget_tweaks static render_field_with_inline_label %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'core/_etablissement_card.css' %}">
    <link rel="stylesheet" href="{% static 'tiac/investigation_base.css' %}">
    <link rel="stylesheet" href="{% static 'tiac/investigation.css' %}">
    <link rel="stylesheet" href="{% static 'ssa/_custom_tree_select.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/treeselectjs@0.13.1/dist/treeselectjs.css" />
{% endblock %}

{% block content %}
    <form class="fr-container--fluid fr-background-alt--grey" method="post">
        {% csrf_token %}
        <main class="main-container">
            <div class="evenement-produit-form-header fr-grid-row">
                <h1 class="fr-col-6">
                    {% if form.instance.pk %}
                        Modification d'une investigation de TIAC
                    {% else %}
                        Création d'une investigation de TIAC
                    {% endif %}
                </h1>
                <div class="fr-col-6 fr-mb-auto fr-grid-row fr-grid-row--right">
                    <div class="fr-links-group fr-links-group--inline">
                        {% block buttons %}
                            {% if form.instance and form.instance.is_draft %}
                                <button type="submit" name="action" value="draft" class="fr-btn fr-btn--secondary">
                                    Enregistrer le brouillon
                                </button>
                            {% endif %}
                            <button id="submit_publish" type="submit" name="action" value="publish" class="fr-btn">
                                {% if form.instance.pk %}Enregistrer{% else %}Publier{% endif %}
                            </button>
                        {% endblock %}
                    </div>
                </div>
            </div>

            {% if form.non_field_errors %}
                <section class="fr-my-4v fr-input-group fr-input-group--error">
                    {{ form.non_field_errors }}
                </section>
            {% endif %}

            <fieldset class="fr-fieldset form-fieldset">
                <div class="fieldset-header">
                    <legend class="fr-fieldset__legend fr-h3">Le contexte</legend>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-col">
                    <div class="fr-col-12 fr-col-lg-4">
                        <div class="fr-input-group">
                            <label class="fr-label" for="date-creation-input">Date de création</label>
                            <input type="text" id="date-creation-input" class="fr-input" value="{% if form.instance.date_creation %}{{ form.instance.date_creation|date:"d/m/Y" }}{% else %}{% now 'd/m/Y' %}{% endif %}" disabled>
                        </div>
                        {% dsfr_form_field form.date_reception %}
                        {% dsfr_form_field form.evenement_origin %}
                        {% dsfr_inline_radio_field form.modalites_declaration %}
                    </div>

                    <div class="fr-col-12 fr-col-lg-4">
                        {% dsfr_form_field form.contenu %}
                    </div>

                    <div class="fr-col-12 fr-col-lg-4">
                        {% dsfr_inline_radio_field form.notify_ars %}
                        {% dsfr_inline_radio_field form.will_trigger_inquiry %}
                        {% dsfr_form_field form.numero_sivss %}
                        {% dsfr_form_field form.follow_up %}
                    </div>
                </div>
            </fieldset>


            <fieldset class="fr-fieldset form-fieldset fr-mt-4v cas-fieldset">
                <div class="fieldset-header">
                    <legend class="fr-fieldset__legend fr-h3">Cas</legend>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-col">
                    <div class="fr-col-12 fr-col-lg-2">
                        {% dsfr_form_field form.nb_sick_persons %}
                    </div>
                    <div class="fr-col-12 fr-col-lg-2">
                        {% dsfr_form_field form.nb_sick_persons_to_hospital %}
                    </div>
                    <div class="fr-col-12 fr-col-lg-2">
                        {% dsfr_form_field form.nb_dead_persons %}
                    </div>
                    <div class="fr-col-12 fr-col-lg-3">
                        {% dsfr_form_field form.datetime_first_symptoms %}
                    </div>
                    <div class="fr-col-12 fr-col-lg-3">
                        {% dsfr_form_field form.datetime_last_symptoms %}
                    </div>
                </div>

            </fieldset>

            <fieldset class="fr-fieldset form-fieldset fr-mt-4v form-fieldset" data-controller="etiologie-form" data-etiologie-form-selected-values-value='[]'>

                <div class="fieldset-header">
                    <legend class="fr-fieldset__legend fr-h3">Étiologie</legend>
                    <button
                        type="button"
                        class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mb-2w"
                        data-action="etiologie-form#onShowFirstModal:prevent:stop"
                        data-testid="add-etiologie"
                    >
                        Ajouter
                    </button>
                </div>

                <div class="fr-mb-2v">Dangers syndromiques suspectés</div>
                <script data-etiologie-form-target="jsonConfig" type="application/json">
                    {{ dangers_json|safe }}
                </script>
                <div class="etiologie-card-container fr-p-4w fr-mb-4w" data-etiologie-form-target="etiologieEmptyCardContainer">
                    <span class="fr-hint-text">Aucun danger syndromique suspecté n'est enregistré</span>
                </div>
                <div data-etiologie-form-target="etiologieCardContainer">
                </div>

                {% include "tiac/_etilogie_modal.html" %}
                {% include "tiac/_etilogie_modal_confirmation.html" %}
                {% dsfr_form_field form.danger_syndromiques_suspectes|set_data:"etiologie-form-target:hiddenField" %}
                {% for danger in dangers %}
                    {% include "tiac/_etilogie_template.html" with id=danger.html_id titre=danger.name_display help_text=danger.help_text description=danger.description %}
                {% endfor %}

                {% dsfr_form_field form.analyses_sur_les_malades|dsfr_inline %}
                <div class="fr-grid-row fr-grid-row--gutters fr-col">
                    <div class="fr-col-12 fr-col-lg-6">
                        {% dsfr_form_field form.precisions %}
                    </div>
                </div>


            </fieldset>
            <fieldset class="fr-fieldset form-fieldset fr-mt-4v">
                <h3 class="fr-h3">Éléments de l'investigation</h3>
                <div>
                    {% dsfr_notice title="Pour les TIAC confirmées ou fortement suspectées, seul l'enregistrement des éléments conclusifs est requis.<br/> Vous pouvez ajouter d'autres éléments si cela vous aide dans l'investigation (ces données ne seront pas valorisées dans les bilans nationaux)" %}
                </div>
                {{ etablissement_formset }}
                {{ repas_formset }}
                {{ aliment_formset }}
                {{ analyse_alimentaire_formset }}
            </fieldset>
            <fieldset class="fr-fieldset form-fieldset fr-mt-4v form-fieldset" data-controller="agents-pathogene" id="agents-pathogene">
                <div data-agents-pathogene-target="jsonConfig" class="fr-hidden">{{ categorie_danger_data|safe }}</div>
                <div class="fieldset-header">
                    <legend class="fr-fieldset__legend fr-h3">Agents pathogènes confirmés par l'ARS</legend>
                </div>
                <span class="fr-hint-text fr-mb-1w">Confirmation obtenue par examen clinique ou analytique des malades</span>
                {% dsfr_form_field form.agents_confirmes_ars|set_data:"agents-pathogene-target:categorieDangerInput" %}
                <div data-agents-pathogene-target="categorieDangerContainer"></div>

                <template data-agents-pathogene-target="categorieDangerHeader">
                    <div class="categorie-danger-header">
                        <div class="fr-ml-1v">Danger les plus courants</div>
                        {% for danger in danger_plus_courant %}
                            <div class="treeselect-list__item" level="0" group="false" data-action="click->agents-pathogene#onShortcut:prevent:stop">
                                <input type="checkbox" id="shortcut_{{ forloop.counter0 }}" class="treeselect-list__item-checkbox-container">
                                <label class="treeselect-list__item-label shortcut" for="shortcut_{{ forloop.counter0 }}">{{ danger }}</label>
                            </div>
                        {% endfor %}
                        <div class="fr-ml-1v">Liste complète des dangers</div>
                    </div>
                </template>
            </fieldset>
            <fieldset
                class="fr-fieldset fr-flex fr-flex--align-normal form-fieldset fr-mt-2w"
                data-controller="conclusion-form"
                data-conclusion-form-suspicion-conclusion-choices-value="{{ form.SuspicionConclusion.as_json }}"
                data-conclusion-form-selected-hazard-confirmed-choices-value="{{ form.selected_hazard_confirmed_choices }}"
                data-conclusion-form-selected-hazard-suspected-choices-value="{{ form.selected_hazard_suspected_choices }}"
            >
                <legend class="fr-h3 fr-fieldset__legend">Conclusion</legend>

                <div class="fr-notice fr-notice--info">
                    <div class="fr-container">
                        <div class="fr-notice__body">
                            <p>
                                <span class="fr-notice__title">
                                    Afin de préciser le scénario (établissement/repas/aliment/prélèvement), il est
                                    nécessaire d’avoir préalablement publié ou enregistré vos ajouts/modifications pour
                                    pouvoir les sélectionner dans les menus déroulants ci-dessous
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-my-0">
                    <div class="fr-col-6 needs-required">
                        {% dsfr_form_field form.suspicion_conclusion|set_data:"action:conclusion-form#onSuspicionConclusionChanged:prevent:default"|set_data:"conclusion-form-target:suspicionConclusion" %}
                        <div id="selected_hazard-treeselect" class="fr-input-group">
                            {{ form.selected_hazard.label_tag }}
                            {{ form.selected_hazard|set_data:"conclusion-form-target:selectedHazardTreeselectInput" }}
                            <div
                                data-conclusion-form-target="selectedHazardTreeselect"
                                data-action="input->conclusion-form#onTreeselectInput update-dom->conclusion-form#onUpdateDom"
                            ></div>
                            <template data-conclusion-form-target="selectedHazardTreeselectHeader">
                                <div class="categorie-danger-header">
                                    <div class="fr-ml-1v">Danger les plus courants</div>
                                    {% for danger in form.common_danger %}
                                        <div
                                            class="treeselect-list__item"
                                            level="0"
                                            group="false"
                                            data-action="mousedown->conclusion-form#onShortcut:prevent:stop"
                                        >
                                            <input
                                                type="checkbox"
                                                id="shortcut_{{ forloop.counter0 }}"
                                                class="treeselect-list__item-checkbox-container"
                                            >
                                            <label
                                                class="treeselect-list__item-label shortcut"
                                                for="shortcut_{{ forloop.counter0 }}"
                                            >{{ danger }}</label>
                                        </div>
                                    {% endfor %}
                                    <div class="fr-ml-1v">Liste complète des dangers</div>
                                </div>
                            </template>
                        </div>
                    </div>
                    <div class="fr-col-6 conclusion-comment">
                        {% dsfr_form_field form.conclusion_comment|remove_attr:"cols"|remove_attr:"rows" %}
                    </div>
                </div>
                <div class="fr-grid-row fr-grid-row--gutters fr-my-0">
                    <div class="fr-col-3">
                        {% dsfr_form_field form.conclusion_etablissement %}
                    </div>
                    <div class="fr-col-3">
                        {% dsfr_form_field form.conclusion_repas %}
                    </div>
                    <div class="fr-col-3">
                        {% dsfr_form_field form.conclusion_aliment %}
                    </div>
                    <div class="fr-col-3">
                        {% dsfr_form_field form.conclusion_analyse %}
                    </div>
                </div>
            </fieldset>
            <fieldset id="liens-libre" class="fr-fieldset form-fieldset fr-mt-2w">
                <div class="fieldset-header">
                    <legend class="fr-fieldset__legend fr-h3">Événements liés</legend>
                </div>
                <span class="fr-hint-text fr-mb-1w">Pour lier un événement saisissez son numéro ci-dessous.</span>
                <div data-controller="free-links" class="free-links" data-free-links-ids-value='{{ form.instance.free_link_ids_json|default:"[]" }}'>
                    {{ form.free_link|set_data:"free-links-target:select"  }}
                </div>
            </fieldset>
        </main>
    </form>
{% endblock %}
