{% extends 'core/base.html' %}

{% block content %}
    <main class="main-container--sm">
        <h1 class="fr-h1">Mentions légales</h1>
        <h2 class="fr-h2">Éditeur de la plateforme</h2>

        <p>
            La plateforme “Sèves” est éditée par la Direction générale de
            l’alimentation (DGAL) du ministère en charge de l’Agriculture, située :        </p>

        <address>
            251 rue de Vaugirard<br/>
            75015 Paris<br/>
            France<br/>
            Téléphone: 01 49 55 49 55<br/>
        </address>

        <h2 class="fr-h2 fr-mt-4w">Directrice de la publication</h2>

        <p>
            La directrice de la publication est madame Maud FAIPOUX, directrice
            générale de la DGAL.</p>

        <h2 class="fr-h2 fr-mt-4w">Hébergement de la plateforme</h2>

        <address>
            Scalingo SAS<br/>
            13 rue Jacques Peirotes<br/>
            67000 Strasbourg<br/>
            France<br/>
            <a href="mailto:support@scalingo.com" class="fr-link">support@scalingo.com</a>

        </address>


        <h2 class="fr-h2 fr-mt-4w">Accessibilité</h2>
        <p>
            La conformité aux normes d’accessibilité numérique est un objectif
            ultérieur mais nous tâchons de rendre cette plateforme accessible à
            toutes et à tous.</p>

        <p>
            Pour en savoir plus sur la politique d’accessibilité numérique de
            l’État : <a class="fr-link" href="https://accessibilite.numerique.gouv.fr/">https://accessibilite.numerique.gouv.fr/</a></p>

        <p>
            Pour nous signaler un défaut d’accessibilité vous empêchant d’accéder
            à un contenu ou une fonctionnalité de la plateforme, merci de nous
            en faire part à l’adresse suivante : <a class="fr-link" href="mailto:support@seves.beta.gouv.fr">support@seves.beta.gouv.fr</a>
        </p>

        <p>Si vous n’obtenez pas de réponse rapide de notre part, vous êtes en
            droit de faire parvenir vos doléances ou une demande de saisine au
            Défenseur des droits.</p>

        <h2 class="fr-h2">Sécurité</h2>
        <p>
            La plateforme est protégée par un certificat électronique,
            matérialisé pour la grande majorité des navigateurs par un
            cadenas. Cette protection participe à la confidentialité des
            échanges.</p>
        <p>
            En aucun cas, les services associés à la plateforme ne seront à
            l’origine d’envoi de courriels pour vous demander la saisie
            d’informations personnelles.</p>
    </main>
{% endblock content %}
