<nav role="navigation" class="fr-translate fr-nav">
    <div class="fr-nav__item">
        <button class="fr-translate__btn fr-btn fr-btn--lg" aria-controls="action-1"
                aria-expanded="false" title="Sélectionner une action" data-testid="fiche-action">Actions</button>
        <div class="fr-collapse fr-translate__menu fr-menu" id="action-1">
            <ul class="fr-menu__list">
                <li><a class="fr-translate__language fr-nav__link" href="#" data-fr-opened="false" aria-controls="fr-modal-freelink">Ajouter un lien libre</a></li>
            </ul>
        </div>
    </div>
</nav>