<dialog aria-labelledby="fr-modal-title-modal-2" role="dialog" id="fr-modal-delete" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-delete">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-2" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Supprimer une fiche</h1>
                        <p>Si vous supprimez la fiche, toutes les données présentes dans la fiche sont supprimées ainsi que tous les liens éventuels vers cette fiche. Confirmez-vous la suppression ?</p>

                        <form method="post" action="{% url 'soft-delete' %}">
                            <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-lg">
                                <button type="button" class="fr-btn fr-btn--secondary" aria-controls="fr-modal-delete">Annuler</button>
                                {% csrf_token %}
                                <input type="hidden" value="{% url 'fiche-liste' %}" name="next">
                                <input type="hidden" value="{{ content_type.id }}" name="content_type_id">
                                <input type="hidden" value="{{ fichedetection.pk }}" name="content_id">
                                <button type="submit" class="fr-btn" data-testid="submit-delete">Supprimer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
