<!-- bouton relié à la modal en display non -> https://github.com/GouvernementFR/dsfr/issues/728 -->
<button type="button" class="fr-hidden" data-fr-opened="false" aria-controls="fr-modal-document-confirmation"></button>
<dialog aria-labelledby="fr-modal-title-document-confirmation" role="dialog" id="fr-modal-document-confirmation" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-document-confirmation">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-document-confirmation" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Document non ajouté</h1>
                        <p>Vous n'avez pas validé l'ajout du document, que souhaitez vous faire&nbsp;?</p>

                        <button type="button" class="fr-btn fr-btn--secondary" id="send-without-adding-document">Envoyer le message sans document</button>
                        <button type="button" class="fr-btn" id="send-with-adding-document">Valider et envoyer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
