<dialog aria-labelledby="fr-modal-title-extract-1" role="dialog" id="fr-modal-extract" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-extract">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-extract-modal-1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Extraction</h1>
                        <p>La version actuelle de Sèves permet uniquement d'extraire la totalité des fiches, l'extraction et le téléchargement démarreront automatiquement après confirmation via le bouton "extraire" ci-dessous.</p>
                        <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg">
                            <button class="fr-btn fr-btn--secondary" aria-controls="fr-modal-extract">Annuler</button>
                            <form method="post" action="{% url 'fiche-detection-export' %}">
                                {% csrf_token %}
                                <button class="fr-btn" data-testid="extract-submit" aria-controls="fr-modal-extract">Extraire</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</dialog>