<!-- bouton relié à la modal en display none -> https://github.com/GouvernementFR/dsfr/issues/728 -->
<button type="button" style="display: none;" data-fr-opened="false" aria-controls="modal-add-edit-prelevement-{{ forloop.counter0 }}"></button>
<dialog aria-labelledby="modal-add-edit-prelevement-title-{{ forloop.counter0 }}" id="modal-add-edit-prelevement-{{ forloop.counter0 }}" class="fr-modal" role="dialog" data-fr-concealing-backdrop="false">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" type="button" aria-controls="modal-add-edit-prelevement-{{ forloop.counter0 }}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="modal-add-edit-prelevement-title-{{ forloop.counter0 }}"
                            class="fr-modal__title">Ajouter un prélèvement</h1>
                        <div id="lieu" class="fr-select-group prelevement-form--fieldset">
                            <label class="fr-label">Lieu</label>
                            <select class="fr-select" id="id_prelevements-{{ forloop.counter0 }}-lieu" name="prelevements-{{ forloop.counter0 }}-lieu">
                            </select>
                        </div>
                        <div id="structure" class="fr-select-group prelevement-form--fieldset">
                            {{ form.structure_preleveur.label_tag }}{{ form.structure_preleveur }}
                        </div>
                        <p id="numero-echantillon" class="prelevement-form--fieldset">
                            {{ form.numero_echantillon.label_tag }}{{ form.numero_echantillon }}
                        </p>
                        <p id="date-prelevement" class="prelevement-form--fieldset">
                            {{ form.date_prelevement.label_tag }}{{ form.date_prelevement }}
                        </p>
                        <p id="matrice-prelevee" class="prelevement-form--fieldset">
                            {{ form.matrice_prelevee.label_tag }}{{ form.matrice_prelevee }}
                        </p>
                        <p id="espece-echantillon" class="prelevement-form--fieldset">
                            <label class="fr-label" for="id_prelevements-{{ forloop.counter0 }}-espece-echantillon">Espèce de l'échantillon</label>
                            <select id="id_prelevements-{{ forloop.counter0 }}-espece-echantillon" class="fr-input" name="prelevements-{{ forloop.counter0 }}-espece_echantillon"></select>
                        </p>
                        <div id="resultat" class="prelevement-form--fieldset">
                            <label class="fr-label" style="flex:0.65">Résultat</label>
                            <fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages">
                                {{ form.resultat }}
                            </fieldset>
                        </div>
                        <p>
                            <div class="fr-checkbox-group">
                                {{ form.is_officiel }}
                                <label class="fr-label" for="id_prelevements-{{ forloop.counter0 }}-is_officiel">Prélèvement officiel</label>
                            </div>
                        </p>
                        <div class="officiel-fields">
                            <p id="numero-phytopass" class="prelevement-form--fieldset">
                                <label class="fr-label">N° Phytopass</label>
                                {{ form.numero_phytopass }}
                            </p>
                            <p id="numero-resytal" class="prelevement-form--fieldset">
                                <label class="fr-label">N° Resytal</label>
                                {{ form.numero_resytal }}
                            </p>
                            <p id="laboratoire-agree" class="prelevement-form--fieldset">
                                <label class="fr-label">Laboratoire agréé</label>
                                {{ form.laboratoire_agree }}
                            </p>
                            <p id="laboratoire-confirmation" class="prelevement-form--fieldset">
                                <label class="fr-label">Laboratoire de confirmation</label>
                                {{ form.laboratoire_confirmation_officielle }}
                            </p>
                        </div>
                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg">
                            <a href="#" class="fr-btn fr-btn--secondary prelevement-cancel-btn" aria-controls="modal-add-edit-prelevement-{{ forloop.counter0 }}">Annuler</a>
                            <a class="fr-btn prelevement-save-btn" data-id="{{ forloop.counter0 }}" href="#">Enregistrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
