<!-- bouton non affiché relié à la modal -> https://github.com/GouvernementFR/dsfr/issues/728 -->
<button type="button" class="fr-hidden" data-fr-opened="false" aria-controls="fr-modal-prelevement-en-attente"></button>
<dialog aria-labelledby="fr-modal-title-prelevement-en-attente" role="dialog" id="fr-modal-prelevement-en-attente" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-prelevement-en-attente">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Prélèvement en attente</h1>
                        <p>Vous avez saisi un prélèvement en attente. Veuillez compléter les informations dans Sèves lors de la réception du résultat, même en cas de non détection.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
