{% load get_field_label %}


<div class="white-container fr-mt-4w">
    <div class="fr-grid-row">
        <div class="fr-col">
            <p class="fr-h6">Zones infestées</p>
        </div>
        <div class="fr-col zones-infestees__add-form-btn">
            <button type="button" id="add-zone-infestee" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line fr-mb-2w">Ajouter une zone infestée</button>
        </div>
    </div>
    {% if zone_infestee_formset.non_form_errors %}
        {% include "core/_show_form_errors.html" with errors=zone_infestee_formset.non_form_errors %}

    {% endif %}
    <div class="fr-grid-row fr-grid-row--gutters" id="zones-infestees">
        {{ zone_infestee_formset.management_form }}
        {% for zone_infestee_form in zone_infestee_formset %}
            {% if zone_infestee_form.instance.pk %}
                {{ zone_infestee_form.id }}
            {% endif %}
            <div class="fr-col-4">
                <div class="zone-infestees__zone-infestee-form fr-p-3w">
                    {% if zone_infestee_form.errors %}
                        <div class="fr-alert fr-alert--error fr-mb-4w">
                            <ul>
                                {% for field, errors in zone_infestee_form.errors.items %}
                                    {% for error in errors %}
                                        <li>{{ zone_infestee_form|get_field_label:field }} : {{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                            <button class="fr-btn--close fr-btn btn--close-js" title="Masquer le message">
                                Masquer le message
                            </button>
                        </div>
                    {% endif %}
                    <div class="fr-mb-3w">
                        <div>{{ zone_infestee_form.nom.label_tag }}</div>
                        <div class="zone-infestee-form__numero-input">{{ zone_infestee_form.nom }}</div>
                    </div>
                    <div class="fr-mb-3w">
                        <div>{{ zone_infestee_form.caracteristique_principale.label_tag }}</div>
                        {{ zone_infestee_form.caracteristique_principale }}
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ zone_infestee_form.rayon.label_tag }}</div>
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                {{ zone_infestee_form.rayon }}
                            </div>
                            <div class="fr-col">
                                <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                                    {{ zone_infestee_form.unite_rayon }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ zone_infestee_form.surface_infestee_totale.label_tag }}</div>
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                {{ zone_infestee_form.surface_infestee_totale }}
                            </div>
                            <div class="fr-col">
                                <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                                    {{ zone_infestee_form.unite_surface_infestee_totale }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ zone_infestee_form.detections.label_tag }}</div>
                        {{ zone_infestee_form.detections }}
                    </div>
                </div>
            </div>
        {% endfor %}

        <template id="zone-form-template">
            <div class="fr-col-4">
                <div class="zone-infestees__zone-infestee-form fr-p-3w">
                    <div class="fr-mb-3w">
                        <div>{{ empty_form.nom.label_tag }}</div>
                        <div class="zone-infestee-form__numero-input">{{ empty_form.nom }}</div>
                    </div>
                    <div class="fr-mb-3w">
                        <div>{{ empty_form.caracteristique_principale.label_tag }}</div>
                        {{ empty_form.caracteristique_principale }}
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ empty_form.rayon.label_tag }}</div>
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                {{ empty_form.rayon }}
                            </div>
                            <div class="fr-col">
                                <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                                    {{ empty_form.unite_rayon }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ empty_form.surface_infestee_totale.label_tag }}</div>
                        <div class="fr-grid-row">
                            <div class="fr-col">
                                {{ empty_form.surface_infestee_totale }}
                            </div>
                            <div class="fr-col">
                                <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                                    {{ empty_form.unite_surface_infestee_totale }}
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="fr-mb-1w">{{ empty_form.detections.label_tag }}</div>
                        {{ empty_form.detections }}
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
