{% load static %}
{% load etat_tags %}

{% include "core/_latest_revision.html" with latest_version=fichedetection.latest_version content_type_pk=fiche_detection_content_type.pk object_pk=fichedetection.pk %}
<div class="fiche-detail">
    <div class="fr-container--fluid">
        <div class="fr-grid-row fr-mb-3w">
            <div class="white-container fr-col">
                <h2>Informations</h2>
                <div class="fr-container--fluid">
                    <div class="fr-grid-row">
                        <div class="fr-col-6 fr-col-lg-4">
                            <div class="fr-container--fluid">
                                <div class="fr-grid-row">
                                    <p class="fr-col-6 descripteur-label">Créateur</p>
                                    <p class="fr-col-6">{{ fichedetection.createur }}</p>
                                </div>
                                <div class="fr-grid-row">
                                    <p class="fr-col-6 descripteur-label">Date de création</p>
                                    <p class="fr-col-6">{{ fichedetection.date_creation|date:"d/m/Y" }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="fr-col-6 fr-col-lg-4">
                            <div class="fr-container--fluid">
                                <div class="fr-grid-row">
                                    <p class="fr-col-6 descripteur-label">Statut</p>
                                    <p class="fr-col-6">{{ fichedetection.statut_evenement|default:"nc." }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="fr-grid-row fr-mb-3w fr-grid-row--gutters">
            <div class="fr-col-12 fr-col-lg-4 stretch-column">
                <div class="white-container">
                    <h2>Objet de l'évènement</h2>
                    <div class="fr-container--fluid">
                        <div class="fr-grid-row fr-grid-row--gutters">
                            <div class="fr-col-3 fr-col-lg-6 descripteur-label">Contexte</div>
                            <div class="fr-col-3 fr-col-lg-6">{{ fichedetection.contexte|default:"nc." }}</div>
                            <div class="fr-col-3 fr-col-lg-6 descripteur-label">Date 1er signalement</div>
                            <div class="fr-col-3 fr-col-lg-6">{{ fichedetection.date_premier_signalement|default:"nc." }}</div>
                            <div class="fr-col-3 fr-col-lg-6 descripteur-label">Quantité de végétaux infestés</div>
                            <div class="fr-col-3 fr-col-lg-6">{{ fichedetection.vegetaux_infestes|default:"nc." }}</div>
                            <div class="fr-col-3 fr-col-lg-6 descripteur-label">Commentaire</div>
                            <div class="fr-col-3 fr-col-lg-6">{{ fichedetection.commentaire|default:"nc." }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="fr-col-12 fr-col-lg-4 stretch-column">
                <div class="white-container">
                    <h2>Lieux</h2>

                    <div class="fr-grid-row fr-grid-row--gutters">
                        {% for lieu_initial in fichedetection.lieux.all %}
                            {% include "sv/fichedetection_detail_lieu.html" with lieu=lieu_initial lieu_index=lieu_initial.pk %}
                            <div class="fr-col-6 fr-col-lg-12">
                                <div class="lieu-initial fr-card fr-card--horizontal fr-card--sm fr-card--grey fr-card--no-border ">
                                    <div class="fr-card__body">
                                        <div class="fr-card__content">
                                            <div class="fr-grid-row">
                                                <div class="fr-col-8">
                                                    <p class="fr-card__title">Nom du lieu : {{lieu_initial.nom}}</p>
                                                </div>
                                                <div class="fr-col-4">
                                                    <button class="fr-btn fr-btn--tertiary see-more-btn"
                                                            data-fr-opened="false"
                                                            aria-controls="fr-modal-lieu-{{lieu_initial.pk}}"
                                                            title="Consulter le détail du lieu {{lieu_initial.nom}}">Voir le détail</button>
                                                </div>
                                            </div>
                                            <p class="fr-card__desc">
                                                Commune : {{ lieu_initial.commune|default:"nc." }} <br/>
                                                {% if lieu_initial.departement %}
                                                    Département : {{ lieu_initial.departement.nom }} ({{ lieu_initial.departement.numero }})
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Prélèvements et analyses -->
            <div class="fr-col-12 fr-col-lg-4 stretch-column">
                <div class="white-container">
                    <h2>Prélèvements</h2>
                    <div class="fr-grid-row fr-grid-row--gutters">
                        {% for lieu in fichedetection.lieux.all %}
                            {% for prelevement in lieu.prelevements.all %}
                                {% include "sv/fichedetection_detail_prelevement.html" with prelevement=prelevement prelevement_index=prelevement.pk %}
                                <div class="fr-col-6 fr-col-lg-12">
                                    <div class="prelevement fr-card fr-card--horizontal fr-card--sm fr-card--grey fr-card--no-border fr-mt-4v">
                                        <div class="fr-card__body">
                                            <div class="fr-card__content">
                                                <div class="fr-grid-row">
                                                    <div class="fr-col-8">
                                                        <p class="fr-card__title">Structure préleveuse : {{ prelevement.structure_preleveuse }}</p>
                                                    </div>
                                                    <div class="fr-col-4">
                                                        <button class="fr-btn fr-btn--tertiary"
                                                                data-fr-opened="false"
                                                                aria-controls="fr-modal-prelevement-{{prelevement.pk}}"
                                                                title="Consulter le détail du prélèvement {{prelevement.numero_echantillon}}">
                                                            Voir le détail
                                                        </button>
                                                    </div>
                                                </div>
                                                <p class="fr-card__desc">
                                                    {% if prelevement.numero_echantillon %}
                                                        Numéro de l'échantillon: {{ prelevement.numero_echantillon }}<br>
                                                    {% endif %}
                                                    {% if prelevement.espece_echantillon %}
                                                        Espèce : {{ prelevement.espece_echantillon }}<br>
                                                    {% endif %}
                                                    {% if prelevement.laboratoire %}
                                                        Laboratoire : {{ prelevement.laboratoire }} |
                                                    {% endif %}
                                                    {% if prelevement.date_prelevement %}
                                                        Date de prélèvement : {{ prelevement.date_prelevement|date:"d/m/Y" }}
                                                    {% endif %}
                                                </p>
                                                <p class="fr-card__desc prelevement__type {% if prelevement.is_officiel %}fr-icon-check-line{% endif %}">
                                                    Prélèvement {% if prelevement.is_officiel %}officiel{% else %}non officiel{% endif %}
                                                    | {{ prelevement.get_resultat_display|upper }}
                                                </p>
                                                <div class="fr-card__start">
                                                    <p class="fr-card__detail fr-icon-road-map-line">{{ lieu.nom }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="white-container ">
            <h2>Mesures de gestion</h2>
            <div class="fr-grid-row fr-grid-row--gutters">
                <div class="fr-col-6 fr-col-lg-3">
                    <p class="descripteur-label">Mesures conservatoires immédiates</p>
                    <p>{{ fichedetection.mesures_conservatoires_immediates|default:"nc." }}</p>
                </div>
                <div class="fr-col-6 fr-col-lg-3">
                    <p class="descripteur-label">Mesures de consignation</p>
                    <p>{{ fichedetection.mesures_consignation|default:"nc." }}</p>
                </div>
                <div class="fr-col-6 fr-col-lg-3">
                    <p class="descripteur-label">Mesures phytosanitaires</p>
                    <p>{{ fichedetection.mesures_phytosanitaires|default:"nc." }}</p>
                </div>
                <div class="fr-col-6 fr-col-lg-3">
                    <p class="descripteur-label">Mesures de surveillance spécifique</p>
                    <p>{{ fichedetection.mesures_surveillance_specifique|default:"nc." }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
