{% load dsfr_tags widget_tweaks %}

<!-- bouton relié à la modal en display none -> https://github.com/GouvernementFR/dsfr/issues/728 -->
<button
    type="button"
    class="fr-hidden"
    data-fr-opened="false"
    aria-controls="modal-add-edit-prelevement-{{ form.prefix }}"
></button>
<dialog
    id="modal-add-edit-prelevement-{{ form.prefix }}"
    class="fr-modal"
    aria-labelledby="title-modal-add-edit-prelevement-{{ form.prefix }}"
    data-prelevement-form-target="dialog"
    data-testid="form-dialog"
>
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div id="prelevement-form" class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button
                            class="fr-btn--close fr-btn"
                            type="button"
                            aria-controls="modal-add-edit-prelevement-{{ form.prefix }}"
                        >
                            Fermer
                        </button>
                    </div>
                    <div class="fr-modal__content">
                        <fieldset data-prelevement-form-target="fieldset" data-testid="fieldset">
                            <h1
                                id="title-modal-add-edit-prelevement-{{ form.prefix }}"
                                class="fr-modal__title fr-icon-arrow-right-line fr-icon--lg"
                            >
                                {% if form.instance.pk %}Modifier le prélèvement{% else %}Ajouter un prélèvement{% endif %}
                            </h1>

                            {% if form.instance.pk %}{{ form.id }}{% endif %}

                            {% with field=form.lieu %}
                                {{ field.as_hidden }}
                            {% endwith %}

                            <fieldset class="fr-fieldset fr-fieldset--block-inline">
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.type_analyse|set_data:"action:onTypeAnalyseChange" %}
                                </div>
                                <div class="fr-fieldset__element fr-mb-n1v">
                                    {% dsfr_form_field form.is_officiel %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.numero_rapport_inspection %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.laboratoire|set_data:"prelevement-form-target:laboratoireInput" %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.numero_echantillon %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.lieu %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.structure_preleveuse %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.date_prelevement %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.matrice_prelevee %}
                                </div>
                                <div
                                    id="espece-echantillon"
                                    class="fr-fieldset__element"
                                    data-controller="espece-search"
                                    data-espece-search-position-value="top"
                                >
                                    {% dsfr_form_field form.espece_echantillon|set_data:"espece-search-target:select" %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.date_rapport_analyse %}
                                </div>
                                <div class="fr-fieldset__element">
                                    {% dsfr_form_field form.resultat %}
                                </div>
                                {{ form.DELETE|set_data:"prelevement-form-target:deleteInput" }}
                            </fieldset>
                        </fieldset>
                        <div
                            class="fr-btns-group fr-btns-group--right fr-btns-group--inline-lg fr-mt-4v"
                            data-testid="action-btns"
                        >
                            <button
                                type="button"
                                class="fr-btn fr-btn--secondary prelevement-cancel-btn"
                                aria-controls="modal-add-edit-prelevement-{{ form.prefix }}"
                            >
                                Annuler
                            </button>
                            <button
                                type="button"
                                class="fr-btn prelevement-save-btn"
                                data-action="prelevement-form#onValidateForm:prevent:stop"
                            >
                                Enregistrer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
