<div id="lieu-form-template-{{ id }}">
    <h1 id="modal-add-edit-lieu-title"
        class="fr-modal__title">Ajouter un lieu:
{#                        TODO handle modifier le#}
    </h1>

    <p>
        <label class="fr-label" for="nom-lieu">Nom du lieu</label>
        {{ form.nom }}
    </p>
    <p>
        <label class="fr-label" for="adresse-lieu-dit">Adresse ou lieu-dit</label>
        {{ form.adresse_lieu_dit }}
    </p>
    <p>
        <label class="fr-label" for="commune">Commune</label>
        <select id="commune-select-{{ id }}" class="fr-input"></select>
    </p>

{#                            TODO fix those#}
    <input x-model="lieuForm.commune" type="hidden" id="commune">
    <input x-model="lieuForm.codeINSEE" type="hidden" id="code-insee">
    <input x-model="lieuForm.departementNom" type="hidden" id="departement">

    <p>
        <label class="fr-label" for="site-inspection">Site d'inspection</label>
        {{ form.site_inspection }}
    </p>

    <p>
        <label class="fr-label" for="coordonnees-gps-lambert-93-latitude">Coordonnées GPS (Lambert 93)</label>
        {{ form.lambert93_latitude }}
        {{ form.lambert93_longitude }}
    </p>
    <p>
        <label class="fr-label" for="coordonnees-gps-wgs84-latitude">Coordonnées GPS (WGS84)</label>
        {{ form.wgs84_longitude }}
        {{ form.wgs84_latitude }}
    </p>
    <p>
        {{ form.is_etablissement }}
        {{ form.is_etablissement.label_tag}}
    </p>
    <div class="fr-hidden etablissement-fields">
        <p>
            <label class="fr-label" for="nom-etablissement">Nom</label>
            {{ form.nom_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="activite-etablissement">Activité</label>
            {{ form.activite_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="pays-etablissement">Pays</label>
            {{ form.pays_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="raison-sociale-etablissement">Raison sociale</label>
            {{ form.raison_sociale_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="adresse-etablissement">Adresse</label>
            {{ form.adresse_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="siret-etablissement">N° SIRET</label>
            {{ form.siret_etablissement }}
        </p>
        <p>
            <label class="fr-label" for="code-inupp-etablissement">Code INUPP</label>
            {{ form.code_inupp_etablissement }}
            <input x-model="lieuForm.codeInuppEtablissement" type="text" class="fr-input" id="code-inupp-etablissement">
        </p>
        <p>
            <label class="fr-label" for="position-etablissement">Position</label>
            {{ form.position_chaine_distribution_etablissement }}
        </p>
    </div>
</div>
