<div class="fiche-synthese fr-p-3w">
    <div class="fr-grid-row">
        <div class="fr-col-3">
            <div class="fr-grid-row">
                <div class="fr-col-5 fiche-synthese__label fr-pb-1w">Créateur</div>
                <div class="fr-col-7">{{ fichedetection.createur }}</div>
            </div>
            <div class="fr-grid-row">
                <div class="fr-col-5 fiche-synthese__label fr-pb-1w">Date 1er signalement</div>
                <div class="fr-col-7">{{ fichedetection.date_premier_signalement|default:"nc." }}</div>
            </div>

            <div class="fr-grid-row">
                <div class="fr-col-5 fiche-synthese__label fr-pb-1w">Organisme nuisible</div>
                <div class="fr-col-7">{{ fichedetection.organisme_nuisible.libelle_court|default:"nc." }}</div>
            </div>
        </div>
        <div class="fr-col-3">
            <div class="fr-grid-row">
                <div class="fr-col-5 fiche-synthese__label fr-pb-1w">Commune</div>
                <div class="fr-col-7">                    {% if lieux_initiaux %}
                    {{ lieux_initiaux.0.commune }}
                {% else %}
                    nc.
                {% endif %}</div>
            </div>

            <div class="fr-grid-row">
                <div class="fr-col-5 fiche-synthese__label fr-pb-1w">Région</div>
                <div class="fr-col-7">                   {% if lieux_initiaux %}
                    {{ lieux_initiaux.0.region.nom }}
                {% else %}
                    nc.
                {% endif %}</div>
            </div>
        </div>
        <div class="fr-col-6">
            <div class="fr-grid-row">
                <div class="fr-col-3 fiche-synthese__label fr-pb-1w">Mesures conservatoires</div>
                <div class="fr-col-9">{{ fichedetection.mesures_conservatoires_immediates|default:"nc." }}</div>
            </div>
        </div>
    </div>
</div>