<!-- Modal suppression lieu impossible -->
<!-- bouton relié à la modal en display non -> https://github.com/GouvernementFR/dsfr/issues/728 -->
<button type="button" style="display: none;" data-fr-opened="false" aria-controls="fr-modal-suppression-lieu"></button>
<dialog aria-labelledby="fr-modal-suppression-lieu-title" id="fr-modal-suppression-lieu" class="fr-modal" role="dialog">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-suppression-lieu">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-suppression-lieu-title" class="fr-modal__title">
                            Suppression du lieu impossible
                        </h1>
                        <p>Ce lieu est lié à un ou plusieurs prélèvements. <br>
                            Supprimez d'abord le(s) prélèvement(s) lié(s).
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
