<dialog aria-labelledby="modal-add-edit-lieu-title" id="modal-add-lieu-{{ forloop.counter0 }}" class="fr-modal" role="dialog" data-fr-concealing-backdrop="false">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6" id="lieu-form">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" type="button" aria-controls="modal-add-edit-lieu">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <div>
                            <h1 id="modal-add-edit-lieu-title"
                                class="fr-modal__title">Ajouter un lieu:
{#                        TODO handle modifier le#}
                            </h1>

                            <p>
                                <label class="fr-label" for="id_lieux-{{ forloop.counter0 }}-nom">Nom du lieu</label>
                                {{ form.nom }}
                            </p>
                            <p>
                                <label class="fr-label" for="id_lieux-{{ forloop.counter0 }}-adresse_lieu_dit">Adresse ou lieu-dit</label>
                                {{ form.adresse_lieu_dit }}
                            </p>
                            <p>
                                <label class="fr-label" for="commune">Commune</label>
                                <select id="commune-select-{{ forloop.counter0 }}" class="fr-input"></select>
                            </p>
                            {{ form.commune }}
                            {{ form.code_insee }}
                            {{ form.departement }}
                            <p>
                                <label class="fr-label" for="site-inspection">Site d'inspection</label>
                                {{ form.site_inspection }}
                            </p>

                            <p>
                                <label class="fr-label" for="id_lieux-{{ forloop.counter0 }}-lambert93_latitude">Coordonnées GPS (Lambert 93)</label>
                                {{ form.lambert93_latitude }}
                                {{ form.lambert93_longitude }}
                            </p>
                            <p>
                                <label class="fr-label" for="id_lieux-{{ forloop.counter0 }}-wgs84_longitude">Coordonnées GPS (WGS84)</label>
                                {{ form.wgs84_longitude }}
                                {{ form.wgs84_latitude }}
                            </p>
                            <p class="fr-checkbox-group">
                                {{ form.is_etablissement }} {{ form.is_etablissement.label_tag}}
                            </p>
                            <div class="etablissement-fields">
                                <p>
                                    {{ form.nom_etablissement }}{{ form.nom_etablissement.label_tag }}
                                </p>
                                <p>
                                    {{ form.activite_etablissement }}{{ form.activite_etablissement.label_tag }}
                                </p>
                                <p>
                                    {{ form.pays_etablissement }}{{ form.pays_etablissement.label_tag }}
                                </p>
                                <p>
                                    <label class="fr-label" for="raison-sociale-etablissement">Raison sociale</label>
                                    {{ form.raison_sociale_etablissement }}
                                </p>
                                <p>
                                    <label class="fr-label" for="adresse-etablissement">Adresse</label>
                                    {{ form.adresse_etablissement }}
                                </p>
                                <p>
                                    <label class="fr-label" for="siret-etablissement">N° SIRET</label>
                                    {{ form.siret_etablissement }}
                                </p>
                                <p>
                                    <label class="fr-label" for="code-inupp-etablissement">Code INUPP</label>
                                    {{ form.code_inupp_etablissement }}
                                </p>
                                <p>
                                    <label class="fr-label" for="position-etablissement">Position</label>
                                    {{ form.position_chaine_distribution_etablissement }}
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="fr-modal__footer">
                        <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg">
                            <a href="#" class="fr-btn fr-btn--secondary" aria-controls="modal-add-edit-lieu">Annuler</a>
                            <a href="#" class="fr-btn lieu-save-btn" data-testid="lieu-save-btn-{{ forloop.counter0 }}" data-id="{{ forloop.counter0 }}">Enregistrer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
