<dialog aria-labelledby="modal-add-edit-prelevement-title" id="modal-add-edit-prelevement" class="fr-modal" role="dialog" data-fr-concealing-backdrop="false">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" aria-controls="modal-add-edit-prelevement">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="modal-add-edit-prelevement-title"
                            class="fr-modal__title"
                            x-text="(prelevementIdToEdit === null ? 'Ajouter' : 'Modifier') + ' un prélèvement'"></h1>
                        <form id="prelevement-form" x-ref="formPrelevement" @submit.prevent="addOrEditPrelevement(prelevementIdToEdit)">
                            <div id="lieu" class="fr-select-group">
                                <label class="fr-label">Lieu</label>
                                <select class="fr-select" x-model="formPrelevement.lieuId" data-testid="prelevement-form-lieu">
                                    <template x-for="lieu in lieux" :key="lieu.id">
                                        <option :value="lieu.id" x-text="lieu.nomLieu"></option>
                                    </template>
                                </select>
                            </div>
                            <div id="structure" class="fr-select-group">
                                <label class="fr-label">Structure</label>
                                <select x-model="formPrelevement.structurePreleveurId" class="fr-select" required data-testid="prelevement-form-structure">
                                    <option value="">----</option>
                                    {% for structure in structures_preleveurs %}
                                        <option value="{{ structure.id }}">{{ structure.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <p id="numero-echantillon">
                                <label class="fr-label">N° d'échantillon</label>
                                <input x-model="formPrelevement.numeroEchantillon" type="text" class="fr-input">
                            </p>
                            <p id="date-prelevement">
                                <label class="fr-label" for="date-prelevement-input">Date prélèvement</label>
                                <input x-model="formPrelevement.datePrelevement" type="date" class="fr-input" id="date-prelevement-input" max="{% now "Y-m-d" %}">
                            </p>
                            <p id="site-inspection">
                                <label class="fr-label">Site d'inspection</label>
                                <select x-model="formPrelevement.siteInspectionId" class="fr-select" data-testid="prelevement-form-site-inspection">
                                    <option value="">----</option>
                                    {% for site in sites_inspections %}
                                        <option value="{{ site.id }}">{{ site.nom }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p id="matrice-prelevee">
                                <label class="fr-label">Matrice prélevée</label>
                                <select x-model="formPrelevement.matricePreleveeId" class="fr-select" data-testid="prelevement-form-matrice-prelevee">
                                    <option value="">----</option>
                                    {% for matrice in matrices_prelevees %}
                                        <option value="{{ matrice.id }}">{{ matrice.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p id="espece-echantillon">
                                <label class="fr-label">Espèce de l'échantillon</label>
                                <select x-model="formPrelevement.especeEchantillonId" class="fr-select" data-testid="prelevement-form-espece-echantillon">
                                    <option value="">----</option>
                                    {% for espece in especes_echantillon %}
                                        <option value="{{ espece.id }}">{{ espece.libelle }}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <div id="resultat">
                                <label class="fr-label" style="flex:0.65">Résultat</label>
                                <fieldset class="fr-fieldset" id="radio-inline" aria-labelledby="radio-inline-legend radio-inline-messages">
                                    {% for resultat_value, resultat_label in resultats_prelevement %}
                                        <div class="fr-fieldset__element fr-fieldset__element--inline fr-mt-4v fr-mb-0-5v">
                                            <div class="fr-radio-group">
                                                <input x-model="formPrelevement.resultat" type="radio" id="{{ resultat_value }}-id" name="resultat" value="{{ resultat_value }}" required />
                                                <label class="fr-label" for="{{ resultat_value }}-id" data-testid="prelevement-form-resultat-{{ resultat_value }}">{{ resultat_label }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </fieldset>
                            </div>
                            <p>
                                <div class="fr-checkbox-group">
                                    <input x-model="formPrelevement.isOfficiel"
                                           x-on:change="
                                                        await $nextTick();
                                                        if(formPrelevement.isOfficiel) {
                                                        document.getElementById('laboratoire-confirmation').scrollIntoView({ behavior: 'smooth'});
                                                        }
                                                       "
                                           name="is-prelevement-officiel"
                                           id="is-prelevement-officiel"
                                           type="checkbox"
                                           aria-describedby="is-prelevement-officiel-messages">
                                    <label class="fr-label" for="is-prelevement-officiel">Prélèvement officiel</label>
                                </div>
                            </p>
                            <div x-show="formPrelevement.isOfficiel">
                                <p id="numero-phytopass">
                                    <label class="fr-label">N° Phytopass</label>
                                    <input x-model="formPrelevement.numeroPhytopass" type="text" class="fr-input">
                                </p>
                                <p id="laboratoire-agree">
                                    <label class="fr-label">Laboratoire agréé</label>
                                    <select x-model="formPrelevement.laboratoireAgreeId" class="fr-select" data-testid="prelevement-form-laboratoire-agree">
                                        <option value="">----</option>
                                        {% for laboratoire_agree in laboratoires_agrees %}
                                            <option value="{{ laboratoire_agree.id }}">{{ laboratoire_agree.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                                <p id="laboratoire-confirmation">
                                    <label class="fr-label">Laboratoire de confirmation</label>
                                    <select x-model="formPrelevement.laboratoireConfirmationOfficielleId" class="fr-select" data-testid="prelevement-form-laboratoire-confirmation">
                                        <option value="">----</option>
                                        {% for laboratoire_confirmation_officielle in laboratoires_confirmation_officielle %}
                                            <option value="{{ laboratoire_confirmation_officielle.id }}">{{ laboratoire_confirmation_officielle.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </p>
                            </div>
                        </div>
                        <div class="fr-modal__footer">
                            <div class="fr-btns-group fr-btns-group--center fr-btns-group--inline-lg">
                                <button class="fr-btn fr-btn--secondary" aria-controls="modal-add-edit-prelevement">Annuler</button>
                                <input id="end" class="fr-btn" type="submit" :value="prelevementIdToEdit === null ? 'Enregistrer' : 'Enregistrer les modifications'" data-testid="prelevement-form-save-btn"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</dialog>
