
<dialog aria-labelledby="fr-modal-title-modal-1" role="dialog" id="fr-modal-freelink" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-freelink">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <h1 id="fr-modal-title-modal-1" class="fr-modal__title"><span class="fr-icon-arrow-right-line fr-icon--lg"></span>Ajouter un lien libre</h1>
                        <p>Pour lier la fiche à une autre, veuillez sélectionner son numéro dans la liste ci-dessous.</p>

                        <form method="post" action="{% url 'free-link-add' %}">
                            {{ free_link_form.as_dsfr_div }}
                            {% csrf_token %}
                            <input type="hidden" value="{{ fichedetection.get_absolute_url }}" name="next">
                            <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-lg">
                                <button type="button" class="fr-btn fr-btn--secondary" aria-controls="fr-modal-freelink">Annuler</button>
                                <button type="submit" class="fr-btn" data-testid="submit-freelink">Valider</button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>