<aside id="sidebar" class="sidebar white-container--lite">
    <div class="close-sidebar-container">
        <a href="#" class="fr-link close-sidebar fr-mb-2v">Annuler et fermer</a>
    </div>
    <h5 id="message-type-title" class="fr-h5 fr-mb-0-5v"></h5>
    <form method="post" enctype="multipart/form-data" action="{{ evenement.add_message_url }}">
        {% csrf_token %}
        <div class=" fr-fieldset__element fr-hidden">
            <label>Destinataires</label>
            {{ message_form.recipients_limited_recipients }}
        </div>
        {{ message_form.as_dsfr_div }}
        <div class="fr-p-2w">
            <div id="documents-to-upload"></div>
            <div id="inputs-for-upload" class="fr-hidden"></div>
            <button class="fr-btn fr-btn--tertiary-no-outline btn-full add-document-form-btn"><span class="fr-icon-add-line" aria-hidden="true"></span>Ajouter un document</button>
            <div class="fr-hidden document-form">
                {{ add_document_form.as_dsfr_div }}
                <span class="fr-hint-text">Formats supportés : {{ allowed_extensions|join:", " }}</span>
                <div class="message-documents-actions">
                    <button class="fr-btn fr-btn--tertiary btn-full" id="message-add-document" disabled>Valider l'ajout du document</button>
                </div>
            </div>

        </div>
        <div class="message-send-btn fr-pr-1w fr-mb-8w">
            <button type="submit" class="fr-btn " data-testid="fildesuivi-add-submit">Envoyer</button>
        </div>

    </form>
</aside>
