<nav role="navigation" class="fr-translate fr-nav">
    <div class="fr-nav__item">
        <button class="fr-translate__btn fr-btn fr-btn--lg" aria-controls="action-1"
                aria-expanded="false" title="Sélectionner une action">Actions</button>
        <div class="fr-collapse fr-translate__menu fr-menu" id="action-1">
            <ul class="fr-menu__list">
                <li><a class="fr-translate__language fr-nav__link" href="#" data-fr-opened="false" aria-controls="fr-modal-freelink"><span class="fr-icon-git-pull-request-fill fr-mr-2v fr-icon--sm" aria-hidden="true"></span>Ajouter un lien libre</a></li>
                {% if can_update_visibilite %}
                    <li><a class="fr-translate__language fr-nav__link" href="#" data-fr-opened="false" aria-controls="fr-modal-edit-visibilite"><span class="fr-icon-eye-fill fr-mr-2v fr-icon--sm" aria-hidden="true"></span>Modifier la visibilité</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
