{% load static %}

<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'dsfr.min.css' %}">
        <link rel="stylesheet" href="{% static 'utility/utility.min.css' %}">
        <link href="{% static 'utility/icons/icons.min.css' %}" rel="stylesheet">
        <meta name="theme-color" content="#000091">
        <link rel="apple-touch-icon" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" href="{% static 'favicon/favicon.svg' %}" type="image/svg+xml">
        <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
        <link rel="manifest" href="{% static 'favicon/manifest.webmanifest' %}" crossorigin="use-credentials">
        <title>Sèves</title>
        <link rel="stylesheet" href="{% static 'sv/base.css' %}">
        <link rel="stylesheet" href="{% static 'core/bloc_commun.css' %}">
        {% block extrahead %}{% endblock %}
    </head>

    <body>
        <body>
            <header role="banner" class="fr-header">
                <div id="en-tete">
                    <img src="{% static 'images/marianne.png' %}" alt="">
                    <p id="seves-title">Sèves</p>
                    <a href="#" class="fr-tag fr-icon-leaf-line fr-tag--icon-left">Santé des végétaux</a>
                </div>
                <nav class="fr-nav" id="navigation-773" role="navigation" aria-label="Menu principal">
                    <ul class="fr-nav__list">
                        <li class="fr-nav__item">
                            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-776"><span class="fr-icon-add-line" aria-hidden="true"></span>Créer une fiche</button>
                            <div class="fr-collapse fr-menu" id="menu-776">
                                <ul class="fr-menu__list">
                                    <li>
                                        <a class="fr-nav__link" href="{% url 'fiche-detection-creation' %}" target="_self">Fiche détection</a>
                                    </li>
                                    <li>
                                        <a class="fr-nav__link" href="#" target="_self">Fiche zone</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="fr-nav__item">
                            <a class="fr-nav__link fr-icon-profil-line fr-link--icon-left {% block highlight_menu_fiches %}{% endblock %}" href="{% url 'fiche-detection-list' %}" target="_self" aria-current=”page”>Fiches</a>
                        </li>
                        <li class="fr-nav__item">
                            <button class="fr-nav__btn" aria-expanded="false" aria-controls="menu-777"><span class="fr-icon-account-circle-line"></span>Mélanie Tessier</button>
                            <div class="fr-collapse fr-menu" id="menu-777">
                                <ul class="fr-menu__list">
                                    <li>
                                        <a class="fr-nav__link" href="#" target="_self">Se déconnecter</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
                <div class="alert-container">
                    {% for message in messages %}
                        <div class="fr-alert fr-alert--{{ message.tags }}">
                            <h3 class="fr-alert__title">{{message}}</h3>
                            <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                                Masquer le message
                            </button>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}{% endblock %}

            <script type="module" src="{% static 'dsfr.module.min.js' %}"></script>
            <script type="text/javascript" nomodule src="{% static 'dsfr.nomodule.min.js' %}"></script>
            {% block scripts %}{% endblock %}
        </body>

    </html>
