{% extends 'sv/base.html' %}
{% load static %}
{% load etat_tags %}
{% load pagination_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/evenement_list.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'sv/evenement_list.js' %}"></script>
{% endblock %}

{% block highlight_menu_evenements %}menu__item--active{% endblock %}

{% block content %}
    {% include "sv/_extract_modal.html" %}
    <form id="search-form" method="get" >
        <div class="evenements__header fr-p-4v">
            <h2 class="fr-h3">Rechercher un évènement</h2>
            <div class="evenements__search-form">
                {{ filter.form.as_dsfr_div }}
            </div>
            <div class="fr-fieldset__element evenement__header--actions">
                <button type="reset" class="fr-btn fr-btn--tertiary-no-outline fr-mr-2w">Effacer</button>
                <button type="submit" class="fr-btn">Rechercher</button>
            </div>
        </div>
    </form>

    <div class="evenements__list-container">
        <div class="evenements__list-header">
            <span class="evenements__count">{{ page_obj.paginator.count }} évènement{% if page_obj.paginator.count > 1 %}s{% endif %} au total</span>
            <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-file-add-line" data-fr-opened="false" data-testid="extract-open" aria-controls="fr-modal-extract">
                Extraire
            </button>
        </div>
        {% if evenement_list|length > 0 %}
            <div class="fr-table fr-table--no-caption fr-table--layout-fixed">
                <table class="evenements__list-table">
                    <thead>
                        <tr class="evenements__table-header">
                            <th scope="col" class="fr-col-1">Notifié AC</th>
                            <th scope="col" class="fr-col-1">Évènement</th>
                            <th scope="col" class="fr-col-3">Organisme nuisible</th>
                            <th scope="col" class="fr-col-1">Création</th>
                            <th scope="col">Créateur</th>
                            <th scope="col">Commune</th>
                            <th scope="col">État</th>
                            <th scope="col">Visibilité</th>
                            <th scope="col">Détections</th>
                            <th scope="col">Zone</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evenement in evenement_list %}
                            <tr class="evenements__list-row">
                                <td>
                                    <span class="fr-ml-2v fr-icon--sm {% if evenement.is_ac_notified %}ac-notified fr-icon-notification-3-fill {% else %}ac-not-notified fr-icon-notification-3-line{% endif %}" aria-hidden="true"></span>
                                </td>
                                <td>
                                    <a href="{{ evenement.get_absolute_url }}" class="fr-link">{{ evenement.numero }}</a>
                                </td>
                                <td class="evenement__list-organisme">
                                    {{ evenement.organisme_nuisible|default:"nc." }}
                                </td>
                                <td>
                                    {{ evenement.date_creation|date:"d/m/Y" }}
                                </td>
                                <td>
                                    {{ evenement.createur|truncatechars:30 }}
                                </td>
                                <td>
                                    {% with evenement.all_lieux_with_commune|length as num_lieux %}
                                        {% if num_lieux == 0 %}
                                            nc.
                                        {% endif %}
                                        {% if num_lieux <= 3 %}
                                            {% for lieu in evenement.all_lieux_with_commune %}
                                                {{ lieu.commune|default:"nc." }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for lieu in evenement.all_lieux_with_commune|slice:":3" %}
                                                {{ lieu.commune|default:"nc." }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            ... +{{ num_lieux|add:"-3" }}
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>
                                    <span class="fr-badge fr-badge--{{evenement.etat|etat_color}} fr-badge--no-icon">{{ evenement.readable_etat }}</span>
                                </td>
                                <td>
                                    <span class="fr-badge">{{ evenement.visibilite }}</span>
                                </td>
                                <td>{{ evenement.nb_fiches_detection }}</td>
                                <td>
                                    <div class="fr-checkbox-group">
                                        {% if evenement.fiche_zone_delimitee %}
                                            <input type="checkbox" checked>
                                        {% else %}
                                            <input type="checkbox" checked disabled>
                                        {% endif %}
                                        <label class="fr-label" ></label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tbody>
                        </table>

            <!--
            Utilisation du tag 'url_replace' pour maintenir les paramètres de recherche lors de la pagination.
            Ce tag est utilisé pour générer les URLs de pagination tout en conservant les filtres de recherche.
            -->
                        {% if page_obj.paginator.num_pages > 1 %}
                            <nav role="navigation" class="fr-pagination fr-mt-8v" aria-label="Pagination">
                                <ul class="fr-pagination__list">
                                    <li>
                                        <a class="fr-pagination__link fr-pagination__link--first" href="?{% url_replace page='1' %}" role="link" aria-describedby="tooltip-first-page">
                                            Première page
                                        </a>
                                        <span class="fr-tooltip fr-placement" id="tooltip-first-page" role="tooltip" aria-hidden="true">Première page</span>
                                    </li>

                                    <li>
                                        <a class="fr-pagination__link fr-pagination__link--prev fr-pagination__link--lg-label"
                                           {% if page_obj.has_previous %}
                                               href="?{% url_replace page=page_obj.previous_page_number %}"
                                           {% endif %}
                                           role="link"
                                           aria-disabled="{{ page_obj.has_previous|yesno:'false,true' }}">
                                            Page précédente
                                        </a>
                                    </li>

                                    {% for i in page_obj.paginator.page_range %}
                                        {% if page_obj.number == i %}
                                            <li>
                                                <a class="fr-pagination__link" aria-current="page" title="Page {{ i }}">
                                                    {{ i }}
                                                </a>
                                            </li>
                                        {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                                            <li>
                                                <a class="fr-pagination__link" href="?{% url_replace page=i %}" title="Page {{ i }}">
                                                    {{ i }}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}

                                    <li>
                                        <a class="fr-pagination__link fr-pagination__link--next fr-pagination__link--lg-label"
                                           {% if page_obj.has_next %}href="?{% url_replace page=page_obj.next_page_number %}"{% endif %}
                                           aria-disabled="{{ page_obj.has_next|yesno:'false,true' }}">
                                            Page suivante
                                        </a>
                                    </li>

                                    <li>
                                        <a class="fr-pagination__link fr-pagination__link--last" href="?{% url_replace page=page_obj.paginator.num_pages %}" role="link" aria-describedby="tooltip-last-page">
                                            Dernière page
                                        </a>
                                        <span class="fr-tooltip fr-placement" id="tooltip-last-page" role="tooltip" aria-hidden="true">Dernière page</span>
                                    </li>
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
        {% endif %}
    </div>
{% endblock %}
