{% extends 'sv/base.html' %}
{% load static %}
{% load etat_tags %}
{% load render_field %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/evenement_list.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'sv/evenement_list.js' %}"></script>
{% endblock %}

{% block highlight_menu_evenements %}menu__item--active{% endblock %}

{% block content %}
    {% include "sv/_extract_modal.html" %}
    <form id="search-form" method="get" >
        <div class="evenements__header fr-p-4v">
            <h2 class="fr-h3">Rechercher un évènement</h2>
            <div class="evenements__search-form">
                {{ filter.form.as_dsfr_div }}
            </div>
            <div class="evenements__search-form">
                <div class="fr-fieldset__element">
                    {% render_field filter.form.structure_contact %}
                </div>
                <div class="fr-fieldset__element">
                    {% render_field filter.form.agent_contact %}
                </div>
            </div>
            <div class="fr-fieldset__element evenement__header--actions">
                <button type="reset" class="fr-btn fr-btn--tertiary-no-outline fr-mr-2w">Effacer</button>
                <button type="submit" class="fr-btn">Rechercher</button>
            </div>
        </div>
    </form>

    <div class="evenements__list-container">
        <div class="evenements__list-header">
            <span class="evenements__count">{{ evenement_list.count }} sur un total de {{ page_obj.paginator.count }}</span>
            <button class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-file-add-line" data-fr-opened="false" data-testid="extract-open" aria-controls="fr-modal-extract">
                Extraire
            </button>
        </div>
        {% if evenement_list|length > 0 %}
            <div class="fr-table fr-table--no-caption fr-table--layout-fixed">
                <table class="evenements__list-table">
                    <thead>
                        <tr class="evenements__table-header">
                            <th scope="col" class="fr-col-1">{% include 'core/_evenement_sort_link.html' with field='ac_notified' display_name='Notifié AC' %}</th>
                            <th scope="col" class="fr-col-1">{% include 'core/_evenement_sort_link.html' with field='numero_evenement' display_name='Évènement' %}</th>
                            <th scope="col" class="fr-col-3">{% include 'core/_evenement_sort_link.html' with field='organisme' display_name='Organisme nuisible' %}</th>
                            <th scope="col" class="fr-col-1">{% include 'core/_evenement_sort_link.html' with field='creation' display_name='Création' %}</th>
                            <th scope="col" class="fr-col-1">{% include 'core/_evenement_sort_link.html' with field='maj' display_name='Dernière MAJ descripteurs' %}</th>
                            <th scope="col">{% include 'core/_evenement_sort_link.html' with field='createur' display_name='Créateur' %}</th>
                            <th scope="col">Commune</th>
                            <th scope="col">{% include 'core/_evenement_sort_link.html' with field='etat' display_name='État' %}</th>
                            <th scope="col">{% include 'core/_evenement_sort_link.html' with field='visibilite' display_name='Visibilité' %}</th>
                            <th scope="col">{% include 'core/_evenement_sort_link.html' with field='detections' display_name='Détections' %}</th>
                            <th scope="col">{% include 'core/_evenement_sort_link.html' with field='zone' display_name='Zone' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evenement in evenement_list %}
                            <tr class="evenements__list-row">
                                <td>
                                    <span class="fr-ml-2v fr-icon--sm {% if evenement.is_ac_notified %}ac-notified fr-icon-notification-3-fill {% else %}ac-not-notified fr-icon-notification-3-line{% endif %}" aria-hidden="true"></span>
                                </td>
                                <td>
                                    <a href="{{ evenement.get_absolute_url }}" class="fr-link">{{ evenement.numero }}</a>
                                </td>
                                <td class="evenement__list-organisme">
                                    {{ evenement.organisme_nuisible|default:"nc." }}
                                </td>
                                <td>
                                    {{ evenement.date_creation|date:"d/m/Y" }}
                                </td>
                                <td>{{ evenement.date_derniere_mise_a_jour_globale|date:"d/m/Y" }}</td>
                                <td>
                                    {{ evenement.createur|truncatechars:30 }}
                                </td>
                                <td>
                                    {% with evenement.communes_uniques|length as nb_communes %}
                                        {% if nb_communes == 0 %}
                                            nc.
                                        {% endif %}
                                        {% if nb_communes <= 3 %}
                                            {% for commune in evenement.communes_uniques %}
                                                {{ commune|default:"nc." }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% for commune in evenement.communes_uniques|slice:":3" %}
                                                {{ commune|default:"nc." }}{% if not forloop.last %}, {% endif %}
                                            {% endfor %}
                                            ... +{{ nb_communes|add:"-3" }}
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>
                                    <span class="fr-badge fr-badge--{{evenement.etat|etat_color}} fr-badge--no-icon">{{ evenement.readable_etat }}</span>
                                </td>
                                <td>
                                    <span class="fr-badge">{{ evenement.visibilite }}</span>
                                </td>
                                <td>{{ evenement.nb_fiches_detection }}</td>
                                <td>
                                    <div class="fr-checkbox-group">
                                        {% if evenement.fiche_zone_delimitee %}
                                            <input type="checkbox" checked>
                                        {% else %}
                                            <input type="checkbox" checked disabled>
                                        {% endif %}
                                        <label class="fr-label" ></label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        <tbody>
                        </table>
                        {% include "core/_pagination.html" %}
                    </div>
        {% endif %}
    </div>
{% endblock %}
