{% extends 'sv/base.html' %}

{% load static %}
{% load etat_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/common.css' %}">
    <link rel="stylesheet" href="{% static 'sv/evenement_details.css' %}">
    <link rel="stylesheet" href="{% static 'sv/has_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'sv/fichedetection_detail.css' %}">
    <link rel="stylesheet" href="{% static 'sv/fichezonedelimitee_detail.css' %}">
{% endblock %}

{% block scripts %}
    <script type="module" src="{% static 'sv/evenement_details.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/message_form.js' %}"></script>
{% endblock %}

{% block aside %}
    <aside id="sidebar" class="sidebar white-container--lite">
        <div class="close-sidebar-container">
            <a href="#" class="fr-link close-sidebar fr-mb-2v">Annuler et fermer</a>
        </div>
        <form method="post" enctype="multipart/form-data" action="{{ evenement.add_message_url }}">
            {% csrf_token %}
            <div class=" fr-fieldset__element fr-hidden">
                <label>Destinataires</label>
                {{ message_form.recipients_limited_recipients }}
            </div>
            {{ message_form.as_dsfr_div }}
            <div class="fr-p-2w">
                <div id="documents-to-upload"></div>
                <div id="inputs-for-upload" class="fr-hidden"></div>
                <button class="fr-btn fr-btn--tertiary-no-outline btn-full add-document-form-btn"><span class="fr-icon-add-line" aria-hidden="true"></span>Ajouter un document</button>
                <div class="fr-hidden document-form">
                    {{ add_document_form.as_dsfr_div }}
                    <span class="fr-hint-text">Formats supportés : {{ allowed_extensions|join:", " }}</span>
                    <div class="message-documents-actions">
                        <button class="fr-btn fr-btn--tertiary btn-full" id="message-add-document" disabled>Valider l'ajout du document</button>
                    </div>
                </div>

            </div>
            <div class="message-send-btn fr-pr-1w fr-mb-8w">
                <button type="submit" class="fr-btn " data-testid="fildesuivi-add-submit">Envoyer</button>
            </div>

        </form>
    </aside>
{% endblock aside %}

{% block content %}
    <main class="main-container">
        <div>
            <div class="evenement-top-row">
                <h1 class="fr-mb-0-5v">Événement {% if evenement.numero %}{{ evenement.numero }}{%  endif %}</h1>

                <div data-fiche-id="{{ evenement.pk }}">
                    <fieldset class="fr-segmented">
                        <div class="fr-segmented__elements">
                            <div class="fr-segmented__element">
                                <input value="detail" checked type="radio" id="detail-btn" name="segmented-2215">
                                <label class="fr-label" for="detail-btn"><i class="ri-expand-vertical-fill fr-mr-1w"></i>Détail</label>
                            </div>
                            <div class="fr-segmented__element">
                                <input value="synthese" type="radio" id="synthese-btn" name="segmented-2215">
                                <label class="fr-label" for="synthese-btn"><i class="ri-collapse-vertical-fill fr-mr-1w"></i>Synthèse</label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <div class="evenement-top-row--actions">
                    {% if can_publish %}
                        <form action="{% url 'publish' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ evenement.get_absolute_url }}" name="next">
                            <input type="hidden" value="{{ content_type.id }}" name="content_type_id">
                            <input type="hidden" value="{{ evenement.pk }}" name="content_id">
                            <button class="fr-btn fr-btn--secondary fr-mr-2w">
                                Publier l'événement</button>
                        </form>
                    {% endif %}
                    {% include "sv/_evenement_action_navigation.html" %}
                    {% include "sv/_cloturer_modal.html" %}
                </div>
            </div>
            {% include "sv/_evenement_badges.html" %}
            {% include "sv/_latest_revision.html" %}
        </div>

        <div class="fr-container--fluid fr-mb-2w">
            <div class="fr-grid-row fr-my-1w white-container--lite">
                <div class="fr-col-6 fr-col-lg-4">
                    <div class="fr-mb-2v"><span class="bold fr-mr-2v">Organisme nuisible</span> {{ evenement.organisme_nuisible }}</div>
                    <div class="fr-mb-2v"><span class="bold fr-mr-2v">Statut réglementaire</span> {{ evenement.statut_reglementaire }}</div>
                    <div class="fr-mb-2v"><span class="bold fr-mr-2v">Code OEPP</span> {{ evenement.organisme_nuisible.code_oepp }}</div>
                </div>
                <div class="fr-col-6 fr-col-lg-3">
                    <div class="fr-mb-2v"><span class="bold fr-mr-2v">Date de création</span> {{ evenement.date_creation|date }}</div>
                    <div class="fr-mb-2v"><span class="bold fr-mr-2v">Créateur</span> {{ evenement.createur }}</div>
                </div>
                <div class="fr-col-6 fr-col-lg-5">
                    <span class="bold fr-mr-2v">Visibilité</span>
                    <span data-testid="evenement-visibilite">
                        {% with structures_str=evenement.get_visibilite_display_text %}
                            {% if evenement.is_visibilite_limitee and structures_str|length > 150 %}
                                {{ structures_str|truncatechars:150 }}
                                <button class="fr-btn--tooltip fr-btn" aria-describedby="tooltip-visibilite" type="button"></button>
                                <span class="fr-tooltip fr-placement" id="tooltip-visibilite" role="tooltip" aria-hidden="true">{{ structures_str }}</span>
                            {% else %}
                                {{ structures_str }}
                            {% endif %}
                        {% endwith %}
                    </span>
                </div>

            </div>
        </div>

        <div id="detail-content">
            <div class="fr-tabs">
                <ul class="fr-tabs__list" role="tablist" aria-label="Navigation entre zone et détections">
                    <li role="presentation">
                        <button id="tabpanel-detection" class="fr-tabs__tab" tabindex="0" role="tab" aria-selected="false"  aria-controls="tabpanel-detection-panel">Détections</button>
                    </li>
                    <li role="presentation">
                        <button id="tabpanel-zone" class="fr-tabs__tab" tabindex="-1" role="tab" aria-selected="false" aria-controls="tabpanel-zone-panel">Zone</button>
                    </li>
                </ul>
                <div id="tabpanel-detection-panel" class="fr-tabs__panel fr-tabs__panel--selected" role="tabpanel" aria-labelledby="tabpanel-detection" tabindex="0">
                    <div>
                        <div class="fr-tabs no-tab-look">
                            <ul class="fr-tabs__list" role="tablist" aria-label="Liste des détections">
                                {% for fichedetection in evenement.detections.all %}
                                    <li role="presentation">
                                        <button id="tabpanel-{{ fichedetection.pk }}"
                                                class="fr-tag fr-mx-1w {% if fichedetection.pk == active_detection %}selected{% endif %}"
                                                tabindex="{% if fichedetection.pk == active_detection %}0{% else %}-1{% endif %}"
                                                role="tab"
                                                aria-selected="{% if fichedetection.pk == active_detection %}true{% else %}false{% endif %}"
                                                aria-controls="tabpanel-{{ fichedetection.pk }}-panel">{{ fichedetection }}</button>
                                    </li>
                                {% endfor %}
                                <li>
                                    <a href="{% url 'fiche-detection-creation' %}?evenement={{ evenement.pk }}" class="fr-tag fr-tag--tertiary fr-mx-1w">
                                        <span class="fr-icon-add-line" aria-hidden="true"></span> Ajouter une détection</a>
                                </li>
                            </ul>

                            {% for fichedetection in evenement.detections.all %}
                                <div id="detection-actions-{{ fichedetection.pk }}" {% if not fichedetection.pk == active_detection %}class="fr-hidden"{% endif %}>
                                    <button class="fr-btn fr-btn--delete fr-mr-2w" data-fr-opened="false" aria-controls="fr-modal-delete-detection-{{ fichedetection.pk }}">
                                        Supprimer la détection
                                    </button>
                                    {% include "sv/_delete_fiche_modal.html" with prefix="detection" content_type=fiche_detection_content_type object_pk=fichedetection.pk %}
                                    <button class="fr-btn fr-btn--secondary">
                                        <a href="{% url 'fiche-detection-modification' fichedetection.pk %}">Modifier</a>
                                    </button>
                                </div>
                            {% endfor %}


                            {% for fichedetection in evenement.detections.all %}
                                <div id="tabpanel-{{ fichedetection.pk }}-panel"
                                     class="fr-tabs__panel {% if fichedetection.pk == active_detection %}fr-tabs__panel--selected{% endif %}"
                                     role="tabpanel"
                                     aria-labelledby="tabpanel-{{ fichedetection.pk }}"
                                     tabindex="{% if fichedetection.pk == active_detection %}0{% else %}-1{% endif %}">
                                    {% include "sv/_fichedetection_detail.html" %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div id="tabpanel-zone-panel" class="fr-tabs__panel" role="tabpanel" aria-labelledby="tabpanel-zone" tabindex="0">
                    {% if evenement.fiche_zone_delimitee %}
                        {% include "sv/fichezonedelimitee_detail.html" with fiche=evenement.fiche_zone_delimitee %}
                    {% else %}
                        <div class="white-container fr-pb-6w">
                            <h3>Cet événement ne contient pas de zone</h3>
                            <a href="{% url 'fiche-zone-delimitee-creation' %}?evenement={{ evenement.pk }}" class="zone-button "><button class="fr-btn fr-btn--secondary fr-mr-2w fr-btn--icon-left fr-icon-add-line">Ajouter une zone</button></a>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% include "sv/_list_free_links.html" with classes="fr-mt-8v" object=evenement %}
        </div>

        {% if not evenement.is_draft %}
            {% include "core/_fiche_bloc_commun.html" %}
        {% endif %}

    </main>

{% endblock %}
