{% extends 'sv/base.html' %}

{% load static %}
{% load etat_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/fichedetection_form.css' %}">

<!-- Alpine Core -->
    <script defer src="{% static 'alpineV3.cdn.min.js' %}"></script>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'sv/fichedetection_form.js' %}"></script>
{% endblock %}

{% block highlight_menu_fiches %}menu__item--active{% endblock %}

{% block content %}
    <main x-data="app">

        <input type="hidden" id="numeroFiche" value="{{ form.instance.numero }}">
        <input type="hidden" id="statut-evenement-id" value="{{ form.instance.statut_evenement_id|default:'' }}">
        <input type="hidden" id="organisme-nuisible-id" value="{{ form.instance.organisme_nuisible_id|default:'' }}">
        <input type="hidden" id="statut-reglementaire-id" value="{{ form.instance.statut_reglementaire_id|default:'' }}">
        <input type="hidden" id="contexte-id" value="{{ form.instance.contexte_id|default:'' }}">
        <input type="hidden" id="date-premier-signalement" value="{{ form.instance.date_premier_signalement|date:'Y-m-d' }}">
        <input type="hidden" id="commentaire" value="{{ form.instance.commentaire }}">
        <input type="hidden" id="mesures-conservatoires-immediates" value="{{ form.instance.mesures_conservatoires_immediates }}">
        <input type="hidden" id="mesures-consignation" value="{{ form.instance.mesures_consignation }}">
        <input type="hidden" id="mesures-phytosanitaires" value="{{ form.instance.mesures_phytosanitaires }}">
        <input type="hidden" id="mesures-surveillance-specifique" value="{{ form.instance.mesures_surveillance_specifique }}">
        {{ lieux|json_script:"lieux-json" }}
        {{ prelevements|json_script:"prelevements" }}
        {{ departements|json_script:"departements" }}
        {{ structures|json_script:"structures" }}
        {{ statuts_evenement|json_script:"statuts-evenement" }}
        {{ organismes_nuisibles|json_script:"organismes-nuisibles" }}
        {{ statuts_reglementaires|json_script:"statuts-reglementaires" }}
        {{ contextes|json_script:"contextes" }}
        {{ structures_preleveurs|json_script:"structures-preleveurs" }}
        {{ sites_inspections|json_script:"sites-inspections" }}
        {{ matrices_prelevees|json_script:"matrices-prelevees" }}
        {{ especes_echantillon|json_script:"especes-echantillon" }}
        {{ laboratoires_agrees|json_script:"laboratoires-agrees" }}
        {{ laboratoires_confirmation_officielle|json_script:"laboratoires-confirmation-officielle" }}
        {{ resultats_prelevement|json_script:"resultats-prelevement"}}
        {{ types_etablissement|json_script:"types-etablissement" }}
        {{ positions_chaine_distribution|json_script:"positions-etablissement" }}

        <form x-ref="fichedetectionForm" @submit.prevent="saveFicheDetection()">

            <div id="fiche-detection-form-header">
                <div>
                    <h1>
                        {% if is_creation %}
                            Création d'une fiche détection
                        {% else %}
                            Modification de la fiche détection n°<span x-text="ficheDetection.numero" x-model="ficheDetection.numero"></span>
                        {% endif %}
                    </h1>
                    {% if not is_creation %}
                        <p class="fr-badge fr-badge--{{fichedetection.etat.libelle|etat_fiche_detection_color}} fr-badge--no-icon">{{ fichedetection.etat }}</p>
                    {% endif %}
                </div>

                <p>
                    <input type="submit" value="Enregistrer" class="fr-btn" data-testid="fiche-detection-save-btn">
                </p>
            </div>

            <div id="fiche-detection-form">
                {% csrf_token %}
                {% if is_creation %}
                    <div id="fiche-detection-form-url" data-url="{% url 'fiche-detection-creation' %}" ></div>
                {% else %}
                    <div id="fiche-detection-form-url" data-url="{% url 'fiche-detection-modification' form.instance.id  %}"></div>
                {% endif %}

                <div id="informations">
                    <h2>Informations</h2>
                    <div id="informations-content">
                        <p id="date-creation">
                            <label class="fr-label" for="date-creation-input">Date de création</label>
                            <input type="text" id="date-creation-input" class="fr-input" value="{% now 'd/m/Y' %}" disabled>
                        </p>
                        <p id="statut-evenement">
                            <label class="fr-label" for="statut-evenement-input">Statut évènement</label>
                            <select x-model="ficheDetection.statutEvenementId" id="statut-evenement-input" class="fr-select">
                                <option value="">----</option>
                                <template x-for="statutEvenement in statutsEvenement" :key="statutEvenement.id">
                                    <option
                                        :value="statutEvenement.id"
                                        x-text="statutEvenement.libelle"
                                        :selected="statutEvenement.id == ficheDetection.statutEvenementId"></option>
                                </template>
                            </select>
                        </p>
                    </div>
                </div>

                <div id="objet-evenement">
                    <h2>Objet de l'évènement</h2>
                    <p id="organisme-nuisible">
                        <label class="fr-label" for="organisme-nuisible-input">Organisme nuisible</label>
                        <select x-model="ficheDetection.organismeNuisibleId" id="organisme-nuisible-input">
                            <option value="">----</option>
                            <template x-for="organismeNuisible in organismesNuisibles" :key="organismeNuisible.id">
                                <option
                                    :value="organismeNuisible.id"
                                    x-text="organismeNuisible.libelle_court"
                                    :selected="organismeNuisible.id == ficheDetection.organismeNuisibleId"></option>
                            </template>
                        </select>
                    </p>
                    <p id="statut-reglementaire">
                        <label class="fr-label" for="statut-reglementaire-input">Statut règlementaire</label>
                        <select x-model="ficheDetection.statutReglementaireId" id="statut-reglementaire-input" class="fr-select">
                            <option value="">----</option>
                            <template x-for="statutReglementaire in statutsReglementaires" :key="statutReglementaire.id">
                                <option
                                    :value="statutReglementaire.id"
                                    x-text="statutReglementaire.libelle"
                                    :selected="statutReglementaire.id == ficheDetection.statutReglementaireId"></option>
                            </template>
                        </select>
                    </p>
                    <p id="contexte">
                        <label class="fr-label" for="contexte-input">Contexte</label>
                        <select x-model="ficheDetection.contexteId" id="contexte-input" class="fr-select">
                            <option value="">----</option>
                            <template x-for="contexte in contextes" :key="contexte.id">
                                <option
                                    :value="contexte.id"
                                    x-text="contexte.nom"
                                    :selected="contexte.id == ficheDetection.contexteId"></option>
                            </template>
                        </select>
                    </p>
                    <p id="date-1er-signalement">
                        <label class="fr-label" for="date-1er-signalement-input">Date 1er signalement</label>
                        <input x-text="ficheDetection.datePremierSignalement" x-model="ficheDetection.datePremierSignalement" type="date" id="date-1er-signalement-input" class="fr-input" max="{% now "Y-m-d" %}">
                    </p>
                    <p>
                        <label class="fr-label" for="commentaire-input">Commentaire</label>
                        <textarea x-model="ficheDetection.commentaire" id="commentaire-input" class="fr-input" maxlength="500"></textarea>
                    </p>
                </div>

                <div id="lieux">
                    <div id="lieux-header">
                        <h2>Lieux</h2>
                        <button type="button" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line" data-fr-opened="false" aria-controls="modal-add-edit-lieu">Ajouter un lieu</button>
                    </div>
                    {% include 'sv/_fichedetection_form__lieux.html' %}
                </div>

                <div id="prelevements">
                    <div id="prelevements-header">
                        <h2>Prélèvements</h2>
                        <template x-if="lieux.length > 0">
                            <button  type="button" @click="addPrelevementForm()" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line" data-fr-opened="false" aria-controls="modal-add-edit-prelevement">Ajouter un prélèvement</button>
                        </template>
                    </div>
                    {% include 'sv/_fichedetection_form__prelevements.html' %}
                </div>

                <div id="mesures-gestion">
                    <h2>Mesures de gestion</h2>
                    <div id="mesures-gestion-content">
                        <p id="mesures-conservatoires-immediates">
                            <label class="fr-label" for="mesures-conservatoires-immediates-input">Mesures conservatoires immédiates</label>
                            <textarea x-model="ficheDetection.mesuresConservatoiresImmediates" id="mesures-conservatoires-immediates-input" class="fr-input" maxlength="500"></textarea>
                        </p>
                        <p id="mesures-consignation">
                            <label class="fr-label" for="mesures-consignation-input">Mesures de consignation</label>
                            <textarea x-model="ficheDetection.mesuresConsignation" id="mesures-consignation-input" class="fr-input" maxlength="500"></textarea>
                        </p>
                        <p id="mesures-phytosanitaires">
                            <label class="fr-label" for="mesures-phytosanitaires-input">Mesures phytosanitaires</label>
                            <textarea x-model="ficheDetection.mesuresPhytosanitaires" id="mesures-phytosanitaires-input" class="fr-input" maxlength="500"></textarea>
                        </p>
                        <p id="mesures-surveillance-specifique">
                            <label class="fr-label" for="mesures-surveillance-specifique-input">Mesures de surveillance spécifique</label>
                            <textarea x-model="ficheDetection.mesuresSurveillanceSpecifique" id="mesures-surveillance-specifique-input" class="fr-input" maxlength="500"></textarea>
                        </p>
                    </div>
                </div>
            </div>
        </form>

	<!-- Modal ajout/modif lieu -->
        {% include 'sv/_fichedetection_form__lieux_form.html' %}

	<!-- Modal ajout/modif prélèvement -->
        {% include 'sv/_fichedetection_form__prelevements_form.html' %}
    </main>
{% endblock %}
