<fieldset class="fr-fieldset" style="margin-top: 0.5rem;">
    {% for choice in field.field.choices %}
        <div class="fr-fieldset__element fr-fieldset__element--inline">
            <div class="fr-radio-group">
                <input id="form-{{form_index}}-{{ field.name }}-radio-{{ forloop.counter }}"
                       type="radio"
                       name="form-{{form_index}}-{{ field.name }}"
                       value="{{ choice.0 }}"
                       {% if field.value == choice.0 %}checked{% endif %}>
                <label class="fr-label" for="form-{{form_index}}-{{ field.name }}-radio-{{ forloop.counter }}">{{ choice.0 }}</label>
            </div>
        </div>
    {% endfor %}
</fieldset>
