{% extends 'sv/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/fichezone_form.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'sv/fichezone_form.js' %}"></script>
{% endblock %}

{% block content %}
    <main class="form">
        <form action="{% url 'fiche-zone-creation' fiche_detection.pk %}" method="post">
            {% csrf_token %}

            {{ fiche_zone_form.fiche_detection.as_hidden }}

            <div class="form__form-header">
                <h1>Création d'une fiche zone</h1>
                <input type="submit" value="Enregistrer" class="fr-btn" />
            </div>

            {% if fiche_zone_form.errors %}
                <div class="form__fiche-zone-form-errors fr-alert fr-alert--error fr-alert--sm">
                    <p>{{fiche_zone_form.errors.as_text}}</p>
                    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                        Masquer le message
                    </button>
                </div>
            {% endif %}

            {% if zone_formset.errors %}
                <div class="form__zones-form-errors fr-alert fr-alert--error fr-alert--sm">
                    <p>Il y a des erreurs dans un ou plusieurs formulaires  des zones</p>
                    <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                        Masquer le message
                    </button>
                </div>
            {% endif %}

            <div class="form__container-risques-infos">
                <div class="form__form-risques">
                    <h2>Risques</h2>
                    <p>
                        <span class="form-risques__organisme-nuisible">Organisme nuisible </span>{{ fiche_detection.organisme_nuisible|default:"nc." }}
                    </p>
                    <p>
                        <span class="form-risques__statut-reglementaire">Statut réglementaire </span>{{ fiche_detection.statut_reglementaire|default:"nc." }}
                    </p>
                </div>
                <div class="form__form-infos">
                    <h2>Informations</h2>
                    <p class="form-infos__createur">
                        {{ fiche_zone_form.createur.label_tag }}
                        {{ fiche_zone_form.createur }}
                    </p>
                    <p class="form-infos__date-creation">
                        <label class="fr-label">Date de création</label>
                        <input type="text" class="fr-input" value="{% now 'd/m/Y' %}" disabled>
                    </p>
                </div>
            </div>

            <div class="fr-tabs">
                <ul class="fr-tabs__list" role="tablist" aria-label="Liste des zones">
                    {{ zone_formset.management_form }}
                    {% for zone_form in zone_formset %}
                        {% include 'sv/fichezone_zone_form_tabs_btn.html' with form_index=forloop.counter0 zone_btn_label=forloop.counter %}
                    {% endfor %}
                </ul>
                {% for zone_form in zone_formset %}
                    {% include 'sv/fichezone_zone_form_tabs_content.html' with form_index=forloop.counter0 %}
                {% endfor %}
            </div>

            <button type="button" id="add-zone" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line">Ajouter une zone</button>

            <div class="form__form-detections">
                <h2>Détections liées</h2>
                <p><a href="{% url 'fiche-detection-vue-detaillee' fiche_detection.pk %}" class="fr-link">{{fiche_detection.numero}}</a></p>
            </div>
        </form>
    </main>

    <template id="zone-form-tabs-btn">
        {% include 'sv/fichezone_zone_form_tabs_btn.html' with form_index='__prefix__' zone_btn_label='__zone_nb__' %}
    </template>

    <template id="zone-form-tabs-content">
        {% include 'sv/fichezone_zone_form_tabs_content.html' with zone_form=zone_formset.empty_form form_index='__prefix__' %}
    </template>
{% endblock %}
