{% load dsfr_tags or_empty_value_tag l10n static %}

<dialog aria-labelledby="fr-modal-title-modal-{{lieu_index}}" role="dialog" id="fr-modal-lieu-{{lieu_index}}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-10 fr-col-lg-8">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-lieu-{{lieu_index}}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <div class="fr-grid-row fr-mb-4w">
                            <h1
                                id="fr-modal-title-modal-{{lieu_index}}"
                                class="fr-modal__title fr-icon-arrow-right-line fr-icon--lg"
                            >
                                {{lieu.nom}}
                            </h1>
                        </div>
                        <div class="descripteur-label">Site d'inspection</div>
                        {% dsfr_badge label=lieu.site_inspection_label_with_group extra_classes="fr-badge--info fr-badge--no-icon" %}
                        <div class="fr-grid-row fr-grid-row--gutters fr-mb-2w">
                            {% if lieu.wgs84_latitude and lieu.wgs84_longitude %}
                                <div class="fr-col-6">
                                    <div data-controller="map-viewer" class="map fr-mt-4v"
                                         data-map-viewer-lat-value="{{lieu.wgs84_latitude|unlocalize}}"
                                         data-map-viewer-long-value="{{lieu.wgs84_longitude|unlocalize}}"
                                         data-map-viewer-json-file-value="{% static 'core/style_ign.json' %}"
                                    ></div>
                                </div>
                                <div class="fr-col-4">
                            {% else %}
                                <div class="fr-col-12">
                            {% endif %}
                            <div class="descripteur-label fr-mt-4v">Adresse ou lieu-dit</div>
                            <div data-testid="lieu-{{lieu_index}}-adresse">{{lieu.adresse_lieu_dit|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Commune</div>
                            <div data-testid="lieu-{{lieu_index}}-commune">{{lieu.commune|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Code INSEE</div>
                            <div data-testid="lieu-{{lieu_index}}-code-insee">{{lieu.code_insee|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Département</div>
                            <div data-testid="lieu-{{lieu_index}}-departement">{{lieu.departement.nom|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Région</div>
                            <div data-testid="lieu-{{lieu_index}}-region">{{lieu.departement.region.nom|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Latitude</div>
                            <div data-testid="lieu-{{lieu_index}}-wgs84-latitude">{{lieu.wgs84_latitude|or_empty_value_tag}}</div>
                            <div class="descripteur-label fr-mt-4v">Longitude</div>
                            <div data-testid="lieu-{{lieu_index}}-wgs84-longitude">{{lieu.wgs84_longitude|or_empty_value_tag}}</div>
                        </div>
                    </div>
                    {% if lieu.is_etablissement %}
                        <p>Il s'agit d'un établissement</p>
                        <div class="fr-mt-4v descripteur-label">Raison sociale</div>
                        <div data-testid="lieu-{{lieu_index}}-raison-sociale-etablissement">{{lieu.raison_sociale_etablissement|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">N° SIRET</div>
                        <div data-testid="lieu-{{lieu_index}}-siret-etablissement">{{lieu.siret_etablissement|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">Adresse</div>
                        <div data-testid="lieu-{{lieu_index}}-adresse-etablissement">{{lieu.adresse_etablissement|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">Pays</div>
                        <div data-testid="lieu-{{lieu_index}}-pays-etablissement">{{lieu.get_pays_etablissement_display|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">Code INUPP</div>
                        <div data-testid="lieu-{{lieu_index}}-code-inupp-etablissement">{{lieu.code_inupp_etablissement|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">Description de l’activité</div>
                        <div data-testid="lieu-{{lieu_index}}-activite-etablissement">{{lieu.activite_etablissement|or_empty_value_tag}}</div>
                        <div class="fr-mt-4v descripteur-label">Position</div>
                        <div data-testid="lieu-{{lieu_index}}-position-etablissement">
                            {% if lieu.position_chaine_distribution_etablissement.libelle %}
                                <span class="fr-badge fr-badge--info fr-badge--no-icon">{{ lieu.position_chaine_distribution_etablissement.libelle }}</span>
                            {% else %}
                                {% empty_value_tag %}
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</dialog>
