{% extends 'sv/base.html' %}

{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/fichezone_form.css' %}">
{% endblock %}

{% block scripts %}
    <script src="{% static 'sv/fichezone_form.js' %}"></script>
{% endblock %}

{% block content %}
    <form action="{% if fiche.id %}{{ fiche.get_update_url }}{% else %}{% url 'fiche-zone-delimitee-creation' %}?evenement={{ request.GET.evenement }}{% endif %}" id="fiche-zone-delimitee-form" method="post" class="fr-container--fluid fr-m-4w">

        <div class="fr-grid-row">
            <div class="fr-col-8">
                <h1>
                    {% if fiche.id %}
                        Modification de la fiche zone délimitée
                    {% else %}
                        Création d'une fiche zone délimitée
                    {% endif %}
                </h1>
            </div>
            <div class="fr-col fichezone_form__save-btn">
                <input type="hidden" name="evenement" value="{{ request.GET.evenement }}">
                {% if request.GET.evenement %}
                    <a href="{{ evenement.get_absolute_url }}" class="fr-link fr-mr-3w">Annuler</a>
                {% elif fiche.evenement %}
                    <a href="{{ fiche.evenement.get_absolute_url }}" class="fr-link fr-mr-3w">Annuler</a>
                {% endif %}
                <input type="submit" form="fiche-zone-delimitee-form" value="Enregistrer les modifications" class="fr-btn" >
            </div>
        </div>

        {% csrf_token %}
        {{ form.latest_version }}
        <div id="risques-infos-commentaire-row" class="fr-grid-row fr-grid-row--gutters">

            <div id="risques" class="fr-col-12 fr-col-lg">
                <div class="white-container">
                    <p class="fr-h6">Risques</p>
                    <div class="fr-grid-row fr-mb-2w">
                        <div id="organisme-nuisible-label" class="fr-col-5">Organisme nuisible</div>
                        <div class="fr-col">{{ evenement.organisme_nuisible }}</div>
                    </div>
                    <div class="fr-grid-row">
                        <div id="statut-reglementaire-label" class="fr-col-5">Statut réglementaire</div>
                        <div class="fr-col">{{ evenement.statut_reglementaire }}</div>
                    </div>
                </div>
            </div>

            <div id="infos" class="fr-col-12 fr-col-lg-3">
                <div class="white-container fr-pb-6w">
                    <p class="fr-h6">Informations</p>
                    <div class="fr-grid-row" style="align-items: center;">
                        <div class="fr-col">{{ form.date_creation.label_tag }}</div>
                        <div class="fr-col">{{ form.date_creation }}</div>
                    </div>
                </div>
            </div>

            <div id="commentaire" class="fr-col-12 fr-col-lg">
                <div class="white-container">
                    <p class="fr-h6">{{ form.commentaire.label_tag }}</p>
                    {{ form.commentaire }}
                </div>
            </div>

        </div>

        <div class="fichezoneform__detections-hors-zone-infestee white-container fr-mt-4w">
            <p class="fr-h6">Détections hors zone infestée</p>
            <p class="fr-mb-1v info-text">Rattacher ici les détections ne nécessitant pas de zone infestée.</p>
            <p class="info-text">Si le statut de la détection change, veuillez la supprimer afin de pouvoir l’affecter à une nouvelle ZI ou une ZI existante.</p>
            <div class="fr-mb-1w">{{ form.detections_hors_zone.label_tag }}</div>
            <div class="fr-grid-row">
                <div class="fr-col-4">
                    {{ form.detections_hors_zone }}
                </div>
            </div>
        </div>

        {% include 'sv/_fichezonedelimitee_form_zones_infestees.html' %}

        <div class="fichezoneform__zone-tampon white-container fr-mt-4w">
            <p class="fr-h6">Zone tampon</p>

            {{ form.rayon_zone_tampon.label_tag }}
            <div class="fr-grid-row fr-mt-1w">
                <div class="fr-col-2">
                    {{ form.rayon_zone_tampon }}
                </div>
                <div class="fr-col">
                    <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                        {{ form.unite_rayon_zone_tampon }}
                    </fieldset>
                </div>
            </div>

            {{ form.surface_tampon_totale.label_tag }}
            <div class="fr-grid-row fr-mt-1w">
                <div class="fr-col-2">
                    {{ form.surface_tampon_totale }}
                </div>
                <div class="fr-col">
                    <fieldset class="fr-fieldset fr-mt-1w fr-ml-1w">
                        {{ form.unite_surface_tampon_totale }}
                    </fieldset>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
