{% extends 'sv/base.html' %}

{% load static %}
{% load etat_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/common.css' %}">
    <link rel="stylesheet" href="{% static 'sv/fichedetection_detail.css' %}">
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static 'sv/fichedetection_detail.js' %}"></script>
{% endblock %}

{% block highlight_menu_fiches %}menu__item--active{% endblock %}

{% block content %}
    <main>
        <div class="fiche-header">
            <div>
                <h1 class="fiche-header__title">Fiche détection {%  if fichedetection.numero %}n° {{ fichedetection.numero }} {%  endif %}</h1>
                <p class="fr-badge fr-badge--{{fichedetection.etat.libelle|etat_fiche_color}} fr-badge--no-icon">{{ fichedetection.etat }}</p>
                {% if fichedetection.is_ac_notified %}
                    <p class="fr-badge fr-ml-2w"><span class="fr-icon-notification-3-line fr-mr-2v fr-icon--sm" aria-hidden="true"></span> Déclaré AC</p>
                {% endif %}
                <p class="fr-badge fr-badge--no-icon">{{ fichedetection.visibilite }}</p>
                {% if fiche_zone_delimitee %}
                    <a href="{{ fiche_zone_delimitee.get_absolute_url }}" class="fr-badge fr-badge--info fr-badge--no-icon">zone {{ fiche_zone_delimitee.numero }}</a>
                {% endif %}
            </div>

            <p>
                <fieldset class="fr-segmented">
                    <div class="fr-segmented__elements">
                        <div class="fr-segmented__element">
                            <input value="1" checked type="radio" id="detail-btn" name="segmented-2215">
                            <label class="fr-label" for="detail-btn"><i class="ri-expand-vertical-fill fr-mr-1w"></i>Détail</label>
                        </div>
                        <div class="fr-segmented__element">
                            <input value="2" type="radio" id="synthese-btn" name="segmented-2215">
                            <label class="fr-label" for="synthese-btn"><i class="ri-collapse-vertical-fill fr-mr-1w"></i>Synthèse</label>
                        </div>
                    </div>
                </fieldset>
            </p>

            <div class="fiche-action">
                <button class="fr-btn fr-btn--secondary fr-mr-2w">
                    <a href="{% url 'fiche-detection-modification' fichedetection.pk %}"><span class="fr-icon-edit-fill">Modifier</span></a>
                </button>
                {% include "sv/_detection_action_navigation.html" %}
                {% include "sv/_delete_fiche_modal.html" %}
                {% include "sv/_cloturer_modal.html" with fiche=fichedetection %}
                {% if can_update_visibilite %}
                    {% include "sv/_update_visibilite_modal.html" with fiche=fichedetection %}
                {% endif %}
                {% include "sv/_create_fichezonedelimitee_modal.html" %}
            </div>
        </div>

        <div class="fiche-detail">
            <div class="fiche-detail__container">
                <!-- Informations -->
                <div class="fiche-detail__informations">
                    <h2>Informations</h2>
                    <div class="informations__fields">
                        <div class="informations__first-column">
                            <p><span class="informations__field-label">Créateur</span>{{ fichedetection.createur }}</p>
                            <p><span class="informations__field-label">Date de création</span>{{ fichedetection.date_creation|date:"d/m/Y" }}</p>
                        </div>
                        <div class="informations__second-column">
                            <p><span class="informations__field-label">N° Europhyt </span>{{ fichedetection.numero_europhyt|default:"nc." }}</p>
                            <p><span class="informations__field-label">N° RASFF </span>{{ fichedetection.numero_rasff|default:"nc." }}</p>
                        </div>
                        <div class="informations__third-column">
                            <p><span class="informations__field-label">Statut</span>{{ fichedetection.statut_evenement|default:"nc." }}</p>
                            <p><span class="informations__field-label">N° de fiche</span>{{ fichedetection.numero|default:"nc." }}</p>
                        </div>
                    </div>
                </div>

                <!-- Objet de l'évènement -->
                <div class="fiche-detail__objet-evenement">
                    <h2>Objet de l'évènement</h2>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Organisme nuisible</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.organisme_nuisible.libelle_court|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Code OEPP</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.organisme_nuisible.code_oepp|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Statut règlementaire</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.statut_reglementaire|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Contexte</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.contexte|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Date 1er signalement</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.date_premier_signalement|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Commentaire</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.commentaire|default:"nc." }}</p>
                    </div>
                    <div class="objet-evenement__field">
                        <p class="objet-evenement__field-label">Végétaux inféstés</p>
                        <p class="objet-evenement__field-value">{{ fichedetection.vegetaux_infestes|default:"nc." }}</p>
                    </div>

                </div>

                <!-- Lieux -->
                <div class="fiche-detail__lieux">
                    <h2>Lieux</h2>
                    {% for lieu_initial in lieux %}
                        {% include "sv/fichedetection_detail_lieu.html" with lieu=lieu_initial lieu_index=forloop.counter %}
                        <div class="lieu-initial fr-card fr-card--horizontal fr-card--sm fr-card--grey fr-card--no-border">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <div class="fr-grid-row">
                                        <div class="fr-col-11">
                                            <p class="fr-card__title">Nom du lieu : {{lieu_initial.nom}}</p>
                                        </div>
                                        <div class="fr-col-1">
                                            <button class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-eye-line"
                                                    data-fr-opened="false"
                                                    aria-controls="fr-modal-lieu-{{forloop.counter}}"
                                                    title="Consulter le détail du lieu {{lieu_initial.nom}}"></button>
                                        </div>
                                    </div>
                                    <p class="fr-card__desc">
                                        Commune : {{ lieu_initial.commune|default:"" }} <br/>
                                        {% if lieu_initial.departement %}
                                            Département : {{ lieu_initial.departement.nom }} ({{ lieu_initial.departement.numero }})
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Prélèvements et analyses -->
                <div class="fiche-detail__prelevements">
                    <h2>Prélèvements</h2>
                    {% for prelevement in prelevements %}
                        {% include "sv/fichedetection_detail_prelevement.html" with prelevement=prelevement prelevement_index=forloop.counter %}
                        <div class="prelevement fr-card fr-card--horizontal fr-card--sm fr-card--grey fr-card--no-border" style="margin-bottom: 1rem;">
                            <div class="fr-card__body">
                                <div class="fr-card__content">
                                    <div class="fr-grid-row">
                                        <div class="fr-col-11">
                                            <p class="fr-card__title">Structure : {{ prelevement.structure_preleveur }}</p>
                                        </div>
                                        <div class="fr-col-1">
                                            <button class="fr-btn fr-btn--sm fr-btn--tertiary fr-icon-eye-line"
                                                    data-fr-opened="false"
                                                    aria-controls="fr-modal-prelevement-{{forloop.counter}}"
                                                    title="Consulter le détail du prélèvement {{prelevement.numero_echantillon}}">
                                            </button>
                                        </div>
                                    </div>
                                    <p class="fr-card__desc">
                                        {% if prelevement.numero_phytopass %}
                                            Numéro Phytopass: {{ prelevement.numero_phytopass }}<br>
                                        {% endif %}
                                        {% if prelevement.espece_echantillon %}
                                            Espèce : {{ prelevement.espece_echantillon }}<br>
                                        {% endif %}
                                        {% if prelevement.laboratoire_agree %}
                                            Laboratoire agrée : {{ prelevement.laboratoire_agree }} |
                                        {% endif %}
                                        {% if prelevement.date_prelevement %}
                                            Date de prélèvement : {{ prelevement.date_prelevement|date:"d/m/Y" }}
                                        {% endif %}
                                    </p>
                                    <p class="fr-card__desc prelevement__type {% if prelevement.is_officiel %}fr-icon-check-line{% endif %}">
                                        Prélèvement {% if prelevement.is_officiel %}officiel{% else %}non officiel{% endif %}
                                        | {% if prelevement.is_result_positive %}POSITIF{% else %}NÉGATIF{% endif %}
                                    </p>
                                    <div class="fr-card__start">
                                        <p class="fr-card__detail fr-icon-road-map-line">{{ prelevement.lieu.nom }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Mesures de gestion -->
                <div class="fiche-detail__mesures-gestion">
                    <h2>Mesures de gestion</h2>
                    <div class="mesures-gestion__container">
                        <div class="mesures-gestion__mesures-conservatoires-immediates">
                            <p class="mesures-gestion__label">Mesures conservatoires immédiates</p>
                            <p>{{ fichedetection.mesures_conservatoires_immediates|default:"nc." }}</p>
                        </div>
                        <div class="mesures-gestion__mesures-consignation">
                            <p class="mesures-gestion__label">Mesures de consignation</p>
                            <p>{{ fichedetection.mesures_consignation|default:"nc." }}</p>
                        </div>
                        <div class="mesures-gestion__mesures_phytosanitaires">
                            <p class="mesures-gestion__label">Mesures phytosanitaires</p>
                            <p>{{ fichedetection.mesures_phytosanitaires|default:"nc." }}</p>
                        </div>
                        <div class="mesures-gestion__mesures-surveillance-specifique">
                            <p class="mesures-gestion__label">Mesures de surveillance spécifique</p>
                            <p>{{ fichedetection.mesures_surveillance_specifique|default:"nc." }}</p>
                        </div>
                    </div>
                </div>
                {% include "sv/_list_free_links.html" with fiche=fichedetection %}
            </div>
        </div>
        {% include "sv/_fichedetection_synthese.html" %}


        {% include "core/_fiche_bloc_commun.html" with fiche=fichedetection %}
    </main>

{% endblock %}
