{% extends 'sv/base.html' %}

{% load static %}
{% load etat_tags %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'sv/fichedetection_form.css' %}">


{% endblock %}

{% block scripts %}
{#    TODO refacto files ? #}
    <script type="text/javascript" src="{% static 'sv/fichedetection_form.js' %}"></script>
    <script type="text/javascript" src="{% static 'sv/fichedetection_common.js' %}"></script>
    <script type="text/javascript" src="{% static 'sv/fichedetection_lieux_form.js' %}"></script>
    <script type="text/javascript" src="{% static 'sv/fichedetection_prelevement_form.js' %}"></script>
{% endblock %}

{% block content %}
    <main>
        {{ form.instance.free_link_ids|json_script:"free-links-id" }}
        {{ lieux|json_script:"lieux-json" }}
        {{ prelevements|json_script:"prelevements" }}
        {{ structures_preleveurs|json_script:"structures-preleveurs" }}
        {{ status_to_organisme_nuisible|json_script:"status-to-organisme-nuisible-id" }}

        <form action="{% if is_creation %}{% url 'fiche-detection-creation' %}{% else %}{% url 'fiche-detection-modification' form.instance.id  %}{% endif %}" method="post">
            {% csrf_token %}

            <div id="fiche-detection-form-header">
                <div>
                    <h1>
                        {% if is_creation %}
                            Création d'une fiche détection
                        {% else %}
                            Modification de la fiche détection n°{{ fichedetection.numero }}
                        {% endif %}
                    </h1>
                    {% if not is_creation %}
                        <p class="fr-badge fr-badge--{{fichedetection.etat.libelle|etat_fiche_color}} fr-badge--no-icon">{{ fichedetection.etat }}</p>
                        <p class="fr-badge fr-badge--no-icon">{{ fichedetection.visibilite }}</p>
                    {% endif %}
                </div>

                <p>
                    {% if is_creation %}
                        <input type="submit" name="action" value="Enregistrer le brouillon" data-action="brouillon" class="fr-btn fr-btn--secondary fr-mr-2w">
                        <input type="submit" name="action" value="Publier" data-action="publier" class="fr-btn">
                    {% else %}
                        <a href="{% url 'fiche-detection-vue-detaillee' fichedetection.pk %}" class="fr-link fr-mr-3w">Annuler</a>
                        <input type="submit" name="action" value="Enregistrer les modifications" data-action="enregistrer-modifications" class="fr-btn" data-testid="fiche-detection-save-btn">
                    {% endif %}
                </p>
            </div>

            <div id="fiche-detection-form">
                <div id="informations">
                    <h2>Informations</h2>
                    <div id="informations-content">
                        <div id="date-creation">
                            <label class="fr-label" for="date-creation-input">Date de création</label>
                            <input type="text" id="date-creation-input" class="fr-input" value="{% now 'd/m/Y' %}" disabled>
                        </div>
                        <div id="statut-evenement">
                            <label class="fr-label" for="id_statut_evenement">Statut évènement</label>
                            {{ form.statut_evenement }}
                        </div>
                        {% if form.numero_europhyt %}
                            <div id="numero-europhyt" {% if not user.agent.structure.is_ac %}class="fr-hidden"{% endif %}>
                                <label class="fr-label" for="id_numero_europhyt">Numéro Europhyt</label>
                                {{ form.numero_europhyt }}
                            </div>
                        {% endif %}
                        {% if form.numero_rasff %}
                            <div id="numero-rasff" {% if not user.agent.structure.is_ac %}class="fr-hidden"{% endif %}>
                                <label class="fr-label" for="id_numero_rasff">Numéro Rasff</label>
                                {{ form.numero_rasff }}
                            </div>
                        {% endif %}
                    </div>
                </div>

                <div id="objet-evenement">
                    <h2>Objet de l'évènement</h2>
                    <p id="organisme-nuisible">
                        <label class="fr-label" for="id_organisme_nuisible">Organisme nuisible</label>
                        {{ form.organisme_nuisible }}
                    </p>
                    <p id="statut-reglementaire">
                        <label class="fr-label" for="id_statut_reglementaire">Statut réglementaire</label>
                        {{ form.statut_reglementaire }}
                    </p>
                    <p id="contexte">
                        <label class="fr-label" for="id_contexte">Contexte</label>
                        {{ form.contexte }}
                    </p>
                    <p id="date-1er-signalement">
                        <label class="fr-label" for="id_date_premier_signalement">Date 1er signalement</label>
                        {{ form.date_premier_signalement }}
                    </p>
                    <p>
                        <label class="fr-label" for="id_vegetaux_infestes">Végétaux infestés</label>
                        {{ form.vegetaux_infestes }}
                    </p>
                    <p>
                        <label class="fr-label" for="id_commentaire">Commentaire</label>
                        {{ form.commentaire }}
                    </p>
                </div>

                <div id="lieux">
                    <div id="lieux-header">
                        <h2>Lieux</h2>
                        <button type="button" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line"
                                id="add-lieu-bouton">Ajouter</button>
                    </div>

                    {{ lieu_formset.management_form }}

                    {% for form in lieu_formset %}
                        {% if form.instance.pk %}
                            {{ form.id }}
                        {% endif %}
                    {% endfor %}

                    {% for form in lieu_formset %}
                        {% if not form.instance.pk %}
                            {% include 'sv/_fichedetection_form__lieux_modal.html'%}
                        {% endif %}
                    {% endfor %}

                    <div id="lieux-list">
                    </div>
                </div>

                <div id="prelevements">
                    <div id="prelevements-header">
                        <h2>Prélèvements</h2>



                        {% for form in prelevement_forms %}
                            {% include 'sv/_fichedetection_form__prelevements_modal.html' %}
                        {% endfor %}

                        <button type="button" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-add-line" id="btn-add-prelevment">Ajouter</button>

                    </div>

                    <div id="prelevements-list">
                    </div>
                    <p id="no-lieux-text">Aucun prélèvement. Pour ajouter une prélèvement vous devez avoir renseigné au moins un lieu.</p>

                </div>

                <div id="mesures-gestion">
                    <h2>Mesures de gestion</h2>
                    <div id="mesures-gestion-content">
                        <p id="mesures-conservatoires-immediates">
                            <label class="fr-label" for="mesures-conservatoires-immediates-input">Mesures conservatoires immédiates</label>
                            {{ form.mesures_conservatoires_immediates }}
                        </p>
                        <p id="mesures-consignation">
                            <label class="fr-label" for="mesures-consignation-input">Mesures de consignation</label>
                            {{ form.mesures_consignation }}
                        </p>
                        <p id="mesures-phytosanitaires">
                            <label class="fr-label" for="mesures-phytosanitaires-input">Mesures phytosanitaires</label>
                            {{ form.mesures_phytosanitaires }}
                        </p>
                        <p id="mesures-surveillance-specifique">
                            <label class="fr-label" for="mesures-surveillance-specifique-input">Mesures de surveillance spécifique</label>
                            {{ form.mesures_surveillance_specifique }}
                        </p>
                    </div>
                </div>

                <div id="liens-libre" class="white-container fr-mt-4w">
                    <h2>Liens libres</h2>
                    <div>
                        {{ form.free_link }}
                    </div>
                </div>
            </div>
        </form>

        {% include "sv/_fichedetection_form__lieu_card.html" %}
        {% include "sv/_fichedetection_form__prelevement_card.html" %}
        {% include "sv/_fichedetection_form__prelevement_delete_modal.html" %}
        {% include "sv/_fichedetection_form__lieu_delete_modal.html" %}
        {% include "sv/_fichedetection_form__lieu_cant_delete_modal.html" %}

    </main>
{% endblock %}
