<dialog aria-labelledby="fr-modal-title-modal-{{prelevement_index}}" role="dialog" id="fr-modal-prelevement-{{prelevement_index}}" class="fr-modal">
    <div class="fr-container fr-container--fluid fr-container-md">
        <div class="fr-grid-row fr-grid-row--center">
            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">
                <div class="fr-modal__body">
                    <div class="fr-modal__header">
                        <button class="fr-btn--close fr-btn" title="Fermer la fenêtre modale" aria-controls="fr-modal-prelevement-{{prelevement_index}}">Fermer</button>
                    </div>
                    <div class="fr-modal__content">
                        <div class="fr-grid-row fr-grid-row--center fr-mb-4w">
                            <h1 id="fr-modal-title-modal-{{prelevement_index}}">Échantillon {{prelevement.numero_echantillon}}</h1>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Type</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-type-analyse">{{prelevement.get_type_analyse_display}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Prélèvement officiel</div>
                            <div class="fr-col-6 {% if prelevement.is_officiel %}fr-icon-check-line{% endif %}" data-testid="prelevement-{{prelevement_index}}-is-officiel">
                                {{ prelevement.is_officiel|yesno:"oui,non" }}
                            </div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">N° RI</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-numero-rapport-inspection">{{prelevement.numero_rapport_inspection|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Laboratoire</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-laboratoire">{{prelevement.laboratoire|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">N° d'échantillon</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-numero-echantillon">{{prelevement.numero_echantillon|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Lieu</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-lieu">{{prelevement.lieu}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Structure préleveuse</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-structure-preleveuse">{{prelevement.structure_preleveuse|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Date de prélèvement</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-date-prelevement">{{prelevement.date_prelevement|date:"d/m/Y"|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Nature de l'objet</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-matrice-prelevee">{{prelevement.matrice_prelevee|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Espèce de l'échantillon</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-espece-echantillon">{{prelevement.espece_echantillon|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Code OEPP</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-code-oepp">{{prelevement.espece_echantillon.code_oepp|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Date rapport d'analyse</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-date-rapport-analyse">{{prelevement.date_rapport_analyse|date:"d/m/Y"|default:"nc."}}</div>
                        </div>
                        <div class="fr-grid-row fr-mb-2w">
                            <div class="fr-col-offset-1"></div>
                            <div class="fr-col-5 descripteur-label">Conclusion</div>
                            <div class="fr-col-6" data-testid="prelevement-{{prelevement_index}}-resultat">{{prelevement.get_resultat_display|default:"nc."}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>
