{% load static %}
{% load remove_trailing_zero %}

<div class="fiche-header">
    <div>
        {% include "core/_latest_revision.html" with latest_version=fiche.latest_version date_derniere_mise_a_jour=fiche.date_derniere_mise_a_jour %}
    </div>
    <div class="fiche-action">
        {% if can_delete_fiche_zone_delimitee %}
            <button class="fr-btn fr-btn--delete fr-mr-2w" data-fr-opened="false" aria-controls="fr-modal-delete-zone-{{ fiche.pk }}">
                Supprimer la zone
            </button>
            {% include "sv/_delete_fichezonedelimitee_modal.html" %}
        {% endif %}
        {% if can_update_fiche_zone_delimitee %}
            <button class="fr-btn fr-btn--secondary fr-mr-2w">
                <a href="{{ fiche.get_update_url }}"><span class="fr-icon-edit-fill">Modifier</span></a>
            </button>
        {% endif %}
    </div>
</div>

<div id="commentaire-detections-hors-zone" class="fr-grid-row fr-grid-row--gutters">

    <div class="fr-col-12 fr-col-lg">
        <div class="white-container">
            <h2 class="fr-h6">Commentaire</h2>
            <div>{{ fiche.commentaire|default:"nc." }}</div>
        </div>
    </div>

    <div class="fr-col-12 fr-col-lg">
        <div class="white-container">
            <p class="fr-h6">Détections hors zone infestée</p>
            {% if detections_hors_zone_infestee %}
                <ul class="fr-tags-group">
                    {% for fichedetection in detections_hors_zone_infestee %}
                        <li>
                            <a href="{{ fichedetection.get_absolute_url }}" class="fr-tag">{{ fichedetection.numero }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>nc.</p>
            {% endif %}
        </div>
    </div>

</div>

{% include "sv/_fichezonedelimitee_detail_zones_infestees.html" %}
{% include "sv/_fichezonedelimitee_detail_zone_tampon.html" %}
{% include "sv/_fichezonedelimitee_cartographies.html" %}
