<div id="tabpanel-{{form_index}}-panel"
     class="form-tabs-content fr-tabs__panel {% if form_index == 0 %}fr-tabs__panel--selected{% endif %}"
     role="tabpanel"
     aria-labelledby="tabpanel-{{form_index}}"
     tabindex="0">
    {% if zone_form.errors %}
        <div class="form-tabs-content__errors fr-alert fr-alert--error fr-alert--sm">
            <p>{{zone_form.errors.as_text}}</p>
            <button class="fr-btn--close fr-btn" title="Masquer le message" onclick="const alert = this.parentNode; alert.parentNode.removeChild(alert)">
                Masquer le message
            </button>
        </div>
    {% endif %}
    <div class="form-tabs-content__surface-zone-infestee">
        {{ zone_form.surface_zone_infestee.label_tag }}
        <div class="form-tabs-content__surface-zone-infestee-input-radiobtn">
            {{ zone_form.surface_zone_infestee }}
            {% include 'sv/fichezone_form_radio_button_group.html' with field=zone_form.unite_surface_zone_infestee form_index=form_index %}
        </div>
    </div>
    <div class="form-tabs-content__rayon-zone-infestee">
        {{ zone_form.rayon_zone_infestee.label_tag }}
        <div class="form-tabs-content__rayon-zone-infestee-input-radiobtn">
            {{ zone_form.rayon_zone_infestee }}
            {% include 'sv/fichezone_form_radio_button_group.html' with field=zone_form.unite_rayon_zone_infestee form_index=form_index %}
        </div>
    </div>
    <div class="form-tabs-content__rayon_zone_tamponee">
        {{ zone_form.rayon_zone_tamponee.label_tag }}
        <div class="form-tabs-content__rayon-zone-tamponee-input-radiobtn">
            {{ zone_form.rayon_zone_tamponee }}
            {% include 'sv/fichezone_form_radio_button_group.html' with field=zone_form.unite_rayon_zone_tamponee form_index=form_index %}
        </div>
    </div>
    <div class="form-tabs-content__caracteristiques_principales_zone_delimitee">
        {{ zone_form.caracteristiques_principales_zone_delimitee.label_tag }}
        {{ zone_form.caracteristiques_principales_zone_delimitee }}
    </div>
    <p class="form-tabs-content__commentaire">
        {{ zone_form.commentaire.label_tag }}
        {{ zone_form.commentaire }}
    </p>
    <p class="form-tabs-content__vegetaux-infestes">
        {{ zone_form.vegetaux_infestes.label_tag }}
        {{ zone_form.vegetaux_infestes }}
    </p>
</div>
