{#<!-- Liste des lieux (pour tests e2e Playwright) -->#}
{#<input type="hidden" disabled data-testid="lieux" :value="JSON.stringify(lieux)">#}

<!-- Liste des lieux -->
<template x-for="(lieu, index) in lieux" :key="lieu.id">
    <div class="lieu-initial">
        <div class="lieu-header">
            <p x-text="lieu.nomLieu" class="lieu-nom"></p>
            <ul class="fr-btns-group fr-btns-group--sm fr-btns-group--inline-reverse fr-btns-group--inline-lg">
                <li>
                    <button
                        type="button"
                        class="lieu-edit-btn fr-btn fr-btn--secondary fr-icon-edit-fill"
                        title="Modifier le lieu"
                        @click="fillLieuEditForm(lieu.id)"
                        data-fr-opened="false"
                        aria-controls="modal-add-edit-lieu"
                        :aria-describedby="'tooltip-edit-lieu-' + lieu.id">
                    </button>
                    <span
                        class="fr-tooltip fr-placement"
                        :id="'tooltip-edit-lieu-' + lieu.id"
                        role="tooltip"
                        aria-hidden="true">
                        Modifier le lieu
                    </span>
                </li>
                <li>
                    <button
                        type="button"
                        class="lieu-delete-btn fr-btn fr-btn--secondary fr-icon-delete-fill"
                        title="Supprimer le lieu"
                        @click="canDeleteLieu(lieu.id)"
                        :aria-describedby="'tooltip-delete-lieu-' + lieu.id">
                    </button>
                    <span
                        class="fr-tooltip fr-placement"
                        :id="'tooltip-delete-lieu-' + lieu.id"
                        role="tooltip"
                        aria-hidden="true">
                        Supprimer le lieu
                    </span>
                </li>
            </ul>
        </div>
        <p class="lieu-commune" x-text="lieu.commune"></p>
    </div>
</template>
{##}
{#<!-- Modal confirmation suppression lieu -->#}
{#<!-- bouton relié à la modal en display non -> https://github.com/GouvernementFR/dsfr/issues/728 -->#}
{#<button type="button" style="display: none;" data-fr-opened="false" aria-controls="fr-modal-cant-delete-lieu"></button>#}
{#<dialog aria-labelledby="fr-modal-cant-delete-lieu-title" id="fr-modal-cant-delete-lieu" class="fr-modal" role="dialog">#}
{#    <div class="fr-container fr-container--fluid fr-container-md">#}
{#        <div class="fr-grid-row fr-grid-row--center">#}
{#            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">#}
{#                <div class="fr-modal__body">#}
{#                    <div class="fr-modal__header">#}
{#                        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-cant-delete-lieu">Fermer</button>#}
{#                    </div>#}
{#                    <div class="fr-modal__content">#}
{#                        <h1 id="fr-modal-cant-delete-lieu-title" class="fr-modal__title">Supprimer</h1>#}
{#                        <p>Souhaitez-vous réellement supprimer le lieu ?</p>#}
{#                        <div class="fr-btns-group fr-btns-group--left fr-btns-group--inline-lg">#}
{#                            <button type="button" class="fr-btn" @click="deleteLieu(lieuIdToDelete)">Supprimer</button>#}
{#                            <button type="button" class="fr-btn fr-btn--secondary" aria-controls="fr-modal-cant-delete-lieu">Annuler</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</dialog>#}
{##}
{#<!-- Modal suppression lieu impossible -->#}
{#<!-- bouton relié à la modal en display non -> https://github.com/GouvernementFR/dsfr/issues/728 -->#}
{#<button type="button" style="display: none;" data-fr-opened="false" aria-controls="fr-modal-suppression-lieu"></button>#}
{#<dialog aria-labelledby="fr-modal-suppression-loclieulisation-title" id="fr-modal-suppression-lieu" class="fr-modal" role="dialog">#}
{#    <div class="fr-container fr-container--fluid fr-container-md">#}
{#        <div class="fr-grid-row fr-grid-row--center">#}
{#            <div class="fr-col-12 fr-col-md-8 fr-col-lg-6">#}
{#                <div class="fr-modal__body">#}
{#                    <div class="fr-modal__header">#}
{#                        <button type="button" class="fr-btn--close fr-btn" aria-controls="fr-modal-suppression-lieu">Fermer</button>#}
{#                    </div>#}
{#                    <div class="fr-modal__content">#}
{#                        <h1 id="fr-modal-suppression-lieu-title" class="fr-modal__title">#}
{#                            Suppression du lieu impossible#}
{#                        </h1>#}
{#                        <p>Ce lieu est lié à un ou plusieurs prélèvements. <br>#}
{#                            Supprimez d'abord le(s) prélèvement(s) lié(s).#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</dialog>#}
