.treeselect-input {
    --idle: transparent;
    --hover: var(--background-contrast-grey-hover);
    --active: var(--background-contrast-grey-active);
    --data-uri-svg: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23161616' d='m12 13.1 5-4.9 1.4 1.4-6.4 6.3-6.4-6.4L7 8.1l5 5z'/%3E%3C/svg%3E");
    --treeselect-text-color: var(--text-default-grey);
    appearance: none;
    background-color: var(--background-contrast-grey) !important;
    background-image: var(--data-uri-svg);
    background-position: calc(100% - 1rem) 50%;
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
    border: 0 !important;
    border-radius: .25rem .25rem 0 0 !important;
    box-shadow: inset 0 -2px 0 0 var(--border-plain-grey);
    color: var(--treeselect-text-color) !important;
    display: block;
    font-size: 1rem !important;
    line-height: 1.5rem;
    padding: .5rem 2.5rem .5rem 1rem !important;
    margin-top: .5rem !important;
    width: 100%;
}

.treeselect-input input::placeholder {
    color: var(--treeselect-text-color) !important;
    font-size: 1rem !important;
}

.treeselect.treeselect--disabled .treeselect-input {
    --treeselect-text-color: var(--text-disabled-grey);
    background-image: var(--data-uri-svg);
    box-shadow: inset 0 -2px 0 0 var(--border-disabled-grey);
    cursor: not-allowed !important;
}

.treeselect-input__operators {
    display: none !important;
}

.treeselect-list {
    border: 1px solid var(--border-default-grey) !important;
    border-radius: .25rem !important;
    margin-top: 0.125rem;
}

.treeselect-list__group-container {
    background-color: var(--background-contrast-grey);
}

.treeselect-list__item-icon {
    fill : var(--text-action-high-blue-france);
}

.treeselect-list__item {
    height: 2.25rem !important;
}

.treeselect-list__item-label{
    font-size: 1rem !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

.treeselect-list__item[level="0"] {
    color: var(--text-action-high-blue-france);
    padding-left: 10px !important;
    background-color: var(--background-contrast-grey) !important;
}

.treeselect-list__item[level="1"]{
    border-bottom: 1px solid #BBBBBB;
    padding-left: 20px !important;
}


.treeselect-list__item[level="2"] {
    background-color: #DDDDDD;
    padding-left: 40px !important;
}

.treeselect-list__group-container .treeselect-list__item--focused {
    background-color : #dfdfdf !important
}

.treeselect-list__item--checked .treeselect-list__item-checkbox-container {
    background-color: var(--background-action-high-blue-france) !important;
}

.treeselect-list__item-icon {
    width: 100% !important;
    order: 2
}
.treeselect-list__item-icon svg{
    width: 20px !important;
    order: 2;
    margin-left: auto;
    stroke: var(--background-action-high-blue-france) !important;
}

.treeselect-list__item-checkbox-container {
    margin-right: 10px;
}
