.main-container label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.main-container input, .main-container textarea, .main-container select {
    margin-bottom: 1rem;
}

.evenement-produit-form-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rasff, .source {
    flex: 2;
    padding-top: 1.25rem;
}
.tall-column {
    height: 100%;
}

.radio-inline-container {
    display: flex;
}

.rappel-conso-container {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
}
.rappel-conso-container input {
    margin-bottom: 0;
}

#rappel-1{
    width: 8ch;
}
#rappel-2{
    width: 6ch;
}
#rappel-3 {
    width: 8ch;
}
#rappel-container .fr-tag{
    pointer-events: none;
}
#rappel-container .fr-tag:after{
    pointer-events: auto;
    cursor: pointer;
}
.modal-etablissement input, .modal-etablissement select{
    margin-top: 0.5rem;
}

#liens-libre input {
    margin-bottom: 0rem;
}

.fr-search-bar .choices{
    flex: 1.25;
}
.etablissement-fields--lookup {
    text-align: center;
}

.treeselect-list__group-container {
    background-color: var(--background-contrast-grey);

}

.treeselect-list__item-icon {
    fill : var(--text-action-high-blue-france);
}

.treeselect-list__item {
    flex-direction: row-reverse;
    height: 40px !important;
}

.treeselect-list__item-label{
    font-size: 16px !important;
}

.treeselect-list__item[level="0"] {
    color: var(--text-action-high-blue-france);
}

.treeselect-list__item[level="1"]{
    border-bottom: 1px solid #BBBBBB;
}


.treeselect-list__item[level="2"] {
    background-color: #DDDDDD;
    padding-left: 40px !important;
}

.treeselect-input {
    background-color: var(--background-contrast-grey) !important;
}

.treeselect-list__group-container .treeselect-list__item--focused {
    background-color : #FFF !important
}
