.main-container label {
    margin-bottom: 0.5rem;
    display: inline-block;
}

.main-container input, .main-container textarea, .main-container select {
    margin-bottom: 1rem;
}

.evenement-produit-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.evenement-produit-form-header .action-buttons {
    margin: var(--title-spacing);
    display: flex;
}

.evenement-produit-form-header .action-buttons .fr-link {
    align-self: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.rasff, .source {
    flex: 2;
    padding-top: 1.25rem;
}
.tall-column {
    height: 100%;
}

.radio-inline-container {
    display: flex;
}

.rappel-conso-container {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
}
.rappel-conso-container input {
    margin-bottom: 0;
}

#rappel-1{
    width: 8ch;
}
#rappel-2{
    width: 6ch;
}
#rappel-3 {
    width: 8ch;
}
#rappel-container .fr-tag{
    pointer-events: none;
}
#rappel-container .fr-tag:after{
    pointer-events: auto;
    cursor: pointer;
}
.modal-etablissement input, .modal-etablissement select{
    margin-top: 0.5rem;
}

#liens-libre input {
    margin-bottom: 0rem;
}

.fr-search-bar .choices{
    flex: 1.25;
}

.treeselect-list__item-checkbox-container {
    border-radius: 40px !important;
    margin-right: 10px;
}
