{% load or_empty_value_tag %}
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-12">
    <div class="white-container">
      <h2 class="fr-h6">Établissements</h2>
      <div id="etablissement-card-container">
        {% for etablissement in object.etablissements.all %}

          {% include "ssa/_modal_etablissement_details.html" %}
          <div class="etablissement-card">
            <div class="etablissement-card--header">
              <p class="raison-sociale">{{ etablissement.raison_sociale }}</p>
              <button class="fr-btn fr-btn--sm fr-btn--tertiary"
                      data-fr-opened="false"
                      aria-controls="fr-modal-etablissement-{{ etablissement.pk }}"
                      title="Consulter le détail de l'établissement {{etablissement.raison_sociale}}">
                Voir le détail
              </button>
            </div>
            {% if etablissement.type_exploitant %}<p class="type-exploitant fr-tag fr-mb-2v">{{ etablissement.type_exploitant }}</p>{% endif %}
            {% if etablissement.pays %}<p class="pays fr-tag fr-mb-2v">{{ etablissement.get_pays_display }}</p>{% endif %}
            <div class="structure">Département : {{ etablissement.departement|or_empty_value_tag }}</div>
            <div class="numero-agrement">N° d'agrément&nbsp;: {{ etablissement.numero_agrement|or_empty_value_tag }}</div>
            {% if etablissement.position_dossier %}<p class="position-dossier fr-badge {{ etablissement.position_dossier_css_class }} fr-my-2v">{{ etablissement.get_position_dossier_display }}</p>{% endif %}
          </div>
        {% empty %}
          <p>Aucun établissement enregistré</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
