{% load or_empty_value_tag %}
<div class="fr-grid-row fr-grid-row--gutters">
    <div class="fr-col-12">
        <div class="white-container">
            <h2 class="fr-h6">Établissements</h2>
            <div id="etablissement-card-container">
                {% for etablissement in object.etablissements.all %}

                    {% include "ssa/_modal_etablissement_details.html" %}

                    <div class="fr-card etablissement-card">
                        <div class="fr-card__body">
                            <div class="fr-card__content">
                                {% if etablissement.pays %}<p class="pays fr-tag fr-mb-4v">{{ etablissement.get_pays_display }}</p>{% endif %}
                                <h3 class="fr-card__title">
                                    <a href="#{{ etablissement.pk }}" id="{{ etablissement.pk }}" data-fr-opened="false"
                                       aria-controls="fr-modal-etablissement-{{ etablissement.pk }}" >
                                        {% if etablissement.enseigne_usuelle %}
                                            {{ etablissement.enseigne_usuelle }}
                                        {% else %}
                                            {{ etablissement.raison_sociale }}
                                        {% endif %}</a>
                                </h3>
                                {% if etablissement.enseigne_usuelle %}<p class="fr-text--sm card-subtitle">{{ etablissement.raison_sociale }}</p>{% endif %}
                                <div class="fr-card__desc">
                                    {% if etablissement.formated_geo_data %}
                                        <p class="fr-card__detail fr-icon-map-pin-2-line fr-my-2v">{{ etablissement.formated_geo_data }}</p>
                                    {% endif %}
                                    <p class="fr-mb-2v">Type exploitant : {{ etablissement.type_exploitant|or_empty_value_tag }}</p>
                                    <p class="fr-mb-4v">N° d'agrément : {{ etablissement.numero_agrement|or_empty_value_tag }}</p>
                                    {% if etablissement.position_dossier %}
                                        <p class="position-dossier fr-badge {{ etablissement.position_dossier_css_class }} fr-my-2v">
                                            {{ etablissement.get_position_dossier_display }}</p>
                                    {% endif %}
                                    <div class="fr-btns-group--right">
                                        <button data-fr-opened="false"
                                                aria-controls="fr-modal-etablissement-{{ etablissement.pk }}"
                                                class="fr-btn fr-btn--sm fr-btn--tertiary fr-btn--icon-left fr-icon-search-line fr-mt-4v" data-fr-js-modal-button="true">
                                            Voir le détail
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Aucun établissement enregistré</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
