<div data-controller="free-link-via-api" class="free-links">
    <span class="fr-hint-text fr-mb-1w">Saisissez au moins 5 caractères du numéro d'événement pour afficher des suggestions</span>
    <div>
        <select class="fr-hidden" id="id_free_link"data-free-link-via-api-target="input"  name="free_link" multiple></select>
        <select data-free-link-via-api-target="select" multiple="true">
            {% for existing_link in form.instance.free_links_values_and_labels %}
                <option value="{{ existing_link.value }}" selected>{{ existing_link.label }}</option>
            {% endfor %}
        </select>
    </div>
</div>
