{% extends "ssa/base.html" %}
{% load static %}
{% load etat_tags dsfr_tags %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'ssa/evenement_produit_list.css' %}">
    <link rel="stylesheet" href="{% static 'ssa/_custom_tree_select.css' %}">
    <link rel="stylesheet" href="{% static 'core/has_sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'core/list.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/treeselectjs@0.13.1/dist/treeselectjs.css" />
{% endblock %}
{% block scripts %}
    <script type="module" src="{% static 'ssa/treeselectjs.umd.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'core/sidebar.js' %}"></script>
    <script type="module" src="{% static 'ssa/evenement_produit_list.js' %}"></script>
{% endblock %}
{% block highlight_menu_evenements %}menu__item--active{% endblock %}
{% block content %}
    <form id="search-form" method="get" >
        {% include "ssa/_evenement_produit_more_filters.html" %}
        <div class="fr-p-4v evenements_liste__header">
            <div class="evenements_liste__header--title">
                <h2 class="fr-h3">Rechercher un événement</h2>
                <button  class="open-sidebar fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-filter-line">
                    Filtres avancés
                    <p id="more-filters-btn-counter" class="fr-tag fr-tag--sm fr-hidden fr-ml-2v"></p>
                </button>
            </div>
            <div class="filter-grid">

                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.numero %}
                </div>
                <div class="filter-grid-2 fr-flex--align-end with_free_links">
                    {% dsfr_form_field filter.form.with_free_links %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.numero_rasff %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.structure_contact %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.agent_contact %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.type_evenement %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.source %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.start_date %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.end_date %}
                </div>
                <div class="filter-grid-2">
                    {% dsfr_form_field filter.form.full_text_search %}
                </div>
                <div class="fr-hidden">
                    {% dsfr_form_field filter.form.categorie_produit %}
                    {% dsfr_form_field filter.form.categorie_danger %}
                </div>
                <div class="filter-grid-4">
                    <label for="categorie-produit">Catégorie de produit</label>
                    <div id="categorie-produit-data" class="fr-hidden">{{ categorie_produit_data|safe }}</div>
                    <div id="categorie-produit" data-selected="{{ request.GET.categorie_produit }}"></div>
                </div>
                <div class="filter-grid-4">
                    <label for="categorie-danger">Catégorie de danger</label>
                    <div id="categorie-danger-data" class="fr-hidden">{{ categorie_danger_data|safe }}</div>
                    <div id="categorie-danger" data-selected="{{ request.GET.categorie_danger }}"></div>
                </div>
                <div class="filter-grid-2 fr-flex fr-flex--row fr-flex--align-end">
                    <button type="reset" class="fr-btn fr-btn--tertiary-no-outline fr-mr-2w fr-ml-auto" id="reset-btn">Effacer</button>
                    <button type="submit" class="fr-btn">Rechercher</button>
                </div>
            </div>
        </div>
    </form>
    <main class="main-container">

        <div class="evenements_liste__table--header">
            <div>{{ object_list_count }} sur un total de {{ total_object_count }}</div>
            <form action="{% url 'ssa:export-evenement-produit' %}?{{ request.GET.urlencode }}" method="post">
                {% csrf_token %}
                <button type="submit" class="fr-btn fr-btn--secondary fr-btn--icon-left fr-icon-file-download-line">Extraire</button>
            </form>
        </div>
        {% if object_list_count %}
            <div class="fr-table fr-table--no-caption fr-table--layout-fixed">
                <table>
                    <thead>
                        <tr>
                            <th class="fr-col-1" scope="col">{% include 'core/_evenement_sort_link.html' with field='numero_evenement' display_name='N°' %}</th>
                            <th class="fr-col-1" scope="col">{% include 'core/_evenement_sort_link.html' with field='creation' display_name='Création' %}</th>
                            <th class="fr-col-3" scope="col">Description de l'événement</th>
                            <th class="fr-col-2" scope="col">Catégorie de produit</th>
                            <th class="fr-col-2" scope="col">Catégorie de danger</th>
                            <th class="fr-col-2" scope="col">Type d'événement</th>
                            <th class="fr-col-1" scope="col">{% include 'core/_evenement_sort_link.html' with field='createur' display_name='Créateur' %}</th>
                            <th class="fr-col-1" scope="col">{% include 'core/_evenement_sort_link.html' with field='etat' display_name='État' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for evenement in object_list %}
                            <tr class="evenements__list-row">
                                <td><div class="ellipsis"><a href="{{ evenement.get_absolute_url }}" class="fr-link">{{ evenement.numero }}</a></div></td>
                                <td><div class="ellipsis">{{ evenement.date_creation|date:"d/m/Y" }}</div></td>
                                <td>
                                    <div class="ellipsis">{{ evenement.description }}</div>
                                </td>
                                <td><div class="ellipsis">{{ evenement.get_categorie_produit_display }}</div></td>
                                <td><div class="ellipsis">{{ evenement.get_categorie_danger_display }}</div></td>
                                <td><div class="ellipsis">{{ evenement.get_type_evenement_display }}</div></td>
                                <td><div class="ellipsis">{{ evenement.createur }}</div></td>
                                <td><div class="ellipsis"><span class="fr-badge fr-badge--{{evenement.etat|etat_color}} fr-badge--no-icon">{{ evenement.readable_etat }}</span></div></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        {% include "core/_pagination.html" %}
    </main>
{% endblock content %}
