{% extends "ssa/base.html" %}
{% load static %}
{% load etat_tags %}
{% load or_empty_value_tag %}
{% block extrahead %}
  <link rel="stylesheet" href="{% static 'core/_etablissement_card.css' %}">
  <link rel="stylesheet" href="{% static 'ssa/_etablissement_card.css' %}">
  <link rel="stylesheet" href="{% static 'ssa/evenement_produit_detail.css' %}">
  <link rel="stylesheet" href="{% static 'core/has_sidebar.css' %}">
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'ssa/_rappel_conso_link.js' %}"></script>
  <script type="module" src="{% static 'ssa/evenement_produit_detail.js' %}"></script>
  <script type="module" src="{% static 'core/document_form.js' %}"></script>
  <script type="module" src="{% static 'core/contact_add_form.js' %}"></script>
{% endblock %}

{% block aside %}
  {% include "core/_document_warning_modal.html" %}
{% endblock aside %}


{% block content %}
  <main class="main-container">
    <div>
      <div class="details-top-row">
        <h1 class="fr-mb-0-5v">Événement {{ object.numero }}</h1>

        {% if not object.is_draft %}
          {% include "core/_details_toogle.html" with pk=object.pk %}
        {% endif %}

        {% if can_be_deleted %}
          {% url 'ssa:evenements-liste' as next_url %}
          {% include "core/_delete_modal.html" with object=object content_type=content_type next_url=next_url%}
        {% endif %}
        {% if is_evenement_can_be_cloture %}
          {% include "core/_cloturer_modal.html" with evenement=object %}
        {% endif %}

        <div class="details-top-row--actions">
          <ul class="fr-btns-group fr-btns-group--inline-md">
            {% if can_publish %}
              <li>
                <form action="{% url 'publish' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" value="{{ object.get_absolute_url }}" name="next">
                  <input type="hidden" value="{{ content_type.id }}" name="content_type_id">
                  <input type="hidden" value="{{ object.pk }}" name="content_id">
                  <input type="submit" class="fr-btn fr-btn--secondary" value="Publier"/>
                </form>
              </li>
            {% endif %}
            <li>
              {% include "ssa/_evenement_produit_action_navigation.html" %}
            </li>
          </ul>
        </div>

      </div>
      <p class="fr-badge fr-badge--{{etat.etat|etat_color}} fr-badge--no-icon">{{ etat.readable_etat }}</p>
    </div>

    {% include "core/_latest_revision.html" with latest_version=object.latest_version content_type_pk=content_type.pk object_pk=object.pk %}

    <div id="detail-content">
      {% include "ssa/_evenement_produit_informations.html" %}
      {% include "ssa/_evenement_produit_informations_synthese.html" %}

      <div class="fr-container--fluid fr-mt-2w detail-content">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-6 ">
            <div class="white-container">
              <h2 class="fr-h6">Produit</h2>
              <div class="fr-container--fluid">
                <div class="fr-grid-row fr-grid-row--gutters">
                  {% for key, value in object.readable_product_fields.items %}
                    <div class="fr-col-4 bold">{{ key }}</div>
                    <div class="fr-col-8">{{ value|or_empty_value_tag }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="fr-col-6">
            <div class="white-container">
              <h2 class="fr-h6">Risque</h2>
              <div class="fr-container--fluid">
                <div class="fr-grid-row fr-grid-row--gutters">
                  {% for key, value in object.readable_risk_fields.items %}
                    <div class="fr-col-4 bold">{{ key }}</div>
                    <div class="fr-col-8">{{ value|or_empty_value_tag }}</div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <div class="white-container">
              <h2 class="fr-h6">Actions engagées</h2>
              {{ object.get_actions_engagees_display|or_empty_value_tag }}
            </div>
          </div>
        </div>
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12">
            <div class="white-container">
              <h2 class="fr-h6">Rappel conso</h2>
              {% for numero in object.numeros_rappel_conso %}
                <span class="rappel-conso-link fr-mr-1w">{{ numero }}</span>
              {% empty %}
                <span class="empty-value">Vide</span>
              {% endfor %}
            </div>
          </div>
        </div>
        {% include "ssa/_etablissements.html" %}
        {% include "core/_list_free_links.html" with classes="fr-mt-4v" title="Événements liés" object=object %}
      </div>
      {% if not object.is_draft %}
        {% include "core/_fiche_bloc_commun.html" with object=object %}
      {% endif %}
    </div>
  </main>
{% endblock content %}
