{% extends "ssa/base.html" %}
{% load static %}

{% block content %}
    <form class="fr-container--fluid fr-background-alt--grey" method="post">
        {% csrf_token %}
        <main class="main-container">
            <div class="fr-grid-row">
                {% block title %}<h1 class="fr-col-6">Création d'un évènement</h1>{% endblock %}
                <div class="fr-col-6 fr-mb-auto fr-grid-row fr-grid-row--right">
                    {% block buttons %}
                        {% if form.instance and form.instance.is_draft %}
                            <button type="submit" name="action" value="draft" class="fr-btn fr-btn--secondary fr-mr-2w">
                                Enregistrer le brouillon
                            </button>
                        {% endif %}
                        <button id="submit_publish" type="submit" name="action" value="publish" class="fr-btn">
                            {% if form.instance.pk and not form.instance.is_draft %}
                                Enregistrer
                            {% else %}
                                Publier
                            {% endif %}
                        </button>
                    {% endblock %}
                </div>
            </div>
            {{ form }}
        </main>
    </form>
{% endblock %}
