.cas-fieldset .fr-grid-row {
    align-items: end;
}

.form-fieldset {
    display: block;
    width: 100%;
}

fieldset.form-fieldset.repas-fieldset,
fieldset.form-fieldset.aliment-fieldset,
fieldset.form-fieldset.etablissement-fieldset,
fieldset.form-fieldset.analyses-alimentaires-fieldset {
    border: 1px var(--grey-975-100-active) solid;
}

.fieldset-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.etiologie-info {
    color: var(--text-default-info);
}

.etiologie-template {
    border: 1px solid var(--text-default-info);
    border-radius: 20px;
}

#radio-id_danger_syndromiques_suspectes_display .fr-label {
    display: block !important;
}

.repas-modal .fr-checkbox-group,
.aliment-modal .fr-checkbox-group,
.aliment-modal .fr-radio-group {
    margin-top: 0.5rem;
}

@media (min-width: 78em) {
    .fr-container {
        max-width: unset;
    }
}

#id_selected_hazard {
    opacity: 0;
    height: 0;
    padding: 1px;
}
