.danger-emphasis {
    font-style: italic;
    font-weight: bold;
}
.etiologie-card-container {
    width: 100%;
    background-color: var(--background-alt-grey);
}
.conclusion-comment .fr-input-group {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.conclusion-comment textarea {
    flex-grow: 1;
}
