    <form method="post" action="{% url 'document-upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
    {{ document_form }}
    <button type="submit" class="fr-btn">Envoyer</button>
</form>

<div class="fr-container--fluid">
  <div class="fr-grid-row">

    {% for document in document_list %}
<div class="fr-col-2">
            <div class="fr-card fr-enlarge-link fr-card--download">
                <div class="fr-card__body">
                    <div class="fr-card__content">
                        <h3 class="fr-card__title">
                            <a download href="{{ document.file.url }}" target="_blank">
                                {{ document.nom }}
                            </a>
                        </h3>
                        <p class="fr-card__desc">{{ document.description | truncatechars:150 | default:"Pas de description" }}</p>
                        <div class="fr-card__end">
{#                            TODO mimtype and size/weight#}
                            <p class="fr-card__detail">JPG – 61,88 ko - Ajouté le {{ document.date_creation }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
