{% load dsfr_tags set_context_var %}
<div
    id="{{ widget.attrs.id }}-wrapper"
    data-controller="legacy-treeselect"
    data-legacy-treeselect-data-value="{{ categorie_choices_data }}"
>
    {% set_context_var widget.attrs "data-legacy-treeselect-target" "input" %}
    <input type="hidden" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
    <section
        data-legacy-treeselect-target="treeselect"
        data-action="update-dom->legacy-treeselect#patchItems input->legacy-treeselect#onInput"
        data-selected="{% if widget.value != None %}{{ widget.value }}{% endif %}"
    ></section>
</div>
